<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Loader
        <div class="sub header">
          A loader alerts a user to wait for an activity to complete
        </div>
      </h1>

      <div class="ui hidden divider"></div>

      <div class="ui right floated main menu">

        <a class="bug popup icon item" data-content="Submit Bug Report" href="https://github.com/ngx-semantic/ngx-semantic/issues">
          <i class="bug icon"></i>
        </a>

        <a class="github popup icon item" data-content="View project on GitHub" href="https://github.com/ngx-semantic/ngx-semantic">
          <i class="alternate github icon"></i>
        </a>
      </div>

      <div sui-button suiEmphasis="primary">
        Download
      </div>
    </div>
  </div>
</div>
<br>

<div class="main ui container">
  <h2 sui-header suiDividing="true">Types</h2>
  <br>

  <doc-code-sample
    [content]="stdLoader"
    [code]="snippetStdLoader">
    <h3 sui-header>Loader</h3>
    <p>A loader</p>

    <ng-template #stdLoader>
      <div sui-segment>
        <div class="ui active dimmer">
          <div sui-loader suiSize="medium" suiText="false"></div>
        </div>
        <p style="height: 50px"></p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample
    [content]="txtLoader"
    [code]="snippetTextLoader">
    <h3 sui-header>Text Loader</h3>
    <p>A loader can contain text</p>

    <ng-template #txtLoader>
      <div sui-segment>
        <div class="ui active dimmer">
          <div sui-loader suiSize="medium" suiText="true">Loading</div>
        </div>
        <p style="height: 50px"></p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample
    [content]="sizedLoaders"
    [code]="snippetSizedLoaders">
    <h3 sui-header>Sized</h3>
    <p>Loaders can have different sizes</p>

    <ng-template #sizedLoaders>
      <div sui-segment>
        <div class="ui active dimmer">
          <div sui-loader suiSize="mini" suiText="true">Loading</div>
        </div>
        <p style="height: 50px"></p>
      </div>
      <div sui-segment>
        <div class="ui active dimmer">
          <div sui-loader suiSize="tiny" suiText="true">Loading</div>
        </div>
        <p style="height: 55px"></p>
      </div>
      <div sui-segment>
        <div class="ui active dimmer">
          <div sui-loader suiSize="small" suiText="true">Loading</div>
        </div>
        <p style="height: 60px"></p>
      </div>
      <div sui-segment>
        <div class="ui active dimmer">
          <div sui-loader suiSize="medium" suiText="true">Loading</div>
        </div>
        <p style="height: 65px"></p>
      </div>
      <div sui-segment>
        <div class="ui active dimmer">
          <div sui-loader suiSize="large" suiText="true">Loading</div>
        </div>
        <p style="height: 70px"></p>
      </div>
      <div sui-segment>
        <div class="ui active dimmer">
          <div sui-loader suiSize="big" suiText="true">Loading</div>
        </div>
        <p style="height: 80px"></p>
      </div>
      <div sui-segment>
        <div class="ui active dimmer">
          <div sui-loader suiSize="huge" suiText="true">Loading</div>
        </div>
        <p style="height: 90px"></p>
      </div>
      <div sui-segment>
        <div class="ui active dimmer">
          <div sui-loader suiSize="massive" suiText="true">Loading</div>
        </div>
        <p style="height: 100px"></p>
      </div>
    </ng-template>
  </doc-code-sample>
</div>
