<doc-page
    header="Flags"
    subHeader="A button indicates a possible user action"
    (pageChanged)="tabChanged($event)">
  <ng-container *ngIf="isDefinitionsActive">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample
        [content]="stdLoader"
        [templateCode]="snippetStdLoader">
      <h3 sui-header>Loader</h3>
      <p>A loader</p>

      <ng-template #stdLoader>
        <div sui-segment>
          <div class="ui active dimmer">
            <div sui-loader suiSize="medium" suiText="false"></div>
          </div>
          <p style="height: 50px"></p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="txtLoader"
        [templateCode]="snippetTextLoader">
      <h3 sui-header>Text Loader</h3>
      <p>A loader can contain text</p>

      <ng-template #txtLoader>
        <div sui-segment>
          <div class="ui active dimmer">
            <div sui-loader suiSize="medium" suiText>Loading</div>
          </div>
          <p style="height: 50px"></p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="sizedLoaders"
        [templateCode]="snippetSizedLoaders">
      <h3 sui-header>Sized</h3>
      <p>Loaders can have different sizes</p>

      <ng-template #sizedLoaders>
        <div sui-segment>
          <div class="ui active dimmer">
            <div sui-loader suiSize="mini" suiText>Loading</div>
          </div>
          <p style="height: 50px"></p>
        </div>
        <div sui-segment>
          <div class="ui active dimmer">
            <div sui-loader suiSize="tiny" suiText>Loading</div>
          </div>
          <p style="height: 55px"></p>
        </div>
        <div sui-segment>
          <div class="ui active dimmer">
            <div sui-loader suiSize="small" suiText>Loading</div>
          </div>
          <p style="height: 60px"></p>
        </div>
        <div sui-segment>
          <div class="ui active dimmer">
            <div sui-loader suiSize="medium" suiText>Loading</div>
          </div>
          <p style="height: 65px"></p>
        </div>
        <div sui-segment>
          <div class="ui active dimmer">
            <div sui-loader suiSize="large" suiText>Loading</div>
          </div>
          <p style="height: 70px"></p>
        </div>
        <div sui-segment>
          <div class="ui active dimmer">
            <div sui-loader suiSize="big" suiText>Loading</div>
          </div>
          <p style="height: 80px"></p>
        </div>
        <div sui-segment>
          <div class="ui active dimmer">
            <div sui-loader suiSize="huge" suiText>Loading</div>
          </div>
          <p style="height: 90px"></p>
        </div>
        <div sui-segment>
          <div class="ui active dimmer">
            <div sui-loader suiSize="massive" suiText>Loading</div>
          </div>
          <p style="height: 100px"></p>
        </div>
      </ng-template>
    </doc-code-sample>
  </ng-container>

  <ng-container *ngIf="isApiActive">
    <h2 sui-header
        suiDividing>sui-flag</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiCountry</td>
        <td>
          The ISO code for the country e.g <span sui-label>ng</span> for Nigeria
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</doc-page>