<doc-page
    header="Statistic"
    subHeader="A statistic emphasizes the current value of an attribute">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetBasic">
      <h3 sui-header>Statistic</h3>
      <p>A statistic can display a value with a label above or below it.</p>

      <ng-template docDemo>
        <doc-statistic-basic-example></doc-statistic-basic-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBasicAlternate">
      <ng-template docDemo>
        <doc-statistic-basic-alternate-example></doc-statistic-basic-alternate-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetGroup">
      <h3 sui-header>Statistic Group</h3>
      <p>A group of statistics.</p>

      <ng-template docDemo>
        <doc-statistic-group-example></doc-statistic-group-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Content</h2>

    <doc-code-sample
        [templateCode]="snippetValue">
      <h3 sui-header>Value</h3>
      <p>A statistic can contain a numeric, icon, image, or text value.</p>

      <ng-template docDemo>
        <doc-statistic-value-example></doc-statistic-value-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLabel">
      <h3 sui-header>Label</h3>
      <p>A statistic can contain a label to help provide context for the presented value.</p>

      <ng-template docDemo>
        <doc-statistic-label-example></doc-statistic-label-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetHorizontal">
      <h3 sui-header>Horizontal Statistic</h3>
      <p>A statistic can present its measurement horizontally.</p>

      <ng-template docDemo>
        <doc-statistic-horizontal-stat-example></doc-statistic-horizontal-stat-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHorizontalGroup">
      <ng-template docDemo>
        <doc-statistic-horizontal-stat-group-example></doc-statistic-horizontal-stat-group-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetColoured">
      <h3 sui-header>Coloured</h3>
      <p>A statistic can be formatted to be different colours.</p>

      <ng-template docDemo>
        <doc-statistic-coloured-example></doc-statistic-coloured-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>A statistic can be formatted to fit on a dark background.</p>

      <ng-template docDemo>
        <doc-statistic-inverted-example></doc-statistic-inverted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetEvenlyDivided">
      <h3 sui-header>Evenly Divided</h3>
      <p>A statistic group can have its items divided evenly.</p>

      <ng-template docDemo>
        <doc-statistic-evenly-divided-example></doc-statistic-evenly-divided-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFloated">
      <h3 sui-header>Floated</h3>
      <p>An statistic can sit to the left or right of other content.</p>

      <ng-template docDemo>
        <doc-statistic-floated-example></doc-statistic-floated-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizes">
      <h3 sui-header>Size</h3>
      <p>A statistic can vary in size.</p>

      <ng-template docDemo>
        <doc-statistic-size-example></doc-statistic-size-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHorizontalSizes">
      <ng-template docDemo>
        <doc-statistic-size-horizontal-example></doc-statistic-size-horizontal-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-statistic</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the rating size. Allowed values could be
          <span sui-label>mini</span> | <span sui-label>tiny</span> | <span sui-label>small</span> | <span
              sui-label>medium</span> | <span sui-label>big</span> | <span sui-label>huge</span> | <span
              sui-label>massive</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiColour</td>
        <td>Set the message colour. Allowed values could be
          <span sui-label>'red'</span> | <span sui-label>'orange'</span> | <span sui-label>'yellow'</span> | <span
              sui-label>'olive'</span> | <span sui-label>'green'</span> | <span sui-label>'teal'</span> | <span
              sui-label>'blue'</span> | <span sui-label>'violet'</span> | <span sui-label>'purple'</span> | <span
              sui-label>'pink'</span> | <span sui-label>'brown'</span> | <span sui-label>'grey'</span> | <span
              sui-label>'black'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFloated</td>
        <td>Determines in what direction to float the statistic element. Allowed values could be
          <span sui-label>left</span> | <span sui-label>right</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal"> string</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> null</div>
        </td>
      </tr>
      <tr>
        <td>suiHorizontal</td>
        <td>
          Setting to true or false will determine if the statistic is rendered horizontally
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>
          Setting to true or false will determine if the statistic is rendered with inverted colours
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>sui-statistics</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiWidth</td>
        <td>Set the steps content width. Allowed values could be
          <span sui-label>one</span> | <span sui-label>two</span> | <span sui-label>three</span> | <span
              sui-label>four</span> | <span sui-label>five</span> | <span sui-label>six</span> | <span
              sui-label>seven</span> |
          <span sui-label>eight</span> | <span sui-label>nine</span> | <span sui-label>ten</span> | <span
              sui-label>eleven</span> | <span sui-label>twelve</span> | <span sui-label>thirteen</span> | <span
              sui-label>fourteen</span>| <span sui-label>fifteen</span> | <span
              sui-label>sixteen</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal"> string</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> null</div>
        </td>
      </tr>
      <tr>
        <td>suiHorizontal</td>
        <td>
          Setting to true or false will determine if the statistic group is rendered horizontally
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiStatValue</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiText</td>
        <td>
          Setting to true or false will determine if the statistic value is rendered as extended text
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiStatLabel</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</doc-page>
