<div sui-statistics suiWidth="four">
  <div sui-statistic>
    <div suiStatValue>22</div>
    <div suiStatLabel>Saves</div>
  </div>
  <div sui-statistic>
    <div suiStatValue suiText>Three<br> Thousand</div>
    <div suiStatLabel>Signups</div>
  </div>
  <div sui-statistic>
    <div suiStatValue>
      <i sui-icon suiIconType="plane"></i>
      5
    </div>
    <div suiStatLabel>Flights</div>
  </div>
  <div sui-statistic>
    <div suiStatValue>
      <img sui-image suiCircular suiInline src="https://semantic-ui.com/images/avatar/small/joe.jpg"/>
      42
    </div>
    <div suiStatLabel>Team Members</div>
  </div>
</div>
