<div sui-segment suiInverted>
  <div sui-statistic suiInverted>
    <div suiStatValue>54</div>
    <div suiStatLabel>Inverted</div>
  </div>
  <div sui-statistic suiInverted suiColour="red">
    <div suiStatValue>27</div>
    <div suiStatLabel>Red</div>
  </div>
  <div sui-statistic suiInverted suiColour="orange">
    <div suiStatValue>8</div>
    <div suiStatLabel>Orange</div>
  </div>
  <div sui-statistic suiInverted suiColour="yellow">
    <div suiStatValue>28</div>
    <div suiStatLabel>Yellow</div>
  </div>
  <div sui-statistic suiInverted suiColour="olive">
    <div suiStatValue>7</div>
    <div suiStatLabel>Olive</div>
  </div>
  <div sui-statistic suiInverted suiColour="green">
    <div suiStatValue>14</div>
    <div suiStatLabel>Green</div>
  </div>
  <div sui-statistic suiInverted suiColour="teal">
    <div suiStatValue>82</div>
    <div suiStatLabel>Teal</div>
  </div>
  <div sui-statistic suiInverted suiColour="blue">
    <div suiStatValue>1</div>
    <div suiStatLabel>Blue</div>
  </div>
  <div sui-statistic suiInverted suiColour="violet">
    <div suiStatValue>22</div>
    <div suiStatLabel>Violet</div>
  </div>
  <div sui-statistic suiInverted suiColour="purple">
    <div suiStatValue>23</div>
    <div suiStatLabel>Purple</div>
  </div>
  <div sui-statistic suiInverted suiColour="pink">
    <div suiStatValue>15</div>
    <div suiStatLabel>Pink</div>
  </div>
  <div sui-statistic suiInverted suiColour="brown">
    <div suiStatValue>36</div>
    <div suiStatLabel>Brown</div>
  </div>
  <div sui-statistic suiInverted suiColour="grey">
    <div suiStatValue>49</div>
    <div suiStatLabel>Grey</div>
  </div>
</div>
