<div sui-statistic suiHorizontal suiSize="mini">
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
<div sui-statistic suiHorizontal suiSize="tiny">
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
<div sui-statistic suiHorizontal suiSize="small">
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
<div sui-statistic suiHorizontal>
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
<div sui-statistic suiHorizontal suiSize="large">
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
<div sui-statistic suiHorizontal suiSize="huge">
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
