<div sui-statistic suiSize="mini">
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
<div sui-statistic suiSize="tiny">
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
<div sui-statistic suiSize="small">
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
<div sui-statistic>
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
<div sui-statistic suiSize="large">
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
<div sui-statistic suiSize="huge">
  <div suiStatValue>2,204</div>
  <div suiStatLabel>Views</div>
</div>
