<doc-page
    header="Input"
    subHeader="An input is a field used to elicit a response from a user">
  <div *docPageContent="'definition'">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetStandard">
      <h3 sui-header>Input</h3>
      <p>A standard input</p>

      <ng-template docDemo>
        <doc-input-standard-example></doc-input-standard-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>States</h2>

    <doc-code-sample
        [templateCode]="snippetFocus">
      <h3 sui-header>Focus</h3>
      <p>An input field can show a user is currently interacting with it</p>

      <ng-template docDemo>
        <doc-input-focus-example></doc-input-focus-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLoading">
      <h3 sui-header>Loading</h3>
      <p>An icon input field can show that it is currently loading data</p>

      <div sui-message>
        Loading inputs automatically modify the input's icon on loading state to show loading indication
      </div>

      <br/>

      <ng-template docDemo>
        <doc-input-loading-example></doc-input-loading-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLoadingRight">
      <ng-template docDemo>
        <doc-input-loading-right-example></doc-input-loading-right-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>An input field can show that it is disabled</p>

      <ng-template docDemo>
        <doc-input-disabled-example></doc-input-disabled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDisabledIcon">
      <ng-template docDemo>
        <doc-input-disabled-icon-example></doc-input-disabled-icon-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDisabledInput">
      <ng-template docDemo>
        <doc-input-disabled-input-example></doc-input-disabled-input-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetError">
      <h3 sui-header>Error</h3>
      <p>An input field can show the data contains errors</p>

      <ng-template docDemo>
        <doc-input-error-example></doc-input-error-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetIcon">
      <h3 sui-header>Icon</h3>
      <p>An input can be formatted with an icon</p>

      <div sui-message>
        Input icons do not receive <b><code>pointer-events</code></b> unless a <b><code>link icon</code></b> is used.
      </div>

      <br/>

      <ng-template docDemo>
        <doc-input-icon-example></doc-input-icon-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetIconPosition">
      <ng-template docDemo>
        <doc-input-icon-position-example></doc-input-icon-position-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetIconCircular">
      <ng-template docDemo>
        <doc-input-icon-circular-example></doc-input-icon-circular-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetIconCircularInverted">
      <ng-template docDemo>
        <doc-input-icon-circular-inverted-example></doc-input-icon-circular-inverted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLabeled">
      <h3 sui-header>Labeled</h3>
      <p>An input can be formatted with a label</p>

      <ng-template docDemo>
        <doc-input-labeled-example></doc-input-labeled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRightLabeled">
      <ng-template docDemo>
        <doc-input-right-labeled-example></doc-input-right-labeled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBasicLabeled">
      <ng-template docDemo>
        <doc-input-basic-labeled-example></doc-input-basic-labeled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCombinedLabeled">
      <ng-template docDemo>
        <doc-input-combined-labeled-example></doc-input-combined-labeled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetAngledLabeled">
      <ng-template docDemo>
        <doc-input-angled-labeled-example></doc-input-angled-labeled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLeftCornerLabeled">
      <ng-template docDemo>
        <doc-input-left-corner-labeled-example></doc-input-left-corner-labeled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCornerLabeled">
      <ng-template docDemo>
        <doc-input-corner-labeled-example></doc-input-corner-labeled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetAction">
      <h3 sui-header>Action</h3>
      <p>An input can be formatted to alert the user to an action they may perform</p>

      <ng-template docDemo>
        <doc-input-action-example></doc-input-action-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLeftAction">
      <ng-template docDemo>
        <doc-input-left-action-example></doc-input-left-action-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRightAction">
      <ng-template docDemo>
        <doc-input-right-action-example></doc-input-right-action-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCombinedAction">
      <ng-template docDemo>
        <doc-input-combined-action-example></doc-input-combined-action-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRightLabeledAction">
      <ng-template docDemo>
        <doc-input-right-label-action-example></doc-input-right-label-action-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetIconAction">
      <ng-template docDemo>
        <doc-input-icon-action-example></doc-input-icon-action-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetTransparent">
      <h3 sui-header>Transparent</h3>
      <p>A transparent input has no background</p>

      <ng-template docDemo>
        <doc-input-transparent-example></doc-input-transparent-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetIconTransparent">
      <ng-template docDemo>
        <doc-input-icon-transparent-example></doc-input-icon-transparent-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLeftIconTransparent">
      <ng-template docDemo>
        <doc-input-left-icon-transparent-example></doc-input-left-icon-transparent-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>An input can be formatted to appear on dark backgrounds</p>

      <ng-template docDemo>
        <doc-input-inverted-example></doc-input-inverted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFluid">
      <h3 sui-header>Fluid</h3>
      <p>An input can take the size of its container</p>

      <ng-template docDemo>
        <doc-input-fluid-example></doc-input-fluid-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetMiniSize">
      <h3 sui-header>Size</h3>
      <p>An input can vary in sizer</p>

      <div sui-message
           suiState="info">
        Inputs will automatically size themselves unless you manually declare a width
      </div>

      <br/>

      <ng-template docDemo>
        <doc-input-mini-size-example></doc-input-mini-size-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSmallSize">
      <ng-template docDemo>
        <doc-input-small-size-example></doc-input-small-size-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLargeSize">
      <ng-template docDemo>
        <doc-input-large-size-example></doc-input-large-size-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBigSize">
      <ng-template docDemo>
        <doc-input-big-size-example></doc-input-big-size-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHugeSize">
      <ng-template docDemo>
        <doc-input-huge-size-example></doc-input-huge-size-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetMassiveSize">
      <ng-template docDemo>
        <doc-input-massive-size-example></doc-input-massive-size-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-input</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiFluid</td>
        <td>
          Determine if the input should fill the width of it's parent container
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiTransparent</td>
        <td>
          Determine if the input has a background or not
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>
          Determine if the input has its colours inverted
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFocus</td>
        <td>
          Determine if the input is currently being interacted with
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiLoading</td>
        <td>
          Determine if the input is currently loading data
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiError</td>
        <td>
          Determine if data in the input element contains errors
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>
          Determine if the input is disabled or not
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSize</td>
        <td>Determine the input size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiAction</td>
        <td>Determine the formatting of the action element(s) on an input. Allowed values could be
          <span sui-label>'action'</span> | <span sui-label>'left action'</span> | <span sui-label>'right action'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiLabeled</td>
        <td>Determine the formatting of an input label. Allowed values could be
          <span sui-label>'labeled'</span> | <span sui-label>'left labeled'</span> | <span sui-label>'right labeled'</span> | <span sui-label>'corner labeled'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiIcon</td>
        <td>Determine the formatting of an input icon. Allowed values could be
          <span sui-label>'icon'</span> | <span sui-label>'left icon'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
