<doc-page
    header="Input"
    subHeader="An input is a field used to elicit a response from a user"
    (pageChanged)="tabChanged($event)">
  <ng-container *ngIf="isDefinitionsActive">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample
        [content]="standard"
        [templateCode]="snippetStandard">
      <h3 sui-header>Input</h3>
      <p>A standard input</p>

      <ng-template #standard>
        <div sui-input>
          <input type="text" placeholder="Search..."/>
        </div>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>States</h2>

    <doc-code-sample
        [content]="focus"
        [templateCode]="snippetFocus">
      <h3 sui-header>Focus</h3>
      <p>An input field can show a user is currently interacting with it</p>

      <ng-template #focus>
        <div sui-input
             suiFocus>
          <input type="text" placeholder="Search..."/>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="loading"
        [templateCode]="snippetLoading">
      <h3 sui-header>Loading</h3>
      <p>An icon input field can show that it is currently loading data</p>

      <div sui-message>
        Loading inputs automatically modify the input's icon on loading state to show loading indication
      </div>

      <br/>

      <ng-template #loading>
        <div sui-input
             suiLoading
             suiIcon
             suiIconPosition="left">
          <input type="text" placeholder="Search..."/>
          <i sui-icon
             suiIconType="search"></i>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="loadingRight"
        [templateCode]="snippetLoadingRight">
      <ng-template #loadingRight>
        <div sui-input
             suiLoading
             suiIcon
             suiIconPosition="right">
          <input type="text" placeholder="Search..."/>
          <i sui-icon
             suiIconType="search"></i>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="disabled"
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>An input field can show that it is disabled</p>

      <ng-template #disabled>
        <div sui-input
             disabled>
          <input type="text" placeholder="Search..."/>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="disabledIcon"
        [templateCode]="snippetDisabledIcon">
      <ng-template #disabledIcon>
        <div sui-input
             disabled
             suiIcon>
          <i sui-icon
             suiIconType="search"></i>
          <input type="text" placeholder="Search..."/>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="disabledInput"
        [templateCode]="snippetDisabledInput">
      <ng-template #disabledInput>
        <div sui-input>
          <input disabled type="text" placeholder="Search..."/>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="error"
        [templateCode]="snippetError">
      <h3 sui-header>Error</h3>
      <p>An input field can show the data contains errors</p>

      <ng-template #error>
        <div sui-input
             suiError>
          <input type="text" placeholder="Search..."/>
        </div>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Variations</h2>

    <doc-code-sample
        [content]="icon"
        [templateCode]="snippetIcon">
      <h3 sui-header>Icon</h3>
      <p>An input can be formatted with an icon</p>

      <div sui-message>
        Input icons do not receive <b><code>pointer-events</code></b> unless a <b><code>link icon</code></b> is used.
      </div>

      <br/>

      <ng-template #icon>
        <div sui-input
             suiIcon>
          <input type="text" placeholder="Search..."/>
          <i sui-icon
             suiIconType="search"></i>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="iconPosition"
        [templateCode]="snippetIconPosition">
      <ng-template #iconPosition>
        <div sui-input
             suiIcon
             suiIconPosition="left">
          <input type="text" placeholder="Search users..."/>
          <i sui-icon
             suiIconType="users"></i>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="iconCircular"
        [templateCode]="snippetIconCircular">
      <ng-template #iconCircular>
        <div sui-input
             suiIcon>
          <input type="text" placeholder="Search users..."/>
          <i sui-icon
             suiIconType="circular search link"></i>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="iconCircularInverted"
        [templateCode]="snippetIconCircularInverted">
      <ng-template #iconCircularInverted>
        <div sui-input
             suiIcon>
          <input type="text" placeholder="Search..."/>
          <i sui-icon
             suiInverted
             suiIconType="circular search link"></i>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="labeled"
        [templateCode]="snippetLabeled">
      <h3 sui-header>Labeled</h3>
      <p>An input can be formatted with a label</p>

      <ng-template #labeled>
        <div sui-input
             suiLabeled="labeled">
          <div sui-label>
            http://
          </div>
          <input type="text" placeholder="mysite.com"/>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="rightLabeled"
        [templateCode]="snippetRightLabeled">
      <ng-template #rightLabeled>
        <div sui-input
             suiLabeled="right labeled">
          <input type="text" placeholder="Find domain"/>
          <div sui-label
               sui-dropdown>
            <div class="text">.com</div>
            <i sui-icon
               suiIconType="dropdown"></i>
            <div suiDropdownMenu>
              <div suiDropdownMenuItem>.com</div>
              <div suiDropdownMenuItem>.net</div>
              <div suiDropdownMenuItem>.org</div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="basicLabeled"
        [templateCode]="snippetBasicLabeled">
      <ng-template #basicLabeled>
        <div sui-input
             suiLabeled="right labeled">
          <input type="text" placeholder="Enter weight.."/>
          <div sui-label
               suiBasic>
            kg
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="combinedLabeled"
        [templateCode]="snippetCombinedLabeled">
      <ng-template #combinedLabeled>
        <div sui-input
             suiLabeled="right labeled">
          <label sui-label
                 for="amount">
            $
          </label>
          <input id="amount" type="text" placeholder="Amount"/>
          <div sui-label
               suiBasic>
            .00
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="angledLabeled"
        [templateCode]="snippetAngledLabeled">
      <ng-template #angledLabeled>
        <div sui-input
             suiIcon
             suiIconPosition="left"
             suiLabeled="right labeled">
          <i sui-icon
             suiIconType="tags"></i>
          <input type="text" placeholder="Enter tags"/>
          <div sui-label
               suiTag>
            Add Tag
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="leftCornerLabeled"
        [templateCode]="snippetLeftCornerLabeled">
      <ng-template #leftCornerLabeled>
        <div sui-input
             suiLabeled="left corner labeled">
          <input type="text" placeholder="Search..."/>
          <div sui-label
               suiCorner="left">
            <i sui-icon
               suiIconType="asterisk"></i>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="cornerLabeled"
        [templateCode]="snippetCornerLabeled">
      <ng-template #cornerLabeled>
        <div sui-input
             suiLabeled="corner labeled">
          <input type="text" placeholder="Search..."/>
          <div sui-label
               suiCorner="left">
            <i sui-icon
               suiIconType="asterisk"></i>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="action"
        [templateCode]="snippetAction">
      <h3 sui-header>Action</h3>
      <p>An input can be formatted to alert the user to an action they may perform</p>

      <ng-template #action>
        <div sui-input
             suiAction="action">
          <input type="text" placeholder="Search..."/>
          <button sui-button>Search</button>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="leftAction"
        [templateCode]="snippetLeftAction">
      <ng-template #leftAction>
        <div sui-input
             suiAction="left action">
          <button sui-button
                  suiIcon
                  suiColour="teal"
                  suiLabeled="labeled">
            <i sui-icon
               suiIconType="cart"></i>
            Checkout
          </button>
          <input type="text" value="$52.03"/>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="rightAction"
        [templateCode]="snippetRightAction">
      <ng-template #rightAction>
        <div sui-input
             suiIcon
             suiIconPosition="left"
             suiAction="right action">
          <i sui-icon
             suiIconType="search"></i>
          <input type="text" placeholder="Search..."/>
          <div sui-button
               suiBasic
               sui-dropdown
               suiFloating>
            <div class="text">This Page</div>
            <i sui-icon
               suiIconType="dropdown"></i>
            <div suiDropdownMenu>
              <div suiDropdownMenuItem>This Organization</div>
              <div suiDropdownMenuItem>Entire Site</div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="combinedAction"
        [templateCode]="snippetCombinedAction">
      <ng-template #combinedAction>
        <div sui-input
             suiAction="action">
          <input type="text" placeholder="Search..."/>
          <sui-select
              suiCompact
              suiPlaceholder="All"
              [suiOptions]="options"
              [(ngModel)]="selectedOption">
          </sui-select>
          <div sui-button>
            Search
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="rightLabelAction"
        [templateCode]="snippetRightLabeledAction">
      <ng-template #rightLabelAction>
        <div sui-input
             suiAction="action">
          <input type="text" value="http://ww.short.url/c0opq"/>
          <button sui-button
                  suiIcon
                  suiColour="teal"
                  suiLabeled="right labeled">
            <i sui-icon
               suiIconType="copy"></i>
            Copy
          </button>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="iconAction"
        [templateCode]="snippetIconAction">
      <ng-template #iconAction>
        <div sui-input
             suiAction="action">
          <input type="text" placeholder="Search..."/>
          <button sui-button
                  suiIcon>
            <i sui-icon
               suiIconType="search"></i>
          </button>
        </div>
      </ng-template>
    </doc-code-sample>
  </ng-container>

  <ng-container *ngIf="isApiActive">
    <h2 sui-header
        suiDividing>sui-placeholder</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiFluid</td>
        <td>
          Determine if the placeholder should fill the width of it's parent container
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiActive</td>
        <td>
          Determine if the placeholder has the active attribute
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>
          Determine if the placeholder has its colours inverted
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiPlaceholderHeader</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiImage</td>
        <td>
          Determine if the placeholder header is of image type
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiPlaceholderImage</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSquare</td>
        <td>
          Determine if the image should have a 1:1 aspect ratio
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiRectangular</td>
        <td>
          Determine if the image should have a 4:3 aspect ratio
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiPlaceholderLine</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiLength</td>
        <td>
          Determine how long the line should be. Allowed values could be
          <span sui-label>'full'</span> | <span sui-label>'very long'</span> |
          <span sui-label>'long'</span> | <span sui-label>'medium'</span> |
          <span sui-label>'short'</span> | <span sui-label>'very short'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiPlaceholderParagraph</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>
  </ng-container>
</doc-page>
