<doc-page
    header="Item"
    subHeader="An item view presents large collections of site content for display">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="standard"
        [templateCode]="snippetStandard">
      <h3 sui-header>Items <span sui-label suiColour="teal">Flexbox</span></h3>
      <p>A group of items</p>

      <div sui-message suiIcon suiState="positive">
        <i sui-icon suiIconType="mobile"></i>
        <div suiMessageContent>
          <h3 suiMessageHeader>Responsive Element</h3>
          <p>Item views are designed to be responsive with images stacking at mobile resolutions.</p>
        </div>
      </div>

      <ng-template #standard>
        <div sui-items>
          <div sui-item>
            <div suiItemImage>
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Header</a>
              <div suiItemMeta>
                <span>Description</span>
              </div>
              <div suiItemDescription>
                <img src="/assets/images/wireframes/short-paragraph.png"/>
              </div>
              <div suiItemExtra>
                Additional Details
              </div>
            </div>
          </div>
          <div sui-item>
            <div suiItemImage>
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Header</a>
              <div suiItemMeta>
                <span>Description</span>
              </div>
              <div suiItemDescription>
                <img src="/assets/images/wireframes/short-paragraph.png"/>
              </div>
              <div suiItemExtra>
                Additional Details
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Content</h2>

    <doc-code-sample
        [content]="imageContent"
        [templateCode]="snippetImageContent">
      <h3 sui-header>Image</h3>
      <p>An item can contain an image</p>

      <ng-template #imageContent>
        <div sui-items suiDivided>
          <div sui-item>
            <div suiItemImage>
              <img src="/assets/images/wireframes/image.png"/>
            </div>
          </div>
          <div sui-item>
            <div suiItemImage>
              <img src="/assets/images/wireframes/image.png"/>
            </div>
          </div>
          <div sui-item>
            <div suiItemImage>
              <img src="/assets/images/wireframes/image.png"/>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="content"
        [templateCode]="snippetContent">
      <h3 sui-header>Content</h3>
      <p>An item can contain content</p>

      <ng-template #content>
        <div sui-items suiDivided>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent suiAlignment="middle aligned">
              Content A
            </div>
          </div>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent suiAlignment="middle aligned">
              Content B
            </div>
          </div>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent suiAlignment="middle aligned">
              Content C
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
  </div>
</doc-page>
