<doc-page
    header="Item"
    subHeader="An item view presents large collections of site content for display">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="standard"
        [templateCode]="snippetStandard">
      <h3 sui-header>Items <span sui-label suiColour="teal">Flexbox</span></h3>
      <p>A group of items</p>

      <div sui-message suiIcon suiState="positive">
        <i sui-icon suiIconType="mobile"></i>
        <div suiMessageContent>
          <h3 suiMessageHeader>Responsive Element</h3>
          <p>Item views are designed to be responsive with images stacking at mobile resolutions.</p>
        </div>
      </div>

      <ng-template #standard>
        <div sui-items>
          <div sui-item>
            <div suiItemImage>
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Header</a>
              <div suiItemMeta>
                <span>Description</span>
              </div>
              <div suiItemDescription>
                <img src="/assets/images/wireframes/short-paragraph.png"/>
              </div>
              <div suiItemExtra>
                Additional Details
              </div>
            </div>
          </div>
          <div sui-item>
            <div suiItemImage>
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Header</a>
              <div suiItemMeta>
                <span>Description</span>
              </div>
              <div suiItemDescription>
                <img src="/assets/images/wireframes/short-paragraph.png"/>
              </div>
              <div suiItemExtra>
                Additional Details
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Content</h2>

    <doc-code-sample
        [content]="imageContent"
        [templateCode]="snippetImageContent">
      <h3 sui-header>Image</h3>
      <p>An item can contain an image</p>

      <ng-template #imageContent>
        <div sui-items suiDivided>
          <div sui-item>
            <div suiItemImage>
              <img src="/assets/images/wireframes/image.png"/>
            </div>
          </div>
          <div sui-item>
            <div suiItemImage>
              <img src="/assets/images/wireframes/image.png"/>
            </div>
          </div>
          <div sui-item>
            <div suiItemImage>
              <img src="/assets/images/wireframes/image.png"/>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="content"
        [templateCode]="snippetContent">
      <h3 sui-header>Content</h3>
      <p>An item can contain content</p>

      <ng-template #content>
        <div sui-items suiDivided>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent suiAlignment="middle aligned">
              Content A
            </div>
          </div>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent suiAlignment="middle aligned">
              Content B
            </div>
          </div>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent suiAlignment="middle aligned">
              Content C
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="header"
        [templateCode]="snippetHeader">
      <h3 sui-header>Header</h3>
      <p>An item can contain a header</p>

      <ng-template #header>
        <div sui-items suiDivided>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent suiAlignment="middle aligned">
              <a suiItemHeader>12 Years a Slave</a>
            </div>
          </div>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent suiAlignment="middle aligned">
              <a suiItemHeader>My Neighbour Totoro</a>
            </div>
          </div>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent suiAlignment="middle aligned">
              <a suiItemHeader>Watchmen</a>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="metadata"
        [templateCode]="snippetMetadata">
      <h3 sui-header>Metadata</h3>
      <p>An item can contain content metadata</p>

      <div sui-message suiState="info">
        <i sui-icon suiIconType="info"></i>
        You can include an arbitrary amount of metadata using your own class conventions, all child elements will
        automatically be spaced
      </div>

      <ng-template #metadata>
        <div sui-items suiDivided>
          <div sui-item>
            <div sui-image suiSize="small">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Arrowhead Valley Camp</a>
              <div suiItemMeta>
                <span>$1200</span>
                <span>1 Month</span>
              </div>
              <div suiItemDescription>
                <img src="/assets/images/wireframes/short-paragraph.png"/>
              </div>
            </div>
          </div>
          <div sui-item>
            <div sui-image suiSize="small">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Buck's Homebrew Stayaway</a>
              <div suiItemMeta>
                <span>$1000</span>
                <span>2 Weeks</span>
              </div>
              <div suiItemDescription>
                <img src="/assets/images/wireframes/short-paragraph.png"/>
              </div>
            </div>
          </div>
          <div sui-item>
            <div sui-image suiSize="small">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Astrology Camp</a>
              <div suiItemMeta>
                <span>$1600</span>
                <span>6 Weeks</span>
              </div>
              <div suiItemDescription>
                <img src="/assets/images/wireframes/short-paragraph.png"/>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="link"
        [templateCode]="snippetLink">
      <h3 sui-header>Link</h3>
      <p>An item can contain links as images, headers, or inside content</p>

      <div sui-message  suiColour="yellow">
        <i sui-icon suiIconType="star"></i>
        To make the entire content of an item link, check out the link variation below
      </div>

      <ng-template #link>
        <div sui-items>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Stevie Feliciano</a>
              <div suiItemDescription>
                <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
              </div>
            </div>
          </div>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Veronika Ossi</a>
              <div suiItemDescription>
                <p>Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.</p>
              </div>
            </div>
          </div>
          <div sui-item>
            <div sui-image suiSize="tiny">
              <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Jenny Hess</a>
              <div suiItemDescription>
                <p>Veronika Ossi is a set designer living in New York who <a>enjoys</a> kittens, music, and partying.</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="description"
        [templateCode]="snippetDescription">
      <h3 sui-header>Description</h3>
      <p>An item can contain a description with a single or multiple paragraphs</p>

      <ng-template #description>
        <div sui-items>
          <div sui-item>
            <div sui-image suiSize="small">
              <img src="/assets/images/wireframes/image.png"/>
            </div>
            <div suiItemContent>
              <a suiItemHeader>Cute Dog</a>
              <div suiItemDescription>
                <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                <p>Many people also have their own barometers for what makes a cute dog.</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
  </div>
</doc-page>
