<doc-page
    header="Item"
    subHeader="An item view presents large collections of site content for display">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetStandard">
      <h3 sui-header>Items <span sui-label suiColour="teal">Flexbox</span></h3>
      <p>A group of items</p>

      <div sui-message suiIcon suiState="positive">
        <i sui-icon suiIconType="mobile"></i>
        <div suiMessageContent>
          <h3 suiMessageHeader>Responsive Element</h3>
          <p>Item views are designed to be responsive with images stacking at mobile resolutions.</p>
        </div>
      </div>

      <ng-template docDemo>
        <doc-item-standard-example></doc-item-standard-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Content</h2>

    <doc-code-sample
        [templateCode]="snippetImageContent">
      <h3 sui-header>Image</h3>
      <p>An item can contain an image</p>

      <ng-template docDemo>
        <doc-item-image-content-example></doc-item-image-content-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetContent">
      <h3 sui-header>Content</h3>
      <p>An item can contain content</p>

      <ng-template docDemo>
        <doc-item-content-example></doc-item-content-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHeader">
      <h3 sui-header>Header</h3>
      <p>An item can contain a header</p>

      <ng-template docDemo>
        <doc-item-header-example></doc-item-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetMetadata">
      <h3 sui-header>Metadata</h3>
      <p>An item can contain content metadata</p>

      <div sui-message suiState="info">
        <i sui-icon suiIconType="info"></i>
        You can include an arbitrary amount of metadata using your own class conventions, all child elements will
        automatically be spaced
      </div>

      <ng-template docDemo>
        <doc-item-metadata-example></doc-item-metadata-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLink">
      <h3 sui-header>Link</h3>
      <p>An item can contain links as images, headers, or inside content</p>

      <div sui-message suiColour="yellow">
        <i sui-icon suiIconType="star"></i>
        To make the entire content of an item link, check out the link variation below
      </div>

      <ng-template docDemo>
        <doc-item-link-example></doc-item-link-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDescription">
      <h3 sui-header>Description</h3>
      <p>An item can contain a description with a single or multiple paragraphs</p>

      <ng-template docDemo>
        <doc-item-description-example></doc-item-description-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetExtraContent">
      <h3 sui-header>Extra Content</h3>
      <p>An item can contain extra content meant to be formatted separately from the main content</p>

      <ng-template docDemo>
        <doc-item-extra-content-example></doc-item-extra-content-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRating">
      <h3 sui-header>Rating</h3>
      <p>An item can contain icons signifying a 'like' or 'favorite' action</p>

      <div sui-message suiState="info">
        You can use the rating component to attach events to like and favorite icons
      </div>

      <ng-template docDemo>
        <doc-item-rating-example></doc-item-rating-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetUnstackable">
      <h3 sui-header>Stacking</h3>
      <p>A table can specify how it stacks items responsively</p>

      <ng-template docDemo>
        <doc-item-unstackable-example></doc-item-unstackable-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDivided">
      <h3 sui-header>Divided</h3>
      <p>Items can be divided to better distinguish between grouped content</p>

      <ng-template docDemo>
        <doc-item-divided-example></doc-item-divided-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRelaxed">
      <h3 sui-header>Relaxed</h3>
      <p>A group of items can relax its padding to provide more negative space</p>

      <ng-template docDemo>
        <doc-item-relaxed-example></doc-item-relaxed-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetVeryRelaxed">
      <ng-template docDemo>
        <doc-item-very-relaxed-example></doc-item-very-relaxed-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLinkItem">
      <h3 sui-header>Link Item</h3>
      <p>An item can be formatted so that the entire contents link to another page</p>

      <ng-template docDemo>
        <doc-item-link-item-example></doc-item-link-item-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetVerticalAlignment">
      <h3 sui-header>Vertical Alignment</h3>
      <p>Content can specify its vertical alignment</p>

      <div sui-message suiState="info">
        <i sui-icon suiIconType="info"></i>
        You can include an arbitrary amount of metadata using your own class conventions, all child elements will
        automatically be spaced
      </div>

      <ng-template docDemo>
        <doc-item-vertical-alignment-example></doc-item-vertical-alignment-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFloatedContent">
      <h3 sui-header>Floated Content</h3>
      <p>Any content element can be floated left or right</p>

      <div sui-message suiState="info">
        <i sui-icon suiIconType="info"></i>
        You can include an arbitrary amount of metadata using your own class conventions, all child elements will
        automatically be spaced
      </div>

      <ng-template docDemo>
        <doc-item-floated-content-example></doc-item-floated-content-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-items</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiRelaxed</td>
        <td>
          Determines if the items are rendered with increased spacing. Allowed values could be
          <span sui-label>relaxed</span> | <span sui-label>very relaxed</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiDivided</td>
        <td>
          Determines if the items are divided
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiUnstackable</td>
        <td>
          Determines if the items are unstackable
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiLink</td>
        <td>
          Determine if the items should be rendered as links
        </td>
        <td>
          <div sui-label suiColour="teal">boolean
          </div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>sui-item</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>

    <h2 sui-header
        suiDividing>suiItemContent</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiRelaxed</td>
        <td>
          Determines the vertical alignment of the item content. Allowed values could be
          <span sui-label>middle aligned</span> | <span sui-label>bottom aligned</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiItemDescription</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>

    <h2 sui-header
        suiDividing>suiItemExtra</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>

    <h2 sui-header
        suiDividing>suiItemHeader</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>

    <h2 sui-header
        suiDividing>suiItemImage</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>

    <h2 sui-header
        suiDividing>suiItemMeta</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</doc-page>
