<doc-page
  header="Item"
  subHeader="An item view presents large collections of site content for display">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="basic"
        [templateCode]="snippetBasic">
      <h3 sui-header>Items</h3>
      <p>A group of items.</p>

      <ng-template #basic>
        <div sui-items>
          <div suiItem>
            <div sui-image>
              <img suiPlaceholderImage />
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>


    <h2 sui-header
        suiDividing>Content</h2>
  </div>

  <div *docPageContent="'api'">

  </div>
</doc-page>
