<div sui-cards>
  <div sui-card>
    <div suiCardContent>
      <img sui-image suiFloated="right floated" suiSize="mini" src="/assets/images/elliot.jpg" alt="Elliot Fu">
      <div suiCardHeader>Elliot Fu</div>
      <div suiCardMeta>Friends of Veronika</div>
      <div suiCardDescription>
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div suiCardExtra>
      <div sui-buttons suiWidth="two">
        <div sui-button suiBasic suiColour="green">Approve</div>
        <div sui-button suiBasic suiColour="red">Decline</div>
      </div>
    </div>
  </div>
  <div sui-card>
    <div suiCardContent>
      <img sui-image suiFloated="right floated" suiSize="mini" src="/assets/images/jenny.jpg" alt="Jenny Hess">
      <div suiCardHeader>Jenny Hess</div>
      <div suiCardMeta>New Member</div>
      <div suiCardDescription>
        Jenny wants to add you to the group <strong>best friends</strong>
      </div>
    </div>
    <div suiCardExtra>
      <div sui-buttons suiWidth="two">
        <div sui-button suiBasic suiColour="green">Approve</div>
        <div sui-button suiBasic suiColour="red">Decline</div>
      </div>
    </div>
  </div>
  <div sui-card>
    <div suiCardContent>
      <img sui-image suiFloated="right floated" suiSize="mini" src="/assets/images/matt.jpg" alt="Matt Giampietro">
      <div suiCardHeader>Matt Giampietro</div>
      <div suiCardMeta>Friends</div>
      <div suiCardDescription>
        Matt is an interior designer living in New York.
      </div>
    </div>
    <div suiCardExtra>
      <span class="right floated">Joined in 2013</span>
      <span>
        <i sui-icon suiIconType="user"></i>
        75 Friends
      </span>
    </div>
  </div>
  <div sui-card>
    <div suiCardContent>
      <img sui-image suiFloated="right floated" suiSize="mini" src="/assets/images/helen.jpg" alt="Helen Troy">
      <div suiCardHeader>Helen Troy</div>
      <div suiCardMeta>Coworker</div>
      <div suiCardDescription>
        Helen is a personal assistant living in Paris.
      </div>
    </div>
    <div suiCardExtra>
      <span class="right floated">Joined in 2011</span>
      <span>
        <i sui-icon suiIconType="user"></i>
        35 Friends
      </span>
    </div>
  </div>
</div>
