<div sui-cards>
  <div sui-card suiColour="red">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="red card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Red</div>
    </div>
  </div>
  <div sui-card suiColour="orange">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="orange card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Orange</div>
    </div>
  </div>
  <div sui-card suiColour="yellow">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="yellow card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Yellow</div>
    </div>
  </div>
  <div sui-card suiColour="olive">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="olive card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Olive</div>
    </div>
  </div>
  <div sui-card suiColour="green">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="green card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Green</div>
    </div>
  </div>
  <div sui-card suiColour="teal">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="teal card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Teal</div>
    </div>
  </div>
  <div sui-card suiColour="blue">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="blue card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Blue</div>
    </div>
  </div>
  <div sui-card suiColour="violet">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="violet card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Violet</div>
    </div>
  </div>
  <div sui-card suiColour="purple">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="purple card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Purple</div>
    </div>
  </div>
  <div sui-card suiColour="pink">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="pink card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Pink</div>
    </div>
  </div>
  <div sui-card suiColour="brown">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="brown card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Brown</div>
    </div>
  </div>
  <div sui-card suiColour="grey">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="grey card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Grey</div>
    </div>
  </div>
  <div sui-card suiColour="black">
    <div suiCardImage>
      <img src="/assets/images/wireframes/image.png" alt="black card">
    </div>
    <div suiCardContent>
      <div suiCardHeader>Black</div>
    </div>
  </div>
</div>
