<div sui-card>
  <div suiCardContent>
    <div suiCardHeader>Project Timeline</div>
  </div>
  <div suiCardContent>
    <h4 sui-header>Activity</h4>
    <p>Elliot Fu added <strong>Jenny Hess</strong> to the project</p>
    <p><strong>Stevie Feliciano</strong> was added as an Administrator</p>
    <p><strong>Helen Troy</strong> added two pictures</p>
  </div>
  <div suiCardExtra>
    <div sui-button suiAttached suiAttachedPosition="bottom">
      <i sui-icon suiIconType="add"></i>
      Join Project
    </div>
  </div>
</div>
