<div sui-card>
  <div suiCardContent>
    <div suiCardHeader>Cute Dog</div>
    <div suiCardMeta>
      <span>2 days ago</span>
    </div>
    <div suiCardDescription>
      <p>
        Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces,
        others for their tiny stature, and even others for their massive size.
      </p>
      <p>Many people also have their own barometers for what makes a cute dog.</p>
    </div>
  </div>
  <div suiCardExtra>
    <a>
      <i sui-icon suiIconType="check"></i>
      121 Votes
    </a>
  </div>
</div>
