<div sui-card suiFluid>
  <div suiCardImage>
    <img src="/assets/images/joe.jpg" alt="Joe Henderson">
  </div>
  <div suiCardContent>
    <a suiCardHeader>Joe Henderson</a>
  </div>
</div>
<div sui-card suiFluid>
  <div suiCardImage>
    <img src="/assets/images/helen.jpg" alt="Helen Troy">
  </div>
  <div suiCardContent>
    <a suiCardHeader>Helen Troy</a>
  </div>
</div>
<div sui-card suiFluid>
  <div suiCardImage>
    <img src="/assets/images/elliot.jpg" alt="Elliot Fu">
  </div>
  <div suiCardContent>
    <a suiCardHeader>Elliot Fu</a>
  </div>
</div>
