<div sui-cards>
  <div sui-card>
    <div suiCardContent>
      <div suiCardHeader>Elliot Fu</div>
      <div suiCardMeta>Friend</div>
      <div suiCardDescription>Elliot Fu is a film-maker from New York.</div>
    </div>
  </div>
  <div sui-card>
    <div suiCardContent>
      <div suiCardHeader>Veronika Ossi</div>
      <div suiCardMeta>Friend</div>
      <div suiCardDescription>
        Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
      </div>
    </div>
  </div>
  <div sui-card>
    <div suiCardContent>
      <div suiCardHeader>Jenny Hess</div>
      <div suiCardMeta>Friend</div>
      <div suiCardDescription>
        Jenny is a student studying Media Management at the New School
      </div>
    </div>
  </div>
</div>
