<div sui-cards>
  <div sui-card>
    <div suiCardImage>
      <img src="/assets/images/elliot.jpg" alt="Team Fu">
    </div>
    <div suiCardContent>
      <a suiCardHeader>Team Fu</a>
      <div suiCardMeta>
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div suiCardExtra>
      <a>
        <i sui-icon suiIconType="user"></i>
        2 Members
      </a>
    </div>
  </div>
  <div sui-card>
    <div suiCardImage>
      <img src="/assets/images/jenny.jpg" alt="Team Hess">
    </div>
    <div suiCardContent>
      <a suiCardHeader>Team Hess</a>
      <div suiCardMeta>
        <span class="date">Created in Aug 2014</span>
      </div>
    </div>
    <div suiCardExtra>
      <a>
        <i sui-icon suiIconType="user"></i>
        2 Members
      </a>
    </div>
  </div>
</div>
