<doc-page
    header="Message"
    subHeader="A message displays information that explains nearby content">
  <div *docPageContent="'definition'">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample [templateCode]="snippetBasic">
      <h3 sui-header>Message</h3>
      <p>A basic message</p>

      <ng-template docDemo>
        <doc-messages-msg-std-example></doc-messages-msg-std-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetList">
      <h3 sui-header>List Message</h3>
      <p>A message with a list</p>

      <ng-template docDemo>
        <doc-messages-msg-list-example></doc-messages-msg-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetIcon1">
      <h3 sui-header>Icon Message</h3>
      <p>A message can contain an icon</p>

      <ng-template docDemo>
        <doc-messages-msg-icon-example></doc-messages-msg-icon-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetIcon2">
      <ng-template docDemo>
        <doc-messages-msg-icon2-example></doc-messages-msg-icon2-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetDismissable">
      <h3 sui-header>Dissmissable Block</h3>
      <p>A message that the user can choose to hide</p>

      <ng-template docDemo>
        <doc-messages-msg-dissmisable-example></doc-messages-msg-dissmisable-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header suiDividing>States</h2>

    <doc-code-sample [templateCode]="snippetHidden">
      <h3 sui-header>Hidden</h3>
      <p>A message can be hidden</p>

      <ng-template docDemo>
        <doc-messages-msg-hidden-example></doc-messages-msg-hidden-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetVisible">
      <h3 sui-header>Visible</h3>
      <p>A message can be set to visible to force itself to be shown</p>

      <ng-template docDemo>
        <doc-messages-msg-visible-example></doc-messages-msg-visible-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header suiDividing>Variations</h2>
    <br>

    <doc-code-sample [templateCode]="snippetFloating">
      <h3 sui-header>Floating</h3>
      <p>A message can float above content that it is related to</p>

      <ng-template docDemo>
        <doc-messages-msg-floating-example></doc-messages-msg-floating-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetCompact">
      <h3 sui-header>Compact</h3>
      <p>A message can only take up the width of its content</p>

      <ng-template docDemo>
        <doc-messages-msg-compact-example></doc-messages-msg-compact-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetAttached">
      <h3 sui-header>Attached</h3>
      <p>A message can be formatted to attach itself to other content</p>

      <ng-template docDemo>
        <doc-messages-msg-attached-example></doc-messages-msg-attached-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippettWarning">
      <h3 sui-header>Warning</h3>
      <p>A message may be formatted to display warning messages.</p>

      <ng-template docDemo>
        <doc-messages-msg-warning-example></doc-messages-msg-warning-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetInfo">
      <h3 sui-header>Info</h3>
      <p>A message may be formatted to display information</p>

      <ng-template docDemo>
        <doc-messages-msg-info-example></doc-messages-msg-info-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetSuccess">
      <h3 sui-header>Positive/Success</h3>
      <p>A message may be formatted to display a positive message</p>

      <ng-template docDemo>
        <doc-messages-msg-success-example></doc-messages-msg-success-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetError">
      <h3 sui-header>Negative/Error</h3>
      <p>A message may be formatted to display a negative message</p>

      <ng-template docDemo>
        <doc-messages-msg-error-example></doc-messages-msg-error-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetColoured">
      <h3 sui-header>Coloured</h3>
      <p>A message can be formatted to be different colours</p>

      <ng-template docDemo>
        <doc-messages-msg-coloured-example></doc-messages-msg-coloured-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetSizes">
      <h3 sui-header>Size</h3>
      <p>A message can have different sizes</p>

      <ng-template docDemo>
        <doc-messages-msg-sizes-example></doc-messages-msg-sizes-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-message</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiAttached</td>
        <td>
          Attach a message to other content. Allowed values could be
          <span sui-label>attached</span> | <span sui-label>bottom attached</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiColour</td>
        <td>Set the message colour. Allowed values could be
          <span sui-label>'red'</span> | <span sui-label>'orange'</span> | <span sui-label>'yellow'</span> | <span
              sui-label>'olive'</span> | <span sui-label>'green'</span> | <span sui-label>'teal'</span> | <span
              sui-label>'blue'</span> | <span sui-label>'violet'</span> | <span sui-label>'purple'</span> | <span
              sui-label>'pink'</span> | <span sui-label>'brown'</span> | <span sui-label>'grey'</span> | <span
              sui-label>'black'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiState</td>
        <td>Set a message to either visible or hidden states.</td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSize</td>
        <td>Set the breadcrumb size. Allowed values could be
          <span sui-label>mini</span> | <span sui-label>tiny</span> | <span sui-label>small</span> | <span
              sui-label>medium</span> | <span sui-label>big</span> | <span sui-label>huge</span> | <span
              sui-label>massive</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiDismissable</td>
        <td>
          Determine whether or not a message can be dismissed
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiIcon</td>
        <td>
          Determine whether or not a message can contain an icon
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiHidden</td>
        <td>
          Prevent a message from displaying.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiVisible</td>
        <td>
          Present the message to the display
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFloating</td>
        <td>
          Determine whether or not a message will float over the content it is related to
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCompact</td>
        <td>
          Setup the message to take up just as much space as its content
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiMessageHeader</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiMessageContent</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiMessageList</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</doc-page>

