<doc-page header="Message" subHeader="A message displays information that explains nearby content">
</doc-page>

<div sui-container class="main">
  <h2 sui-header suiDividing>Types</h2>
  <br>

  <doc-code-sample [content]="msgStd" [code]="snippetBasic">
    <h3 sui-header>Message</h3>
    <p>A basic message</p>

    <ng-template #msgStd>
      <div sui-message suiSize="small">
        <div sui-message-header>
          Changes in Service
        </div>
        <p>We updated our privacy policy here to better service our customers. We recommend reviewing the changes.</p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgIcon" [code]="snippetIcon1">
    <h3 sui-header>Icon Message</h3>
    <p>A message can contain an icon</p>

    <ng-template #msgIcon>
      <div sui-message suiIcon='true'>
        <i suiIconType="inbox" sui-icon></i>
        <div sui-message-content>
          <div sui-header>
            Have you heard about our mailing list?
          </div>
          <p>Get the best news in your e-mail every day.</p>
        </div>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgDissmisable" [code]="snippetDismissable">
    <h3 sui-header>Dissmissable Block</h3>
    <p>A message that the user can choose to hide</p>

    <ng-template #msgDissmisable>
      <div sui-message [suiDismissible]>
        <div sui-message-header>
          Welcome back!
        </div>
        <p>This is a special notification which you can dismiss if you're bored with it.</p>
      </div>
    </ng-template>
  </doc-code-sample>
</div>

<div sui-container class="main">
  <h2 sui-header suiDividing>States</h2>
  <br>

  <doc-code-sample [content]="msgHidden" [code]="snippetHidden">
    <h3 sui-header>Hidden</h3>
    <p>A message can be hidden</p>

    <ng-template #msgHidden>
      <div sui-message suiHidden='true'>
        <p>You can't see me</p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgVisible" [code]="snippetVisible">
    <h3 sui-header>Visible</h3>
    <p>A message can be set to visible to force itself to be shown</p>

    <ng-template #msgVisible>
      <div sui-message suiVisible='true'>
        <p>You can always see me</p>
      </div>
    </ng-template>
  </doc-code-sample>
</div>

<div sui-container class="main">
  <h2 sui-header suiDividing>Variations</h2>
  <br>

  <doc-code-sample [content]="msgFloating" [code]="snippetFloating">
    <h3 sui-header>Floating</h3>
    <p>A message can float above content that it is related to</p>

    <ng-template #msgFloating>
      <div sui-message suiFloating='true'>
        <p>Way to go!</p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgCompact" [code]="snippetCompact">
    <h3 sui-header>Compact</h3>
    <p>A message can only take up the width of its content</p>

    <ng-template #msgCompact>
      <div sui-message suiCompact='true'>
        <p>Get all the best inventions in your e-mail every day. Sign up now!</p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgAttached" [code]="snippetAttached">
    <h3 sui-header>Attached</h3>
    <p>A message can be formatted to attach itself to other content</p>

    <ng-template #msgAttached>
      <div sui-message suiAttached='attached'>
        <div sui-header>
          Welcome to our site!
        </div>
        <p>Fill out the form below to sign-up for a new account</p>
      </div>
      <form sui-form class="attached fluid segment">
        <div suiFormFields class="two">
          <div suiFormField>
            <label>First Name</label>
            <input placeholder="First Name" type="text">
          </div>
          <div suiFormField>
            <label>Last Name</label>
            <input placeholder="Last Name" type="text">
          </div>
        </div>
        <div suiFormField>
          <label>Username</label>
          <input placeholder="Username" type="text">
        </div>
        <div suiFormField>
          <label>Password</label>
          <input type="password">
        </div>
        <div suiFormField suiInline='true'>
          <div class="ui checkbox">
            <input type="checkbox" id="terms">
            <label for="terms">I agree to the terms and conditions</label>
          </div>
        </div>
        <div sui-button suiColour='blue'>Submit</div>
      </form>
      <div sui-message suiAttached='bottom attached' suiColour='warning'>
        <i suiIconType="help" sui-icon></i>
        Already signed up? <a href="#">Login here</a> instead.
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgWarning" [code]="snippettWarning">
    <h3 sui-header>Warning</h3>
    <p>A message may be formatted to display warning messages.</p>

    <ng-template #msgWarning>
      <div sui-message suiColour='warning' [suiDismissible]>
        <div sui-message-header>
          You must register before you can do that!
        </div>
        <p>Visit our registration page, then try again</p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgInfo" [code]="snippetInfo">
    <h3 sui-header>Info</h3>
    <p>A message may be formatted to display information</p>

    <ng-template #msgInfo>
      <div sui-message suiColour='info' [suiDismissible]>
        <div sui-message-header>
          Was this what you wanted?
        </div>
        <p>It's good to see you again</p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgSuccess" [code]="snippetSuccess">
    <h3 sui-header>Positive/Success</h3>
    <p>A message may be formatted to display a positive message</p>

    <ng-template #msgSuccess>
      <div sui-message suiColour='positive' [suiDismissible]>
        <div sui-message-header>
          You are eligible for a reward
        </div>
        <p>Go to your special offers page to see now</p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgError" [code]="snippetError">
    <h3 sui-header>Negative/Error</h3>
    <p>A message may be formatted to display a negative message</p>

    <ng-template #msgError>
      <div sui-message suiColour='negative' [suiDismissible]>
        <div sui-message-header>
          We're sorry we can't apply that discount
        </div>
        <p>That offer has expired</p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgColoured" [code]="snippetColoured">
    <h3 sui-header>Coloured</h3>
    <p>A message can be formatted to be different colours</p>

    <ng-template #msgColoured>
      <div sui-message suiColour='red'>Red</div>
      <div sui-message suiColour='orange'>Orange</div>
      <div sui-message suiColour='yellow'>Yellow</div>
      <div sui-message suiColour='olive'>Olive</div>
      <div sui-message suiColour='green'>Green</div>
      <div sui-message suiColour='teal'>Teal</div>
      <div sui-message suiColour='blue'>Blue</div>
      <div sui-message suiColour='violet'>Violet</div>
      <div sui-message suiColour='purple'>Purple</div>
      <div sui-message suiColour='pink'>Pink</div>
      <div sui-message suiColour='brown'>Brown</div>
      <div sui-message suiColour='black'>Black</div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="msgSizes" [code]="snippetSizes">
    <h3 sui-header>Size</h3>
    <p>A message can have different sizes</p>

    <ng-template #msgSizes>
      <div sui-message suiSize='mini'>This is a mini message</div>
      <div sui-message suiSize='tiny'>This is a tiny message</div>
      <div sui-message suiSize='small'>This is a small message</div>
      <div sui-message suiSize='large'>This is a large message</div>
      <div sui-message suiSize='big'>This is a big message</div>
      <div sui-message suiSize='huge'>This is a huge message</div>
      <div sui-message suiSize='massive'>This is a massive message</div>
    </ng-template>
  </doc-code-sample>
</div>
