<doc-page
    header="Search"
    subHeader="A search module allows a user to query for results from a selection of data">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Type</h2>

    <doc-code-sample
        [content]="basic"
        [templateCode]="snippetBasic">
      <h3 sui-header>Search</h3>
      <p>A basic search element</p>

      <ng-template #basic>
        <sui-search
            suiPlaceholder="Common passwords..."
            [suiOptionsLookup]="searchText">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="basicAlt"
        [templateCode]="snippetBasicAlt">
      <ng-template #basicAlt>
        <sui-search
            suiShowIcon
            suiPlaceholder="Common passwords..."
            [suiOptionsLookup]="searchText">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="category"
        [templateCode]="snippetCategory">
      <h3 sui-header>Category</h3>
      <p>A search can display results from remote content ordered by categories</p>

      <ng-template #category>
        <sui-search
            suiShowIcon
            suiPlaceholder="Common animals..."
            [suiOptionsLookup]="searchCategories">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="localSearch"
        [templateCode]="snippetLocalSearch"
        [componentCode]="snippetLocalSearchTs">
      <h3 sui-header>Local Search</h3>
      <p>A search can look for results inside a static local source.</p>

      <ng-template #localSearch>
        <sui-search
            suiShowIcon
            suiPlaceholder="Search countries..."
            [suiOptions]="countries">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="localCategorySearch"
        [templateCode]="snippetLocalCategorySearch"
        [componentCode]="snippetLocalCategorySearchTs">
      <h3 sui-header>Local Category Search</h3>
      <p>A search can look for category results inside a static local source.</p>

      <ng-template #localCategorySearch>
        <sui-search
            suiShowIcon
            suiPlaceholder="Search countries..."
            [suiOptions]="categoryContent">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [content]="loading"
        [templateCode]="snippetLoading">
      <h3 sui-header>Loading</h3>
      <p>A search can show a loading indicator.</p>

      <ng-template #loading>
        <sui-search
            suiLoading
            suiPlaceholder="Search..."
            [suiOptions]="blankOptions">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [content]="disabled"
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>A search can show it is currently unable to be interacted with.</p>

      <ng-template #disabled>
        <sui-search
            disabled
            suiShowIcon
            suiPlaceholder="Search animals..."
            [suiOptions]="blankOptions">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="fluid"
        [templateCode]="snippetFluid">
      <h3 sui-header>Fluid</h3>
      <p>A search can have its results take up the width of its container.</p>

      <ng-template #fluid>
        <sui-search
            suiFluid
            suiShowIcon
            suiPlaceholder="Search animals..."
            [suiOptionsLookup]="searchCategories">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="aligned"
        [templateCode]="snippetAligned">
      <h3 sui-header>Aligned</h3>
      <p>A search can have its results aligned to its left or right container edge.</p>

      <ng-template #aligned>
        <sui-search
            suiShowIcon
            suiAlignment="right"
            suiPlaceholder="Search animals..."
            [suiOptionsLookup]="searchCategories">
        </sui-search>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-search</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiAlignment</td>
        <td>Set the search result alignment. Allowed values could be
          <span sui-label>right</span> |  <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiPlaceholder</td>
        <td>Set the search input placeholder text.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSearchDelay</td>
        <td>Set the delay (in milliseconds) before a search is started.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            number
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            200
          </div>
        </td>
      </tr>
      <tr>
        <td>suiShowIcon</td>
        <td>Determine whether or not to show the search icon
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>Determine whether or not to disable the search functionality
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFluid</td>
        <td>Determine whether or not the search results fill the width of their container
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiLoading</td>
        <td>Determine whether or not to manually override the loading icon display
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiOptions</td>
        <td>The options available to search. Cannot be used in conjunction with <code>suiOptionsLookup</code>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            Array&lt;&#123;title: string, category: string (optional), description: string (optional)&#125;&gt;
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiOptionsLookup</td>
        <td>A function to asynchronously search a remote resource with the provided query. Cannot be used in conjunction with <code>suiOptions</code>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            (query: string) => Promise&lt;Array&lt;&#123;title: string, category: string (optional), description: string (optional)&#125;&gt;&gt;
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h4 sui-header>Events</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiResultSelected</td>
        <td>Fired when a result is selected.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            &#123;title: string, category: string, description: string&#125;
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>

