<doc-page
    header="Search"
    subHeader="A tab is a hidden section of content activated by a menu">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Type</h2>

    <doc-code-sample
        [content]="basic"
        [templateCode]="snippetBasic">
      <h3 sui-header>Search</h3>
      <p>A basic search element</p>

      <ng-template #basic>
        <sui-search
            suiPlaceholder="Common passwords..."
            [suiOptionsLookup]="searchText">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="basicAlt"
        [templateCode]="snippetBasicAlt">
      <ng-template #basicAlt>
        <sui-search
            suiShowIcon
            suiPlaceholder="Common passwords..."
            [suiOptionsLookup]="searchText">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="category"
        [templateCode]="snippetCategory">
      <h3 sui-header>Category</h3>
      <p>A search can display results from remote content ordered by categories</p>

      <ng-template #category>
        <sui-search
            suiShowIcon
            suiPlaceholder="Common animals..."
            [suiOptionsLookup]="searchCategories">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="localSearch"
        [templateCode]="snippetLocalSearch"
        [componentCode]="snippetLocalSearchTs">
      <h3 sui-header>Local Search</h3>
      <p>A search can look for results inside a static local source.</p>

      <ng-template #localSearch>
        <sui-search
            suiShowIcon
            suiPlaceholder="Search countries..."
            [suiOptions]="countries">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="localCategorySearch"
        [templateCode]="snippetLocalCategorySearch"
        [componentCode]="snippetLocalCategorySearchTs">
      <h3 sui-header>Local Category Search</h3>
      <p>A search can look for category results inside a static local source.</p>

      <ng-template #localCategorySearch>
        <sui-search
            suiShowIcon
            suiPlaceholder="Search countries..."
            [suiOptions]="categoryContent">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [content]="loading"
        [templateCode]="snippetLoading">
      <h3 sui-header>Loading</h3>
      <p>A search can show a loading indicator.</p>

      <ng-template #loading>
        <sui-search
            suiLoading
            suiPlaceholder="Search..."
            [suiOptions]="blankOptions">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [content]="disabled"
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>A search can show it is currently unable to be interacted with.</p>

      <ng-template #disabled>
        <sui-search
            disabled
            suiShowIcon
            suiPlaceholder="Search animals..."
            [suiOptions]="blankOptions">
        </sui-search>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="fluid"
        [templateCode]="snippetFluid">
      <h3 sui-header>Fluid</h3>
      <p>A search can have its results take up the width of its container.</p>

      <ng-template #fluid>
        <sui-search
            disabled
            suiFluid
            suiShowIcon
            suiPlaceholder="Search animals..."
            [suiOptionsLookup]="searchCategories">
        </sui-search>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-tabs</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the rating size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
