<div sui-feed>
  <div suiFeedEvent
       suiLabelImageUrl="/assets/images/helen.jpg">
    <div suiFeedDate>
      3 days ago
    </div>
    <div suiFeedSummary>
      <a>Helen Troy</a> added 2 photos
    </div>
    <div suiFeedExtra
         suiExtraType="images">
      <a><img src="/assets/images/wireframes/image.png"></a>
      <a><img src="/assets/images/wireframes/image.png"></a>
    </div>
  </div>
  <div suiFeedEvent
       suiLabelImageUrl="/assets/images/laura.jpg">
    <div suiFeedDate>
      3 days ago
    </div>
    <div suiFeedSummary>
      <a>Laura Faucet</a> created a post
    </div>
    <div suiFeedExtra
         suiExtraType="text">
      Have you seen what's going on in Israel? Can you believe it.
    </div>
  </div>
</div>
