<div sui-feed suiSize="small">
  <div suiFeedEvent>
    <div suiFeedSummary>
      <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
    </div>
  </div>
  <div suiFeedEvent>
    <div suiFeedSummary>
      <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
    </div>
  </div>
  <div suiFeedEvent>
    <div suiFeedSummary>
      <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
    </div>
  </div>
  <div suiFeedEvent>
    <div suiFeedSummary>
      <a>Christian Rocha</a> signed up for the site.
    </div>
  </div>
</div>
