<div sui-feed suiSize="large">
  <div suiFeedEvent
       suiLabelImageUrl="/assets/images/elliot.jpg">
    <div suiFeedSummary>
      <a suiFeedUser>Elliot Fu</a> added you as a friend
      <div suiFeedDate>
        1 Hour Ago
      </div>
    </div>
    <div suiFeedMeta>
      <a suiFeedLike>
        <i sui-icon suiIconType="like"></i> 4 Likes
      </a>
    </div>
  </div>
  <div suiFeedEvent
       suiLabelIcon="pencil">
    <div suiFeedSummary>
      You submitted a new post to the page
      <div suiFeedDate>
        3 days ago
      </div>
    </div>
    <div suiFeedExtra suiExtraType="text">
      I'm having a BBQ this weekend. Come by around 4pm if you can.
    </div>
    <div suiFeedMeta>
      <a suiFeedLike>
        <i sui-icon suiIconType="like"></i> 11 Likes
      </a>
    </div>
  </div>
  <div suiFeedEvent
       suiLabelImageUrl="/assets/images/helen.jpg">
    <div suiFeedDate>
      4 days ago
    </div>
    <div suiFeedSummary>
      <a>Helen Troy</a> added <a>2 new illustrations</a>
    </div>
    <div suiFeedExtra suiExtraType="images">
      <a><img src="/assets/images/wireframes/image.png"></a>
      <a><img src="/assets/images/wireframes/image.png"></a>
    </div>
    <div suiFeedMeta>
      <a suiFeedLike>
        <i sui-icon suiIconType="like"></i> 1 Like
      </a>
    </div>
  </div>
</div>
