<doc-page
    header="Grid"
    subHeader="A grid is used to harmonize negative space in a layout">
  <div *docPageContent="'definition'">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample
        [content]="basic"
        [templateCode]="snippetBasic">
      <h3 sui-header>Grid</h3>
      <p>A basic grid</p>

      <ng-template #basic>
        <div sui-grid>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
          <div suiGridColumn></div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="divided"
        [templateCode]="snippetDivided">
      <h3 sui-header>Divided</h3>
      <p>A grid can have dividers between its columns</p>

      <ng-template #divided>
        <div sui-grid
             suiWidth="three"
             suiDivided="divided">
          <div suiGridRow>
            <div suiGridColumn></div>
            <div suiGridColumn></div>
            <div suiGridColumn></div>
          </div>
          <div suiGridRow>
            <div suiGridColumn></div>
            <div suiGridColumn></div>
            <div suiGridColumn></div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">

  </div>
</doc-page>
