.quick-start {
  .top-header {
    text-align: center;

    img {
      width: 150px;
      height: 150px;
    }

    h1 {
      margin-bottom: 15px;
    }
  }

  .badges {
    text-align: center;
    margin-top: 5px;

    a {
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}

