<doc-page
    header="Progress"
    subHeader="A progress bar shows the progression of a task">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="standard"
        [templateCode]="snippetStandard">
      <h3 sui-header>Standard</h3>
      <p>A standard progress bar</p>

      <ng-template #standard>
        <sui-progress
            suiShowProgress
            [suiValue]="standardValue">
          Uploading Files
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <div>
      <div sui-buttons>
        <button sui-button suiIcon suiBasic suiColour="red" (click)="addToStandard(-11)">
          <i sui-icon suiIconType="minus"></i>
        </button>
        <button sui-button suiIcon suiBasic suiColour="green" (click)="addToStandard(11)">
          <i sui-icon suiIconType="plus"></i>
        </button>
      </div>
    </div>

    <doc-code-sample
        [content]="indicating"
        [templateCode]="snippetIndicating"
        [componentCode]="snippetIndicatingTs">
      <h3 sui-header>Indicating</h3>
      <p>An indicating progress bar visually indicates the current level of progress of a task</p>

      <ng-template #indicating>
        <sui-progress
            suiIndicating
            suiState="active"
            [suiValue]="indicatingValue">
          {{ indicatingValue }}% Funded
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <div>
      <div sui-buttons>
        <button sui-button suiIcon suiBasic suiColour="red" (click)="addToIndicating(-13)">
          <i sui-icon suiIconType="minus"></i>
        </button>
        <button sui-button suiIcon suiBasic suiColour="green" (click)="addToIndicating(13)">
          <i sui-icon suiIconType="plus"></i>
        </button>
      </div>
    </div>

    <h2 sui-header
        suiDividing>Content</h2>

    <doc-code-sample
        [content]="bar"
        [templateCode]="snippetBar">
      <h3 sui-header>Bar</h3>
      <p>A progress element can contain a bar visually indicating progress</p>

      <ng-template #bar>
        <sui-progress
            [suiValue]="28">
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="progress"
        [templateCode]="snippetProgress">
      <h3 sui-header>Progress</h3>
      <p>A progress bar can contain a text value indicating current progress</p>

      <ng-template #progress>
        <sui-progress
            suiShowProgress
            [suiValue]="35">
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="label"
        [templateCode]="snippetStandard">
      <h3 sui-header>Label</h3>
      <p>A progress element can contain a label</p>

      <ng-template #label>
        <sui-progress
            suiShowProgress
            [suiValue]="45">
          Uploading Files
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [content]="active"
        [templateCode]="snippetActive">
      <h3 sui-header>Active</h3>
      <p>A progress bar can show activity</p>

      <ng-template #active>
        <sui-progress
            suiState="active"
            [suiValue]="51">
          Uploading Files
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="success"
        [templateCode]="snippetSuccess">
      <h3 sui-header>Success</h3>
      <p>A progress bar can show a success state</p>

      <ng-template #success>
        <sui-progress
            suiState="success"
            [suiValue]="100">
          Everything worked, your file is all ready.
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="warning"
        [templateCode]="snippetWarning">
      <h3 sui-header>Warning</h3>
      <p>A progress bar can show a warning state</p>

      <ng-template #warning>
        <sui-progress
            suiState="warning"
            [suiValue]="100">
          Your file didn't meet the minimum resolution requirements.
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="error"
        [templateCode]="snippetError">
      <h3 sui-header>Error</h3>
      <p>A progress bar can show an error state</p>

      <ng-template #error>
        <sui-progress
            suiState="error"
            [suiValue]="100">
          There was an error.
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="disabled"
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>A progress bar can show an error state</p>

      <ng-template #disabled>
        <sui-progress
            disabled
            [suiValue]="38">
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [content]="inverted"
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>A progress bar can have its colors inverted</p>

      <ng-template #inverted>
        <div sui-segment suiInverted>
          <sui-progress
              suiInverted
              suiShowProgress
              [suiValue]="15">
            Uploading Files
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiState="success"
              [suiValue]="100">
            Success
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiState="warning"
              [suiValue]="100">
            Warning
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiState="error"
              [suiValue]="100">
            Error
          </sui-progress>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="attached"
        [templateCode]="snippetAttached">
      <h3 sui-header>Attached</h3>
      <p>AA progress bar can show progress of an element</p>

      <ng-template #attached>
        <div sui-segment>
          <sui-progress
              suiAttached="top"
              [suiValue]="21">
          </sui-progress>
          <p style="margin: 20px">La la la la</p>
          <sui-progress
              suiAttached="bottom"
              [suiValue]="31">
          </sui-progress>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="cardAttached"
        [templateCode]="snippetCardAttached">
      <ng-template #cardAttached>
        <div sui-card>
          <div suiCardImage>
            <img src="/assets/images/wireframes/image.png"/>
          </div>
          <div suiCardContent>
            <a suiCardHeader>Project</a>
            <div suiCardMeta>
              <span class="date">Started in 2014</span>
            </div>
          </div>
          <div suiCardExtra>
            <a>
              <i sui-icon suiIconType="user"></i>
              22 Friends
            </a>
          </div>
          <sui-progress
              suiAttached="bottom"
              [suiValue]="31">
          </sui-progress>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="size"
        [templateCode]="snippetSize">
      <h3 sui-header>Size</h3>
      <p>A progress bar can vary in size</p>

      <div sui-message suiState="info">
        Some small sizes may not be able to fit an inlined label
      </div>

      <ng-template #size>
        <sui-progress
            suiSize="tiny"
            [suiValue]="61">
          Tiny
        </sui-progress>
        <sui-progress
            suiSize="small"
            [suiValue]="21">
          Small
        </sui-progress>
        <sui-progress
            [suiValue]="41">
          Standard
        </sui-progress>
        <sui-progress
            suiSize="large"
            [suiValue]="5">
          Large
        </sui-progress>
        <sui-progress
            suiSize="big"
            [suiValue]="14">
          Big
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="colour"
        [templateCode]="snippetColour">
      <h3 sui-header>Colours</h3>
      <p>Can have different colours</p>

      <ng-template #colour>
        <sui-progress
            suiColour="red"
            [suiValue]="59">
        </sui-progress>
        <sui-progress
            suiColour="orange"
            [suiValue]="31">
        </sui-progress>
        <sui-progress
            suiColour="yellow"
            [suiValue]="48">
        </sui-progress>
        <sui-progress
            suiColour="olive"
            [suiValue]="35">
        </sui-progress>
        <sui-progress
            suiColour="green"
            [suiValue]="35">
        </sui-progress>
        <sui-progress
            suiColour="teal"
            [suiValue]="31">
        </sui-progress>
        <sui-progress
            suiColour="blue"
            [suiValue]="35">
        </sui-progress>
        <sui-progress
            suiColour="violet"
            [suiValue]="18">
        </sui-progress>
        <sui-progress
            suiColour="purple"
            [suiValue]="22">
        </sui-progress>
        <sui-progress
            suiColour="pink"
            [suiValue]="50">
        </sui-progress>
        <sui-progress
            suiColour="brown"
            [suiValue]="18">
        </sui-progress>
        <sui-progress
            suiColour="grey"
            [suiValue]="56">
        </sui-progress>
        <sui-progress
            suiColour="black"
            [suiValue]="45">
        </sui-progress>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="invertedColour"
        [templateCode]="snippetInvertedColour">
      <h3 sui-header>Inverted Colours</h3>
      <p>These colors can also be inverted for improved contrast on dark backgrounds</p>

      <ng-template #invertedColour>
        <div sui-segment suiInverted>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="red"
              [suiValue]="59">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="orange"
              [suiValue]="31">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="yellow"
              [suiValue]="48">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="olive"
              [suiValue]="35">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="green"
              [suiValue]="35">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="teal"
              [suiValue]="31">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="blue"
              [suiValue]="35">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="violet"
              [suiValue]="18">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="purple"
              [suiValue]="22">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="pink"
              [suiValue]="50">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="brown"
              [suiValue]="18">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="grey"
              [suiValue]="56">
          </sui-progress>
          <sui-progress
              suiInverted
              suiShowProgress
              suiColour="black"
              [suiValue]="45">
          </sui-progress>
        </div>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-progress</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiColour</td>
        <td>Set the progress colour. Allowed values could be
          <span sui-label>'red'</span> | <span sui-label>'orange'</span> | <span sui-label>'yellow'</span> | <span
              sui-label>'olive'</span> | <span sui-label>'green'</span> | <span sui-label>'teal'</span> | <span
              sui-label>'blue'</span> | <span sui-label>'violet'</span> | <span sui-label>'purple'</span> | <span
              sui-label>'pink'</span> | <span sui-label>'brown'</span> | <span sui-label>'grey'</span> | <span
              sui-label>'black'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSize</td>
        <td>Set the progress size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiState</td>
        <td>
          Determines the progress' state. Allowed values could be
          <span sui-label>'active'</span> | <span sui-label>'success'</span> | <span sui-label>'warning'</span> | <span
            sui-label>'error'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiAttached</td>
        <td>
          Determines the progress' attachment position. Allowed values could be
          <span sui-label>'bottom'</span> | <span sui-label>'top'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiIndicating</td>
        <td>
          Determines if the progress is indicating
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>
          Determines if the progress is disabled
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>Determines whether the progress bar uses inverted colours</td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiShowProgress</td>
        <td>Determines whether the progress percentage is displayed</td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
