<doc-page
    header="Label"
    subHeader="A label displays content classification">
  <div *docPageContent="'definition'">
    <h2 sui-header suiDividing>Types</h2>
    <br>

    <doc-code-sample [templateCode]="snippetStd">
      <h3 sui-header>Label</h3>
      <p>A label</p>

      <ng-template docDemo>
        <doc-label-std-label-example></doc-label-std-label-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetImg">
      <h3 sui-header>Image</h3>
      <p>A label can be formatted to emphasize an image</p>

      <ng-template docDemo>
        <doc-label-img-label-example></doc-label-img-label-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetImg2">
      <ng-template docDemo>
        <doc-label-img-label2-example></doc-label-img-label2-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetImg3">
      <ng-template docDemo>
        <doc-label-img-label3-example></doc-label-img-label3-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetPointing">
      <h3 sui-header>Pointing</h3>
      <p>A label can point to content next to it</p>

      <ng-template docDemo>
        <doc-label-pointing-label-example></doc-label-pointing-label-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetPointing2">

      <ng-template docDemo>
        <doc-label-pointing-label2-example></doc-label-pointing-label2-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetCorner">
      <h3 sui-header>Corner</h3>
      <p>A label can position itself in the corner of an element</p>

      <ng-template docDemo>
        <doc-label-corner-label-example></doc-label-corner-label-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetTag">
      <h3 sui-header>Tag</h3>
      <p>A label can appear as a tag</p>

      <ng-template docDemo>
        <doc-label-tag-label-example></doc-label-tag-label-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetRibbon">
      <h3 sui-header>Ribbon</h3>
      <p>A label can appear as a ribbon attaching itself to an element.</p>

      <ng-template docDemo>
        <doc-label-ribbon-label-example></doc-label-ribbon-label-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetRibbon2">

      <ng-template docDemo>
        <doc-label-ribbon-label2-example></doc-label-ribbon-label2-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetAttached">
      <h3 sui-header>Attached</h3>
      <p>A label can attach to a content segment.</p>

      <ng-template docDemo>
        <doc-label-attched-label-example></doc-label-attched-label-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetHorizontal">
      <h3 sui-header>Horizontal</h3>
      <p>A horizontal label is formatted to label content along-side it horizontally</p>

      <ng-template docDemo>
        <doc-label-horizontal-label-example></doc-label-horizontal-label-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetFloating">
      <h3 sui-header>Floating</h3>
      <p>A label can float above another element.</p>

      <ng-template docDemo>
        <doc-label-floating-label-example></doc-label-floating-label-example>
      </ng-template>
    </doc-code-sample>

    <br>
    <h2 sui-header suiDividing>Content</h2>
    <br>

    <doc-code-sample [templateCode]="snippetDetail">
      <h3 sui-header>Detail</h3>
      <p>A label can contain a detail</p>

      <ng-template docDemo>
        <doc-label-detail-label-example></doc-label-detail-label-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetIcon">
      <h3 sui-header>Icon</h3>
      <p>A label can include an icon</p>

      <ng-template docDemo>
        <doc-label-icon-label-example></doc-label-icon-label-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetImage4">
      <h3 sui-header>Image</h3>
      <p>A label can include an image</p>

      <ng-template docDemo>
        <doc-label-img-label4-example></doc-label-img-label4-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetLink">
      <h3 sui-header>Link</h3>
      <p>A label can be a link or contain an item that links</p>

      <ng-template docDemo>
        <doc-label-std-link-example></doc-label-std-link-example>
      </ng-template>
    </doc-code-sample>

    <br>
    <h2 sui-header suiDividing>Variations</h2>
    <br>

    <doc-code-sample [templateCode]="snippetCircular">
      <h3 sui-header>Circular</h3>
      <p>A label can be circular</p>

      <ng-template docDemo>
        <doc-label-label-circular-example></doc-label-label-circular-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetColouredEmpty">

      <ng-template docDemo>
        <doc-label-label-coloured-empty-example></doc-label-label-coloured-empty-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetBasic">
      <h3 sui-header>Basic</h3>
      <p>A label can reduce its complexity</p>

      <ng-template docDemo>
        <doc-label-label-basic-example></doc-label-label-basic-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetColoured">
      <h3 sui-header>Coloured</h3>
      <p>A label can have different colours</p>

      <ng-template docDemo>
        <doc-label-label-coloured-example></doc-label-label-coloured-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetSize">
      <h3 sui-header>Size</h3>
      <p>A label can be small or large</p>

      <ng-template docDemo>
        <doc-label-label-size-example></doc-label-label-size-example>
      </ng-template>
    </doc-code-sample>

    <br>
    <h2 sui-header suiDividing>Groups</h2>
    <br>

    <doc-code-sample [templateCode]="snippetGroupSize">
      <h3 sui-header>Group Size</h3>
      <p>Labels can share sizes together</p>

      <ng-template docDemo>
        <doc-label-label-group-size-example></doc-label-label-group-size-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetGroupColour">
      <h3 sui-header>Coloured Group</h3>
      <p>Labels can share colours together</p>

      <ng-template docDemo>
        <doc-label-label-group-colour-example></doc-label-label-group-colour-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetGroupTag">
      <h3 sui-header>Tag Group</h3>
      <p>Labels can share tag formatting</p>

      <ng-template docDemo>
        <doc-label-label-group-tag-example></doc-label-label-group-tag-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [templateCode]="snippetGroupCircular">
      <h3 sui-header>Circular Group</h3>
      <p>Labels can share shapes</p>

      <ng-template docDemo>
        <doc-label-label-group-circular-example></doc-label-label-group-circular-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header suiDividing>sui-label</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table suiCelled suiDefinition>
      <thead>
        <tr>
          <th>Property</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>suiPointing</td>
          <td>Determines the position of the label relative to the applied element. Allowed values could be
            <span sui-label>above</span> | <span sui-label>below</span> | <span sui-label>left</span> |
            <span sui-label>right</span>
            | <span sui-label>null</span>
          </td>
          <td>
            <div sui-label suiColour="teal">
              string
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              null
            </div>
          </td>
        </tr>
        <tr>
          <td>suiCorner</td>
          <td>
            Position the label at the corner of an element
            <span sui-label>right</span> | <span sui-label>left</span> | <span sui-label>null</span>
          </td>
          <td>
            <div sui-label suiColour="teal">
              string
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              null
            </div>
          </td>
        </tr>
        <tr>
          <td>suiRibbon</td>
          <td>
            Attach a label which appears as a ribbon to an element
            <span sui-label>right</span> | <span sui-label>left</span> | <span sui-label>null</span>
          </td>
          <td>
            <div sui-label suiColour="teal">
              string
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              null
            </div>
          </td>
        </tr>
        <tr>
          <td>suiSize</td>
          <td>Set the label size. Allowed values could be
            <span sui-label>mini</span> | <span sui-label>tiny</span> | <span sui-label>small</span> | <span
              sui-label>medium</span> | <span sui-label>big</span> | <span sui-label>huge</span> | <span
              sui-label>massive</span>
            | <span sui-label>null</span>
          </td>
          <td>
            <div sui-label suiColour="teal">
              string
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              null
            </div>
          </td>
        </tr>
        <tr>
          <td>suiColour</td>
          <td>Set the label colour. Allowed values could be
            <span sui-label>red</span> | <span sui-label>orange</span> | <span sui-label>yellow</span> | <span
              sui-label>olive</span> | <span sui-label>green</span> | <span sui-label>teal</span> | <span
              sui-label>blue</span> | <span sui-label>violet</span> | <span sui-label>purple</span> | <span
              sui-label>pink</span> | <span sui-label>brown</span> | <span sui-label>grey</span> | <span
              sui-label>black</span>
            | <span sui-label>null</span>
          </td>
          <td>
            <div sui-label suiColour="teal">
              string
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              null
            </div>
          </td>
        </tr>
        <tr>
          <td>suiFloating</td>
          <td>Set the label float position.
          </td>
          <td>
            <div sui-label suiColour="teal">
              boolean
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              false
            </div>
          </td>
        </tr>
        <tr>
          <td>suiAttached</td>
          <td>Set the label attachment. Allowed values could be
            <span sui-label>top</span> | <span sui-label>bottom</span> | <span sui-label>top right</span> | <span
              sui-label>bottom right</span> | <span sui-label>top
              left</span> | <span sui-label>bottom
              left</span>
            | <span sui-label>null</span>
          </td>
          <td>
            <div sui-label suiColour="teal">
              string
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              null
            </div>
          </td>
        </tr>
        <tr>
          <td>suiImage</td>
          <td>Apply image style to label</td>
          <td>
            <div sui-label suiColour="teal">
              boolean
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              false
            </div>
          </td>
        </tr>
        <tr>
          <td>suiBasic</td>
          <td>Apply basic style to label</td>
          <td>
            <div sui-label suiColour="teal">
              boolean
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              false
            </div>
          </td>
        </tr>
        <tr>
          <td>suiTag</td>
          <td>Format a label to appear as a tag.</td>
          <td>
            <div sui-label suiColour="teal">
              boolean
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              false
            </div>
          </td>
        </tr>
        <tr>
          <td>suiCircular</td>
          <td>Apply circular style to label</td>
          <td>
            <div sui-label suiColour="teal">
              boolean
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              false
            </div>
          </td>
        </tr>
        <tr>
          <td>suiHorizontal</td>
          <td>Formats content alongside the label horizontally</td>
          <td>
            <div sui-label suiColour="teal">
              boolean
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              false
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 sui-header suiDividing>sui-labels</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table suiCelled suiDefinition>
      <thead>
        <tr>
          <th>Property</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>suiSize</td>
          <td>Set the label size. Allowed values could be
            <span sui-label>mini</span> | <span sui-label>tiny</span> | <span sui-label>small</span> | <span
              sui-label>medium</span> | <span sui-label>big</span> | <span sui-label>huge</span> | <span
              sui-label>massive</span>
            | <span sui-label>null</span>
          </td>
          <td>
            <div sui-label suiColour="teal">
              string
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              null
            </div>
          </td>
        </tr>
        <tr>
          <td>suiColour</td>
          <td>Set the label colour. Allowed values could be
            <span sui-label>red</span> | <span sui-label>orange</span> | <span sui-label>yellow</span> | <span
              sui-label>olive</span> | <span sui-label>green</span> | <span sui-label>teal</span> | <span
              sui-label>blue</span> | <span sui-label>violet</span> | <span sui-label>purple</span> | <span
              sui-label>pink</span> | <span sui-label>brown</span> | <span sui-label>grey</span> | <span
              sui-label>black</span>
            | <span sui-label>null</span>
          </td>
          <td>
            <div sui-label suiColour="teal">
              string
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              null
            </div>
          </td>
        </tr>
        <tr>
          <td>suiTag</td>
          <td>Format a label to appear as a tag.</td>
          <td>
            <div sui-label suiColour="teal">
              boolean
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              false
            </div>
          </td>
        </tr>
        <tr>
          <td>suiCircular</td>
          <td>Apply circular style to label</td>
          <td>
            <div sui-label suiColour="teal">
              boolean
            </div>
          </td>
          <td>
            <div sui-label suiColour="grey">
              false
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</doc-page>
