<doc-page
    header="Form"
    subHeader="A form displays a set of related user input fields in a structured way">
  <div *docPageContent="'definition'">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample
        [content]="basic"
        [templateCode]="snippetBasic">
      <h3 sui-header>Form</h3>
      <p>A form</p>

      <ng-template #basic>
        <form sui-form>
          <div suiFormField>
            <label>First Name</label>
            <input type="text" name="first-name" placeholder="First Name">
          </div>
          <div suiFormField>
            <label>Last Name</label>
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
          <div suiFormField>
            <sui-checkbox>I agree to the terms and conditions</sui-checkbox>
          </div>
          <button sui-button type="submit">Submit</button>
        </form>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="basicAlt"
        [templateCode]="snippetBasicAlt">
      <ng-template #basicAlt>
        <form sui-form>
          <h4 sui-header suiDividing>Shipping Information</h4>
          <div suiFormField>
            <label>Name</label>
            <div suiFormFields suiWidth="two">
              <div suiFormField>
                <input type="text" name="shipping[first-name]" placeholder="First Name">
              </div>
              <div suiFormField>
                <input type="text" name="shipping[last-name]" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div suiFormField>
            <label>Billing Address</label>
            <div suiFormFields>
              <div suiFormField suiWidth="twelve">
                <input type="text" name="shipping[address]" placeholder="Street Address">
              </div>
              <div suiFormField suiWidth="four">
                <input type="text" name="shipping[address-2]" placeholder="Apt #">
              </div>
            </div>
          </div>
          <div suiFormFields suiWidth="two">
            <div suiFormField>
              <label>State</label>
              <sui-select suiPlaceholder="State" [suiOptions]="states"></sui-select>
            </div>
            <div suiFormField>
              <label>Country</label>
              <sui-select suiPlaceholder="Country" [suiOptions]="countries"></sui-select>
            </div>
          </div>
          <h4 sui-header suiDividing>Billing Information</h4>
          <div suiFormField>
            <label>Card Type</label>
            <sui-select suiPlaceholder="Type" [suiOptions]="cards"></sui-select>
          </div>
          <div suiFormFields>
            <div suiFormField suiWidth="seven">
              <label>Card Number</label>
              <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
            </div>
            <div suiFormField suiWidth="three">
              <label>CVC</label>
              <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
            </div>
            <div suiFormField suiWidth="six">
              <label>Expiration</label>
              <div suiFormFields suiWidth="two">
                <div suiFormField>
                  <sui-select suiPlaceholder="Month" [suiOptions]="months"></sui-select>
                </div>
                <div suiFormField>
                  <input type="text" name="card[expire-year]" maxlength="4" placeholder="Year">
                </div>
              </div>
            </div>
          </div>
          <h4 sui-header suiDividing>Receipt</h4>
          <div suiFormField>
            <label>Send Receipt To:</label>
            <sui-select suiPlaceholder="Saved Contacts" [suiOptions]="contacts"></sui-select>
          </div>
          <div sui-segment>
            <div suiFormField>
              <sui-checkbox suiType="toggle">Do not include a receipt in the package</sui-checkbox>
            </div>
          </div>
          <div sui-button tabindex="0">Submit Order</div>
        </form>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Content</h2>

    <doc-code-sample
        [content]="userInput"
        [templateCode]="snippetUserInput">
      <h3 sui-header>Field</h3>
      <p>A field is a form element containing a label and an input</p>

      <ng-template #userInput>
        <div sui-form>
          <div suiFormField>
            <label>User Input</label>
            <input type="text">
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="fields"
        [templateCode]="snippetFields">
      <h3 sui-header>Fields</h3>
      <p>A set of fields can appear grouped together</p>

      <div sui-message suiState="success">
        Field groups automatically receive responsive styling, swapping to one field per row on mobile devices.
      </div>

      <ng-template #fields>
        <div sui-form>
          <div suiFormFields>
            <div suiFormField>
              <label>First name</label>
              <input type="text" placeholder="First Name">
            </div>
            <div suiFormField>
              <label>Middle name</label>
              <input type="text" placeholder="Middle Name">
            </div>
            <div suiFormField>
              <label>Last name</label>
              <input type="text" placeholder="Last Name">
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="fieldsWidth"
        [templateCode]="snippetFieldsWidth">
      <ng-template #fieldsWidth>
        <div sui-form>
          <div suiFormFields suiWidth="three">
            <div suiFormField>
              <label>First name</label>
              <input type="text" placeholder="First Name">
            </div>
            <div suiFormField>
              <label>Middle name</label>
              <input type="text" placeholder="Middle Name">
            </div>
            <div suiFormField>
              <label>Last name</label>
              <input type="text" placeholder="Last Name">
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="fieldsInline"
        [templateCode]="snippetFieldsInline">
      <ng-template #fieldsInline>
        <div sui-form>
          <div suiFormFields suiInline>
            <div suiFormField suiWidth="eight">
              <label>Name</label>
              <input type="text" placeholder="First Name">
            </div>
            <div suiFormField suiWidth="three">
              <input type="text" placeholder="Middle Name">
            </div>
            <div suiFormField suiWidth="five">
              <input type="text" placeholder="Last Name">
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="textArea"
        [templateCode]="snippetTextArea">
      <h3 sui-header>Text Area</h3>
      <p>A textarea can be used to allow for extended user input.</p>

      <div sui-message suiState="info">
        To specify an approximate text area size use the rows attribute.
      </div>

      <ng-template #textArea>
        <div sui-form>
          <div suiFormField>
            <label>Text</label>
            <textarea></textarea>
          </div>
          <div suiFormField>
            <label>Short Text</label>
            <textarea rows="2"></textarea>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="checkbox"
        [templateCode]="snippetCheckbox">
      <h3 sui-header>Checkbox</h3>
      <p>A form can contain a <a routerLink="/modules/checkbox">checkbox</a></p>

      <div sui-message suiState="info">
        UI checkbox are special, styled versions of standard HTML checkboxes
      </div>

      <ng-template #checkbox>
        <div sui-form>
          <div suiFormField suiInline>
            <sui-checkbox>Checkbox</sui-checkbox>
          </div>
          <div suiFormField suiInline>
            <sui-checkbox suiType="slider">Slider</sui-checkbox>
            <label></label>
          </div>
          <div suiFormField suiInline>
            <sui-checkbox suiType="toggle">Toggle</sui-checkbox>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="radio"
        [templateCode]="snippetRadio">
      <h3 sui-header>Radio Checkbox</h3>
      <p>A form can contain a <a routerLink="/modules/checkbox">radio checkbox</a></p>

      <ng-template #radio>
        <div sui-form>
          <div suiFormFields>
            <label for="fruit">Select your favorite fruit:</label>
            <div suiFormField>
              <sui-checkbox suiType="radio">Apples</sui-checkbox>
            </div>
            <div suiFormField>
              <sui-checkbox suiType="radio">Oranges</sui-checkbox>
            </div>
            <div suiFormField>
              <sui-checkbox suiType="radio">Pears</sui-checkbox>
            </div>
            <div suiFormField>
              <sui-checkbox suiType="radio">Grapefruit</sui-checkbox>
            </div>
          </div>
          <div suiFormFields suiGrouped>
            <label for="fruit">Select your second favorite fruit:</label>
            <div suiFormField>
              <sui-checkbox suiType="radio">Apples</sui-checkbox>
            </div>
            <div suiFormField>
              <sui-checkbox suiType="radio">Oranges</sui-checkbox>
            </div>
            <div suiFormField>
              <sui-checkbox suiType="radio">Pears</sui-checkbox>
            </div>
            <div suiFormField>
              <sui-checkbox suiType="radio">Grapefruit</sui-checkbox>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="dropdown"
        [templateCode]="snippetDropdown">
      <h3 sui-header>Dropdown</h3>
      <p>A form can contain a <a routerLink="/modules/dropdown">dropdown</a></p>

      <ng-template #dropdown>
        <div sui-form>
          <div suiFormField>
            <label>Gender</label>
            <sui-select suiPlaceholder="Gender" [suiOptions]="gender"></sui-select>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="dropdownAlt"
        [templateCode]="snippetDropdownAlt">
      <ng-template #dropdownAlt>
        <div sui-form>
          <div suiFormField>
            <label>Country</label>
            <sui-select suiSearch suiPlaceholder="Country" [suiOptions]="countries"></sui-select>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="multipleSelect"
        [templateCode]="snippetMultipleSelect">
      <h3 sui-header>Multiple Select</h3>
      <p>A multiple select is used to include several choices with one form field</p>

      <ng-template #multipleSelect>
        <div sui-form>
          <div suiFormField>
            <label>Country</label>
            <sui-select suiMultiple suiPlaceholder="Country" [suiOptions]="countries"></sui-select>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="htmlSelect"
        [templateCode]="snippetHtmlSelect">
      <h3 sui-header>HTML Select</h3>
      <p>A multiple select is used to include several choices with one form field</p>

      <ng-template #htmlSelect>
        <div sui-form>
          <div suiFormField>
            <select>
              <option value="">Gender</option>
              <option value="1">Male</option>
              <option value="0">Female</option>
            </select>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="message"
        [templateCode]="snippetMessage">
      <h3 sui-header>Message</h3>
      <p>A form can contain a <a routerLink="/collections/message">message</a></p>

      <div sui-message
           suiState="info">
        Any <code>info</code>, <code>error</code>, <code>success</code>, or <code>warning</code> message blocks found inside a form are hidden by default.
      </div>

      <ng-template #message>
        <div sui-form>
          <div sui-message>
            <div class="header">We had some issues</div>
            <ul class="list">
              <li>Please enter your first name</li>
              <li>Please enter your last name</li>
            </ul>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
  </div>
</doc-page>
