<doc-page
    header="Form"
    subHeader="A form displays a set of related user input fields in a structured way">
  <div *docPageContent="'definition'">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetBasic">
      <h3 sui-header>Form</h3>
      <p>A form</p>

      <ng-template docDemo>
        <doc-form-basic-example></doc-form-basic-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBasicAlt">
      <ng-template docDemo>
        <doc-form-basic-alt-example></doc-form-basic-alt-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Content</h2>

    <doc-code-sample
        [templateCode]="snippetUserInput">
      <h3 sui-header>Field</h3>
      <p>A field is a form element containing a label and an input</p>

      <ng-template docDemo>
        <doc-form-user-input-example></doc-form-user-input-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFields">
      <h3 sui-header>Fields</h3>
      <p>A set of fields can appear grouped together</p>

      <div sui-message suiState="success">
        Field groups automatically receive responsive styling, swapping to one field per row on mobile devices.
      </div>

      <ng-template docDemo>
        <doc-form-fields-example></doc-form-fields-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFieldsWidth">
      <ng-template docDemo>
        <doc-form-fields-width-example></doc-form-fields-width-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFieldsInline">
      <ng-template docDemo>
        <doc-form-fields-inline-example></doc-form-fields-inline-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetTextArea">
      <h3 sui-header>Text Area</h3>
      <p>A textarea can be used to allow for extended user input.</p>

      <div sui-message suiState="info">
        To specify an approximate text area size use the rows attribute.
      </div>

      <ng-template docDemo>
        <doc-form-text-area-example></doc-form-text-area-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCheckbox">
      <h3 sui-header>Checkbox</h3>
      <p>A form can contain a <a routerLink="/modules/checkbox">checkbox</a></p>

      <div sui-message suiState="info">
        UI checkbox are special, styled versions of standard HTML checkboxes
      </div>

      <ng-template docDemo>
        <doc-form-checkbox-example></doc-form-checkbox-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRadio">
      <h3 sui-header>Radio Checkbox</h3>
      <p>A form can contain a <a routerLink="/modules/checkbox">radio checkbox</a></p>

      <ng-template docDemo>
        <doc-form-radio-example></doc-form-radio-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDropdown">
      <h3 sui-header>Dropdown</h3>
      <p>A form can contain a <a routerLink="/modules/dropdown">dropdown</a></p>

      <ng-template docDemo>
        <doc-form-dropdown-example></doc-form-dropdown-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDropdownAlt">
      <ng-template docDemo>
        <doc-form-dropdown-alt-example></doc-form-dropdown-alt-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetMultipleSelect">
      <h3 sui-header>Multiple Select</h3>
      <p>A multiple select is used to include several choices with one form field</p>

      <ng-template docDemo>
        <doc-form-multiple-select-example></doc-form-multiple-select-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHtmlSelect">
      <h3 sui-header>HTML Select</h3>
      <p>A multiple select is used to include several choices with one form field</p>

      <ng-template docDemo>
        <doc-form-html-select-example></doc-form-html-select-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetMessage">
      <h3 sui-header>Message</h3>
      <p>A form can contain a <a routerLink="/collections/message">message</a></p>

      <div sui-message
           suiState="info">
        Any <code>info</code>, <code>error</code>, <code>success</code>, or <code>warning</code> message blocks found
        inside a form are hidden by default.
      </div>

      <ng-template docDemo>
        <doc-form-message-example></doc-form-message-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>State</h2>

    <doc-code-sample
        [templateCode]="snippetLoading">
      <h3 sui-header>Loading</h3>
      <p>If a form is in loading state, it will automatically show a loading indicator.</p>

      <ng-template docDemo>
        <doc-form-loading-example></doc-form-loading-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSuccess">
      <h3 sui-header>Success</h3>
      <p>If a form is in an success state, it will automatically show any success message blocks.</p>

      <ng-template docDemo>
        <doc-form-success-example></doc-form-success-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetError">
      <h3 sui-header>Error</h3>
      <p>If a form is in an error state, it will automatically show any error message blocks.</p>

      <ng-template docDemo>
        <doc-form-error-example></doc-form-error-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetWarning">
      <h3 sui-header>Warning</h3>
      <p>If a form is in warning state, it will automatically show any warning message block.</p>

      <ng-template docDemo>
        <doc-form-warning-example></doc-form-warning-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFieldError">
      <h3 sui-header>Field Error</h3>
      <p>Individual fields may display an error state</p>

      <ng-template docDemo>
        <doc-form-field-error-example></doc-form-field-error-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled Field</h3>
      <p>Individual fields may be disabled</p>

      <ng-template docDemo>
        <doc-form-disabled-example></doc-form-disabled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetReadOnly">
      <h3 sui-header>Read-Only Field</h3>
      <p>Individual fields may be read only</p>

      <ng-template docDemo>
        <doc-form-read-only-example></doc-form-read-only-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Form Variations</h2>

    <doc-code-sample
        [templateCode]="snippetSizeMini">
      <h3 sui-header>Size</h3>
      <p>A form can vary in size</p>

      <ng-template docDemo>
        <doc-form-size-mini-example></doc-form-size-mini-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeTiny">
      <ng-template docDemo>
        <doc-form-size-tiny-example></doc-form-size-tiny-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeSmall">
      <ng-template docDemo>
        <doc-form-size-small-example></doc-form-size-small-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeLarge">
      <ng-template docDemo>
        <doc-form-size-large-example></doc-form-size-large-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeBig">
      <ng-template docDemo>
        <doc-form-size-big-example></doc-form-size-big-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeHuge">
      <ng-template docDemo>
        <doc-form-size-huge-example></doc-form-size-huge-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeMassive">
      <ng-template docDemo>
        <doc-form-size-massive-example></doc-form-size-massive-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetEqualWidth">
      <h3 sui-header>Equal Width Form</h3>
      <p>Forms can automatically divide fields to be equal width</p>

      <ng-template docDemo>
        <doc-form-equal-width-example></doc-form-equal-width-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>A form on a dark background may have to invert its colour scheme</p>

      <ng-template docDemo>
        <doc-form-inverted-example></doc-form-inverted-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Field Variations</h2>

    <doc-code-sample
        [templateCode]="snippetInline">
      <h3 sui-header>Inline Field</h3>
      <p>A field can have its label next to instead of above it.</p>

      <ng-template docDemo>
        <doc-form-inline-example></doc-form-inline-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetWidth">
      <h3 sui-header>Width</h3>
      <p>A field can specify its width in grid columns</p>

      <ng-template docDemo>
        <doc-form-width-example></doc-form-width-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRequired">
      <h3 sui-header>Required</h3>
      <p>A field can show that input is mandatory</p>

      <ng-template docDemo>
        <doc-form-required-example></doc-form-required-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Group Variations</h2>

    <doc-code-sample
        [templateCode]="snippetEvenlyDivided">
      <h3 sui-header>Evenly Divided</h3>
      <p>Fields can have their widths divided evenly.</p>

      <ng-template docDemo>
        <doc-form-evenly-divided-example></doc-form-evenly-divided-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetGrouped">
      <h3 sui-header>Grouped Fields</h3>
      <p>Fields can show related choices.</p>

      <ng-template docDemo>
        <doc-form-grouped-example></doc-form-grouped-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetEqualWidthGroup">
      <h3 sui-header>Equal Width Fields</h3>
      <p>Fields can automatically divide fields to be equal width.</p>

      <ng-template docDemo>
        <doc-form-equal-width-group-example></doc-form-equal-width-group-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInlineGroup">
      <h3 sui-header>Inline Fields</h3>
      <p>Multiple fields may be inline in a row.</p>

      <ng-template docDemo>
        <doc-form-inline-group-example></doc-form-inline-group-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInlineGroupAlt">
      <ng-template docDemo>
        <doc-form-inline-group-alt-example></doc-form-inline-group-alt-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-form</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiState</td>
        <td>Set the form state. Allowed values could be
          <span sui-label>success</span> | <span sui-label>warning</span> | <span sui-label>error</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSize</td>
        <td>Set the form size. Allowed values could be
          <span sui-label>mini</span> | <span sui-label>tiny</span> | <span sui-label>small</span> | <span
              sui-label>medium</span> | <span sui-label>big</span> | <span sui-label>huge</span> | <span
              sui-label>massive</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiLoading</td>
        <td>Whether or not the form is a loading state.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiEqualWidth</td>
        <td>Whether or not the form fields are of equal width.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>Whether or not the form has inverted colours.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiFormFields</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiWidth</td>
        <td>Set the fields width. Allowed values could be
          <span sui-label>one</span> | <span sui-label>two</span> | <span sui-label>three</span> | <span
              sui-label>four</span> | <span sui-label>five</span> | <span sui-label>six</span> | <span
              sui-label>seven</span> |
          <span sui-label>eight</span> | <span sui-label>nine</span> | <span sui-label>ten</span> | <span
              sui-label>eleven</span> | <span sui-label>twelve</span> | <span sui-label>thirteen</span> | <span
              sui-label>fourteen</span>| <span sui-label>fifteen</span> | <span
              sui-label>sixteen</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal"> string</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> null</div>
        </td>
      </tr>
      <tr>
        <td>suiInline</td>
        <td>
          Determine whether or not the field group is inline
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiGrouped</td>
        <td>
          Determine whether or not the fields are grouped
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiEqualWidth</td>
        <td>
          Determine whether or not the field contents are equal width
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiFormField</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiWidth</td>
        <td>Set the fields width. Allowed values could be
          <span sui-label>one</span> | <span sui-label>two</span> | <span sui-label>three</span> | <span
              sui-label>four</span> | <span sui-label>five</span> | <span sui-label>six</span> | <span
              sui-label>seven</span> |
          <span sui-label>eight</span> | <span sui-label>nine</span> | <span sui-label>ten</span> | <span
              sui-label>eleven</span> | <span sui-label>twelve</span> | <span sui-label>thirteen</span> | <span
              sui-label>fourteen</span>| <span sui-label>fifteen</span> | <span
              sui-label>sixteen</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal"> string</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> null</div>
        </td>
      </tr>
      <tr>
        <td>suiError</td>
        <td>
          Determine whether or not the field is in an error state
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInline</td>
        <td>
          Determine whether or not the field is inline
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>
          Determine whether or not the field is disabled
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiRequired</td>
        <td>
          Determine whether or not the field is required
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
