<doc-page
    header="Button"
    subHeader="A button indicates a possible user action">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetBtn">
      <h3 sui-header>Button</h3>
      <p>A standard button</p>

      <ng-template docDemo>
        <doc-buttons-btn-standard-example></doc-buttons-btn-standard-example>
      </ng-template>
    </doc-code-sample>

    <div sui-message
         suiState="warning">
      Although any tag can be used for a button, it will only be <a
        href="http://webaim.org/techniques/keyboard/tabindex">
      keyboard focusable</a> if you use a <code>&lt;button&gt;</code> tag or you add the property
      <code>tabindex="0"</code>.
      Keyboard accessible buttons will preserve focus styles after click, which may be visually jarring.
    </div>

    <doc-code-sample
        [templateCode]="snippetBtnFocusable">
      <ng-template docDemo>
        <doc-buttons-btn-focusable-example></doc-buttons-btn-focusable-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnEmphasis">
      <h3 sui-header>Emphasis</h3>
      <p>A button can be formatted to show different levels of emphasis</p>

      <ng-template docDemo>
        <doc-buttons-btn-emphasis-example></doc-buttons-btn-emphasis-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnSecondaryEmphasis">
      <ng-template docDemo>
        <doc-buttons-btn-secondary-emphasis-example></doc-buttons-btn-secondary-emphasis-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnAnimated">
      <h3 sui-header>Animated</h3>
      <p>A button can animate to show hidden content</p>

      <div sui-message>
        The button will be automatically sized according to the visible content size. Make sure there is enough room for
        the hidden content to show
      </div>

      <ng-template docDemo>
        <doc-buttons-btn-animated-example></doc-buttons-btn-animated-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnLabeled">
      <h3 sui-header>Labeled</h3>
      <p>A button can appear alongside a label</p>

      <ng-template docDemo>
        <doc-buttons-btn-labeled-example></doc-buttons-btn-labeled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnColourLabeled">
      <ng-template docDemo>
        <doc-buttons-btn-colour-labeled-example></doc-buttons-btn-colour-labeled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnIcon">
      <h3 sui-header>Icon</h3>
      <p>A button can have only an icon</p>

      <ng-template docDemo>
        <doc-buttons-btn-icon-example></doc-buttons-btn-icon-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnLabeledIcon">
      <h3 sui-header>Labeled Icon</h3>
      <p>A button can use an icon as a label</p>

      <ng-template docDemo>
        <doc-buttons-btn-labeled-icon-example></doc-buttons-btn-labeled-icon-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnBasic">
      <h3 sui-header>Basic</h3>
      <p>A basic button is less pronounced</p>

      <ng-template docDemo>
        <doc-buttons-btn-basic-example></doc-buttons-btn-basic-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnBasicEmphasis">
      <ng-template docDemo>
        <doc-buttons-btn-basic-emphasis-example></doc-buttons-btn-basic-emphasis-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnBasicColours">
      <ng-template docDemo>
        <doc-buttons-btn-basic-colours-example></doc-buttons-btn-basic-colours-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnInverted">
      <h3 sui-header>Inverted</h3>
      <p>
        A button can be formatted to appear on dark backgrounds
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-inverted-example></doc-buttons-btn-inverted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnInvertedBasic">
      <ng-template docDemo>
        <doc-buttons-btn-inverted-basic-example></doc-buttons-btn-inverted-basic-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Groups</h2>

    <doc-code-sample
        [templateCode]="snippetBtnGroup">
      <h3 sui-header>Buttons</h3>
      <p>Buttons can exist together as a group</p>

      <ng-template docDemo>
        <doc-buttons-btn-group-example></doc-buttons-btn-group-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupIcon">
      <h3 sui-header>Icon Buttons</h3>
      <p>Button groups can show groups of icons</p>

      <ng-template docDemo>
        <doc-buttons-btn-group-icon-example></doc-buttons-btn-group-icon-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Content</h2>

    <doc-code-sample
        [templateCode]="snippetBtnGroupConditional">
      <h3 sui-header>Conditionals</h3>
      <p>Button groups can contain conditionals</p>

      <ng-template docDemo>
        <doc-buttons-btn-group-conditionals-example></doc-buttons-btn-group-conditionals-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupConditionalLocalized">
      <ng-template docDemo>
        <doc-buttons-btn-group-conditionals-localized-example></doc-buttons-btn-group-conditionals-localized-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [templateCode]="snippetBtnActive">
      <h3 sui-header>Active</h3>
      <p>A button can show it is currently the active user selection</p>

      <ng-template docDemo>
        <doc-buttons-btn-active-example></doc-buttons-btn-active-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnDisabled">
      <h3 sui-header>Disabled</h3>
      <p>A button can show it is currently unable to be interacted with</p>

      <ng-template docDemo>
        <doc-buttons-btn-disabled-example></doc-buttons-btn-disabled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnLoading">
      <h3 sui-header>Loading</h3>
      <p>A button can show a loading indicator</p>

      <ng-template docDemo>
        <doc-buttons-btn-loading-example></doc-buttons-btn-loading-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetBtnSocial">
      <h3 sui-header>Social</h3>
      <p>
        A button can be formatted to link to a social website
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-social-example></doc-buttons-btn-social-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnSize">
      <h3 sui-header>Size</h3>
      <p>
        A button can have different sizes
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-size-example></doc-buttons-btn-size-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnFloated">
      <h3 sui-header>Floated</h3>
      <p>
        A button can be aligned to the left or right of its container
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-floated-example></doc-buttons-btn-floated-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnColours">
      <h3 sui-header>Coloured</h3>
      <p>
        A button can have different colours
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-coloured-example></doc-buttons-btn-coloured-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnCompact">
      <h3 sui-header>Compact</h3>
      <p>
        A button can reduce its padding to fit into tighter spaces
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-compact-example></doc-buttons-btn-compact-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnToggle">
      <h3 sui-header>Toggle</h3>
      <p>
        A button can be formatted to toggle on and off
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-toggle-example></doc-buttons-btn-toggle-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnPositive">
      <h3 sui-header>Positive</h3>
      <p>
        A button can hint towards a positive consequence
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-positive-example></doc-buttons-btn-positive-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnNegative">
      <h3 sui-header>Negative</h3>
      <p>
        A button can hint towards a negative consequence
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-negative-example></doc-buttons-btn-negative-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnFluid">
      <h3 sui-header>Fluid</h3>
      <p>
        A button can take the width of its container
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-fluid-example></doc-buttons-btn-fluid-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnCircular">
      <h3 sui-header>Circular</h3>
      <p>
        A button can be circular
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-circular-example></doc-buttons-btn-circular-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnCircularIcons">
      <ng-template docDemo>
        <doc-buttons-btn-circular-icons-example></doc-buttons-btn-circular-icons-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnVertical">
      <h3 sui-header>Vertically Attached</h3>
      <p>
        A button can be attached to the top or bottom of other content
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-vertical-example></doc-buttons-btn-vertical-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnVerticalButtons">
      <ng-template docDemo>
        <doc-buttons-btn-vertical-buttons-example></doc-buttons-btn-vertical-buttons-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnHorizontal">
      <h3 sui-header>Horizontally Attached</h3>
      <p>
        A button can be attached to the left or right of other content
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-horizontal-example></doc-buttons-btn-horizontal-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Group Variations</h2>

    <doc-code-sample
        [templateCode]="snippetBtnGroupVertical">
      <h3 sui-header>Vertical Buttons</h3>
      <p>
        Groups can be formatted to appear vertically
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-group-vertical-example></doc-buttons-btn-group-vertical-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupIcons">
      <h3 sui-header>Icon Buttons</h3>
      <p>
        Groups can be formatted as icons
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-group-icons-example></doc-buttons-btn-group-icons-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupLabeledIcons">
      <h3 sui-header>Labeled Icon Buttons</h3>
      <p>
        Groups can be formatted as labeled icons
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-group-labeled-icons-example></doc-buttons-btn-group-labeled-icons-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupMixed">
      <h3 sui-header>Mixed Group</h3>
      <p>
        Groups can be formatted to use multiple button types together
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-group-mixed-example></doc-buttons-btn-group-mixed-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupEqualWidth">
      <h3 sui-header>Equal Width</h3>
      <p>
        Groups can have their widths divided evenly
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-group-equal-width-example></doc-buttons-btn-group-equal-width-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupColoured">
      <h3 sui-header>Coloured Buttons</h3>
      <p>
        Groups can have a shared colour
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-group-coloured-example></doc-buttons-btn-group-coloured-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupBasic">
      <h3 sui-header>Basic Buttons</h3>
      <p>
        A button group can be less pronounced
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-group-basic-example></doc-buttons-btn-group-basic-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupBasicColoured">
      <ng-template docDemo>
        <doc-buttons-btn-group-basic-coloured-example></doc-buttons-btn-group-basic-coloured-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupSizes">
      <h3 sui-header>Group Sizes</h3>
      <p>
        Groups can have a shared size
      </p>

      <ng-template docDemo>
        <doc-buttons-btn-btn-group-sizes-example></doc-buttons-btn-btn-group-sizes-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupSizesIcons">
      <ng-template docDemo>
        <doc-buttons-btn-group-sizes-icon-example></doc-buttons-btn-group-sizes-icon-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBtnGroupSizesOr">
      <ng-template docDemo>
        <doc-buttons-btn-group-sizes-or-example></doc-buttons-btn-group-sizes-or-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-button</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiEmphasis</td>
        <td>Determines what sort of emphasis is applied to the button. Allowed values could be
          <span sui-label>'primary'</span> | <span sui-label>'secondary'</span> | <span sui-label>'positive'</span> |
          <span sui-label>'negative'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiAnimated</td>
        <td>
          Set the button animation. Allowed values could be
          <span sui-label>'animated'</span> | <span sui-label>'animated fade'</span> | <span sui-label>'vertical animated'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSize</td>
        <td>Set the button size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiLabeled</td>
        <td>Set the button label position. Allowed values could be
          <span sui-label>'labeled'</span> | <span sui-label>'left labeled'</span> | <span
              sui-label>'right labeled'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiColour</td>
        <td>Set the button colour. Allowed values could be
          <span sui-label>'red'</span> | <span sui-label>'orange'</span> | <span sui-label>'yellow'</span> | <span
              sui-label>'olive'</span> | <span sui-label>'green'</span> | <span sui-label>'teal'</span> | <span
              sui-label>'blue'</span> | <span sui-label>'violet'</span> | <span sui-label>'purple'</span> | <span
              sui-label>'pink'</span> | <span sui-label>'brown'</span> | <span sui-label>'grey'</span> | <span
              sui-label>'black'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSocial</td>
        <td>Set the button social style. Allowed values could be
          <span sui-label>'facebook'</span> | <span sui-label>'twitter'</span> | <span sui-label>'google'</span> | <span
              sui-label>'plus'</span> | <span sui-label>'vk'</span> | <span sui-label>'linkedin'</span> | <span
              sui-label>'instagram'</span> | <span
              sui-label>'youtube'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFloated</td>
        <td>Set the button float position. Allowed values could be
          <span sui-label>'right floated'</span> | <span sui-label>'left floated'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiAttached</td>
        <td>Set the button attachment. Allowed values could be
          <span sui-label>'top attached'</span> | <span sui-label>'bottom attached'</span> | <span sui-label>'right attached'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiIcon</td>
        <td>Apply icon style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiBasic</td>
        <td>Apply basic style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>Apply inverted style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCompact</td>
        <td>Apply compact style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiToggle</td>
        <td>Apply toggle style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFluid</td>
        <td>Apply fluid style to button. This means the button will fill the available container width</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCircular</td>
        <td>Apply circular style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiActive</td>
        <td>Apply active style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>Apply disabled style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiLoading</td>
        <td>Apply loading style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>sui-buttons</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiAttached</td>
        <td>Set the button attachment. Allowed values could be
          <span sui-label>'top attached'</span> | <span sui-label>'bottom attached'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiIcon</td>
        <td>Set the type of icons the button group supports. Allowed values could be
          <span sui-label>'icon'</span> | <span sui-label>'labeled icon'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiColour</td>
        <td>Set the button colour. Allowed values could be
          <span sui-label>'red'</span> | <span sui-label>'orange'</span> | <span sui-label>'yellow'</span> | <span
              sui-label>'olive'</span> | <span sui-label>'green'</span> | <span sui-label>'teal'</span> | <span
              sui-label>'blue'</span> | <span sui-label>'violet'</span> | <span sui-label>'purple'</span> | <span
              sui-label>'pink'</span> | <span sui-label>'brown'</span> | <span sui-label>'grey'</span> | <span
              sui-label>'black'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSize</td>
        <td>Set the button size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiWidth</td>
        <td>Set the button width. Allowed values could be
          <span sui-label>'one'</span> | <span sui-label>'two'</span> | <span sui-label>'three'</span> | <span
              sui-label>'four'</span> | <span sui-label>'five'</span> | <span sui-label>'six'</span> | <span
              sui-label>'seven'</span> | <span sui-label>'eight'</span> | <span sui-label>'nine'</span> | <span
              sui-label>'ten'</span> | <span sui-label>'eleven'</span> | <span sui-label>'twelve'</span> | <span
              sui-label>'thirteen'</span> | <span sui-label>'fourteen'</span> | <span sui-label>'fifteen'</span> | <span
              sui-label>'sixteen'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiIcon</td>
        <td>Apply icon style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiBasic</td>
        <td>Apply basic style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiVertical</td>
        <td>Display buttons in a vertical orientation</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
