<!-- Replicate this https://semantic-ui-vue.github.io/#/modules/modal -->

<doc-page
  header="Modal"
  subHeader="Modals display content that temporarily blocks interactions with the main view of a site."
  >
  <div *docPageContent="'definition'">
    <h2 sui-header
    suiDividing>States</h2>

    <doc-code-sample
      [templateCode]="snippetStandard"
      [componentCode]="snippetStandardTs">
      <h3 sui-header>Modal</h3>
      <p>A standard modal</p>
      <button sui-button (click)="isStandardModalVisible = true">Show Modal</button>

      <ng-template docDemo>
        <doc-modal-standard-example></doc-modal-standard-example>
      </ng-template>
  </doc-code-sample>

  <doc-code-sample
    [templateCode]="snippetBasic"
    [componentCode]="snippetBasicTs">
    <h3 sui-header>Basic</h3>
    <p>A modal can reduce its complexity</p>
    <button sui-button (click)="isBasicModalVisible = true">Show Modal</button>

    <ng-template docDemo>
        <doc-modal-basic-example></doc-modal-basic-example>
      </ng-template>
  </doc-code-sample>

  <h2 sui-header
  suiDividing>Variations</h2>

  <doc-code-sample
    [templateCode]="snippetFullScreen"
    [componentCode]="snippetFullScreenTs">
    <h3 sui-header>Full Screen</h3>
    <p>A modal can use the entire size of the screen</p>
    <button sui-button (click)="isFullScreenModalVisible = true">Show Modal</button>

    <ng-template docDemo>
        <doc-modal-full-screen-example></doc-modal-full-screen-example>
      </ng-template>
  </doc-code-sample>

  <doc-code-sample
    [templateCode]="snippetSize"
    [componentCode]="snippetSizeTs">
    <h3 sui-header>Size</h3>
    <p>A modal can vary in size</p>
    <button sui-button (click)="isSizeModalVisible = true">Show Modal</button>

    <ng-template docDemo>
        <doc-modal-size-example></doc-modal-size-example>
      </ng-template>
  </doc-code-sample>

  <doc-code-sample
    [templateCode]="snippetScrolling"
    [componentCode]="snippetScrollingTs">
    <h3 sui-header>Scrolling Content</h3>
    <p>A modal can use the entire size of the screen.</p>
    <button sui-button (click)="isScrollingModalVisible = true">Show Modal</button>

    <ng-template docDemo>
        <doc-modal-scrolling-example></doc-modal-scrolling-example>
      </ng-template>
  </doc-code-sample>

  <doc-code-sample
    [templateCode]="snippetClosable"
    [componentCode]="snippetClosableTs">
    <h3 sui-header>Closable</h3>
    <p>By default, a modal is rendered with a close icon in the top right corner. The modal can be rendered without
    the close button</p>
    <button sui-button (click)="isClosableModalVisible = true">Show Modal</button>

    <ng-template docDemo>
        <doc-modal-closable-example></doc-modal-closable-example>
      </ng-template>
  </doc-code-sample>

  <doc-code-sample
    [templateCode]="snippetMaskClosable"
    [componentCode]="snippetMaskClosableTs">
    <h3 sui-header>Mask Closable</h3>
    <p>By default, a modal can be closed by clicking on the background. If that isn't the desired behaviour, that is
    configurable</p>
    <button sui-button (click)="isMaskClosableModalVisible = true">Show Modal</button>

    <ng-template docDemo>
        <doc-modal-mask-closable-example></doc-modal-mask-closable-example>
      </ng-template>
  </doc-code-sample>
</div>

<div *docPageContent="'api'">
  <h2 sui-header
  suiDividing>sui-modal</h2>

  <h4 sui-header>Properties</h4>

  <table sui-table
    suiCelled
    suiDefinition>
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>suiHeaderText</td>
        <td>The modal header</td>
        <td>
          <div sui-label
            suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiHeaderIcon</td>
        <td>The modal header icon type</td>
        <td>
          <div sui-label
            suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSize</td>
        <td>
          Set the modal's size. Allowed values could be
          <span sui-label>mini</span> | <span sui-label>tiny</span> | <span sui-label>small</span>
          | <span sui-label>large</span>  | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
            suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiScroll</td>
        <td>
          Determines if the modal is scrollable. Allowed values could be
          <span sui-label>full</span> | <span sui-label>medium</span> | <span sui-label>none</span>
        </td>
        <td>
          <div sui-label
            suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            none
          </div>
        </td>
      </tr>
      <tr>
        <td>suiBasic</td>
        <td>Determines if the modal is rendered as basic</td>
        <td>
          <div sui-label
            suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiClosable</td>
        <td>Determines if the close icon is rendered on the modal</td>
        <td>
          <div sui-label
            suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            true
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCentered</td>
        <td>Determines if the modal is rendered vertically centered</td>
        <td>
          <div sui-label
            suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            true
          </div>
        </td>
      </tr>
      <tr>
        <td>suiBlurring</td>
        <td>Determines if the modal uses a dimmer background</td>
        <td>
          <div sui-label
            suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFullScreen</td>
        <td>Determines if the modal is rendered to fill the screen horizontally</td>
        <td>
          <div sui-label
            suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiMaskClosable</td>
        <td>Determines if the modal is dismissable by clicking on the background</td>
        <td>
          <div sui-label
            suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            true
          </div>
        </td>
      </tr>
      <tr>
        <td>visible</td>
        <td>Determines if the modal is visible or not</td>
        <td>
          <div sui-label
            suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            false
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h4 sui-header>Events</h4>

  <table sui-table
    suiCelled
    suiDefinition>
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>visibleChange</td>
        <td>Fired when a the modal's visibility changes
        </td>
        <td>
          <div sui-label
            suiColour="teal">
            boolean
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 sui-header
  suiDividing>suiModalContent</h2>

  <h4 sui-header>Properties</h4>

  <table sui-table
    suiCelled
    suiDefinition>
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>suiImage</td>
        <td>Determines if the content can contain an image        </td>
        <td>
          <div sui-label
            suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiScrollable</td>
        <td>Determines if the content is scrollable or not
        </td>
        <td>
          <div sui-label
            suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
            suiColour="grey">
            false
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 sui-header
  suiDividing>suiModalActions</h2>

  <h4 sui-header>Properties</h4>

  <table sui-table
    suiCelled
    suiDefinition>
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
    </tfoot>
  </table>

  <h2 sui-header
  suiDividing>suiModalDescription</h2>

  <h4 sui-header>Properties</h4>

  <table sui-table
    suiCelled
    suiDefinition>
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
</doc-page>
