<!-- Reoplicate this https://semantic-ui-vue.github.io/#/modules/modal -->

<doc-page
        header="Modal"
        subHeader="Modals display content that temporarily blocks interactions with the main view of a site."
>
    <div *docPageContent="'definition'">
        <h2 sui-header
            suiDividing>States</h2>
        <doc-code-sample [content]="standard" [templateCode]="snippetStandard">
            <h3 sui-header>Modal</h3>
            <p>A standard modal.</p>
            <button sui-button (click)="isStandardModalVisible = !isStandardModalVisible">Show Modal</button>

            <ng-template #standard>
                <sui-modal [visible]="isStandardModalVisible" [suiClosable]="true"
                           suiHeaderText="Select a Photo"
                           (visibleChange)="isStandardModalVisible = $event">
                    <div sui-image suiModalContent>
                        <div sui-image suiSize="medium">
                            <img src="https://semantic-ui.com/images/avatar/large/chris.jpg">
                        </div>
                        <div suiCardDescription>
                            <div sui-header>We've auto-chosen a profile image for you.</div>
                            <p>We've grabbed the following image from the <a href="https://www.gravatar.com"
                                                                             target="_blank">gravatar</a> image
                                associated with your registered e-mail address.</p>
                            <p>Is it okay to use this photo?</p>
                        </div>
                    </div>
                    <div suiModalActions>
                        <div class="black deny" sui-button suiEmphasis="secondary">
                            Nope
                        </div>
                        <div sui-button suiEmphasis="positive" suiIcon suiLabeled="right labeled">
                            Yep, that's me
                            <i sui-icon suiIconType="checkmark"></i>
                        </div>
                    </div>
                </sui-modal>
            </ng-template>
        </doc-code-sample>

        <h2 sui-header
            suiDividing>Variations</h2>

        <doc-code-sample [content]="scrolling" [templateCode]="snippetScrolling">
            <h3 sui-header>Scrolling Content</h3>
            <p>A modal can use the entire size of the screen.</p>
            <button sui-button (click)="isScrollingModalVisible = !isScrollingModalVisible">Show Modal</button>

            <ng-template #scrolling>
                <sui-modal [visible]="isScrollingModalVisible" [suiClosable]="true"
                           suiHeaderText="Feed"
                           (visibleChange)="isScrollingModalVisible = $event">
                    <div sui-image suiModalContent [suiScrollable]="true">
                        <div sui-grid
                             suiStackable
                             suiWidth="one">
                            <div suiGridColumn *ngFor="let d of dummyList">
                                <div sui-segment
                                     suiRaised>
                                    <div sui-placeholder>
                                        <div suiPlaceholderHeader
                                             suiImage>
                                            <div suiPlaceholderLine></div>
                                            <div suiPlaceholderLine></div>
                                        </div>
                                        <div suiPlaceholderParagraph>
                                            <div suiPlaceholderLine
                                                 suiLength="medium"></div>
                                            <div suiPlaceholderLine
                                                 suiLength="short"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div suiModalActions>
                        <div class="black deny" sui-button suiEmphasis="secondary"
                             (click)="isScrollingModalVisible = false">
                            Close
                        </div>
                    </div>
                </sui-modal>
            </ng-template>
        </doc-code-sample>
    </div>
</doc-page>
