<doc-page
    header="Placeholders"
    subHeader="A placeholder is used to reserve splace for content that soon will appear in a layout"
    (pageChanged)="tabChanged($event)">
  <ng-container *ngIf="isDefinitionsActive">
    <h2 sui-header>Types</h2>

    <doc-code-sample
        [content]="placeholder"
        [templateCode]="snippetBasic">
      <h3 sui-header>Placeholder</h3>
      <p>A placeholder is used to reserve space for content that soon will appear in a layout.</p>

      <div sui-message
           suiState="info">
        <p>
          Placeholders can include <b><code>paragraph</code></b>, <b><code>header</code></b>, <b><code>image
          header</code></b> and <b><code>image</code></b> to let you format the loaders to emulate the content being
          loaded.
        </p>
      </div>

      <br/>

      <ng-template #placeholder>
        <div sui-placeholder>
          <div suiHeader
               suiPlaceholderImage>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
          <div suiPlaceholderParagraph>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="gridPlaceholder"
        [templateCode]="snippetGrid">
      <ng-template #gridPlaceholder>
        <div sui-grid
             suiStackable
             class="three column">
          <div suiGridColumn>
            <div sui-segment
                 suiRaised>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiHeader>
                  <div suiPlaceholderLine></div>
                  <div suiPlaceholderLine></div>
                </div>
                <div suiPlaceholderParagraph>
                  <div suiPlaceholderLine
                       suiLength="medium"></div>
                  <div suiPlaceholderLine
                       suiLength="short"></div>
                </div>
              </div>
            </div>
          </div>
          <div suiGridColumn>
            <div sui-segment
                 suiRaised>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiHeader>
                  <div suiPlaceholderLine></div>
                  <div suiPlaceholderLine></div>
                </div>
                <div suiPlaceholderParagraph>
                  <div suiPlaceholderLine
                       suiLength="medium"></div>
                  <div suiPlaceholderLine
                       suiLength="short"></div>
                </div>
              </div>
            </div>
          </div>
          <div suiGridColumn>
            <div sui-segment
                 suiRaised>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiHeader>
                  <div suiPlaceholderLine></div>
                  <div suiPlaceholderLine></div>
                </div>
                <div suiPlaceholderParagraph>
                  <div suiPlaceholderLine
                       suiLength="medium"></div>
                  <div suiPlaceholderLine
                       suiLength="short"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="cardPlaceholder"
        [templateCode]="snippetCard">
      <ng-template #cardPlaceholder>
        <div sui-grid
             suiStackable
             suiDoubling
             class="three">
          <div sui-card>
            <div suiCardImage>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiSquare></div>
              </div>
            </div>
            <div suiCardContent>
              <div sui-placeholder>
                <div suiCardHeader>
                  <div suiPlaceholderLine
                       suiLength="very short"></div>
                  <div suiPlaceholderLine
                       suiLength="medium"></div>
                </div>
                <div suiPlaceholderParagraph>
                  <div suiPlaceholderLine
                       suiLength="short"></div>
                </div>
              </div>
            </div>
            <div suiCardExtra>
              <div sui-button
                   disabled
                   suiEmphasis="primary">
                Add
              </div>
              <div sui-button
                   disabled>
                Delete
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header>Content</h2>

    <doc-code-sample
        [content]="lines"
        [templateCode]="snippetLines">
      <h3 sui-header>Lines</h3>
      <p>A placeholder can contain have lines of text</p>

      <div sui-message
           suiState="info">
        <p>
          By default, repeated lines will appear varied in width. However, it may be useful to specify an exact length
          to make it match up with content more effectively
        </p>
      </div>

      <br/>

      <ng-template #lines>
        <div sui-placeholder>
          <div suiPlaceholderLine></div>
          <div suiPlaceholderLine></div>
          <div suiPlaceholderLine></div>
          <div suiPlaceholderLine></div>
          <div suiPlaceholderLine></div>
        </div>
      </ng-template>
    </doc-code-sample>

  </ng-container>

  <ng-container *ngIf="isApiActive">
    <h2 sui-header
        suiDividing>sui-flag</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiCountry</td>
        <td>
          The ISO code for the country e.g <span sui-label>ng</span> for Nigeria
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</doc-page>