<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Placeholder
        <div class="sub header">
          A placeholder is used to reserve splace for content that soon will appear in a layout
        </div>
      </h1>

      <div class="ui hidden divider"></div>

      <div class="ui right floated main menu">

        <a class="bug popup icon item" data-content="Submit Bug Report" href="https://github.com/ngx-semantic/ngx-semantic/issues">
          <i class="bug icon"></i>
        </a>

        <a class="github popup icon item" data-content="View project on GitHub" href="https://github.com/ngx-semantic/ngx-semantic">
          <i class="alternate github icon"></i>
        </a>
      </div>

      <div sui-button suiEmphasis="primary">
        Download
      </div>
    </div>
  </div>
</div>
<br>

<div class="main ui container">
  <h2 sui-header suiDividing>Types</h2>
  <br>

  <doc-code-sample
    [content]="stdPlaceholder"
    [code]="snippetStdPlaceholder">
    <h3 sui-header>Placeholder</h3>
    <p>A placeholder is used to reserve space for content that soon will appear in a layout.</p>

    <ng-template #stdPlaceholder>
      <div class="ui three column stackable grid">
        <div class="column">
          <div class="ui raised segment">
            <div sui-placeholder>
              <div sui-placeholder-image suiHeader>
                <div sui-placeholder-line></div>
                <div sui-placeholder-line></div>
              </div>
              <div sui-placeholder-paragraph>
                <div sui-placeholder-line suiLength="medium"></div>
                <div sui-placeholder-line suiLength="short"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui raised segment">
            <div sui-placeholder>
              <div sui-placeholder-image suiHeader>
                <div sui-placeholder-line></div>
                <div sui-placeholder-line></div>
              </div>
              <div sui-placeholder-paragraph>
                <div sui-placeholder-line suiLength="medium"></div>
                <div sui-placeholder-line suiLength="short"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui raised segment">
            <div sui-placeholder>
              <div sui-placeholder-image suiHeader>
                <div sui-placeholder-line></div>
                <div sui-placeholder-line></div>
              </div>
              <div sui-placeholder-paragraph>
                <div sui-placeholder-line suiLength="medium"></div>
                <div sui-placeholder-line suiLength="short"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui three doubling stackable cards">
        <div class="ui card">
          <div class="image">
            <div sui-placeholder>
              <div class="square image"></div>
            </div>
          </div>
          <div class="content">
            <div sui-placeholder>
              <div class="header">
                <div sui-placeholder-line suiLength="very short"></div>
                <div sui-placeholder-line suiLength="medium"></div>
              </div>
              <div sui-placeholder-paragraph>
                <div sui-placeholder-line suiLength="short"></div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <div sui-button suiEmphasis="primary" suiDisabled>Add</div>
            <div sui-button  suiDisabled>Delete</div>
          </div>
        </div>
      </div>
    </ng-template>
  </doc-code-sample>

  <h2 sui-header suiDividing>Content</h2>
  <br>

  <doc-code-sample
    [content]="headerPlaceholder"
    [code]="snippetHeaderPlaceholder">
    <h3 sui-header>Headers</h3>
    <p>A placeholder can contain a header</p>

    <ng-template #headerPlaceholder>
      <div sui-segment>
        <div class="ui active placeholder">
          <div sui-placeholder-image suiHeader>
            <div sui-placeholder-line></div>
            <div sui-placeholder-line></div>
          </div>
          <div sui-placeholder-paragraph>
            <div sui-placeholder-line></div>
            <div sui-placeholder-line></div>
            <div sui-placeholder-line></div>
          </div>
        </div>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample
    [content]="invertedPlaceholder"
    [code]="snippetInvertedPlaceholder">
    <h3 sui-header>Inverted</h3>
    <p>A placeholder can have their colours inverted. </p>

    <ng-template #invertedPlaceholder>
      <div sui-segment>
        <div class="ui active inverted placeholder">
          <div sui-placeholder-image suiHeader>
            <div sui-placeholder-line></div>
            <div sui-placeholder-line></div>
          </div>
          <div sui-placeholder-paragraph>
            <div sui-placeholder-line></div>
            <div sui-placeholder-line></div>
            <div sui-placeholder-line></div>
          </div>
        </div>
      </div>
    </ng-template>
  </doc-code-sample>
</div>
