<doc-page
    header="Placeholders"
    subHeader="A placeholder is used to reserve splace for content that soon will appear in a layout"
    (pageChanged)="tabChanged($event)">
  <ng-container *ngIf="isDefinitionsActive">
    <h2 sui-header>Types</h2>

    <doc-code-sample
        [content]="placeholder"
        [templateCode]="snippetBasic">
      <h3 sui-header>Placeholder</h3>
      <p>A placeholder is used to reserve space for content that soon will appear in a layout.</p>

      <div sui-message
           suiState="info">
        <p>
          Placeholders can include <b><code>paragraph</code></b>, <b><code>header</code></b>, <b><code>image
          header</code></b> and <b><code>image</code></b> to let you format the loaders to emulate the content being
          loaded.
        </p>
      </div>

      <br/>

      <ng-template #placeholder>
        <div sui-placeholder>
          <div suiPlaceholderHeader
               suiImage>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
          <div suiPlaceholderParagraph>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="gridPlaceholder"
        [templateCode]="snippetGrid">
      <ng-template #gridPlaceholder>
        <div sui-grid
             suiStackable
             class="three column">
          <div suiGridColumn>
            <div sui-segment
                 suiRaised>
              <div sui-placeholder>
                <div suiPlaceholderHeader
                     suiImage>
                  <div suiPlaceholderLine></div>
                  <div suiPlaceholderLine></div>
                </div>
                <div suiPlaceholderParagraph>
                  <div suiPlaceholderLine
                       suiLength="medium"></div>
                  <div suiPlaceholderLine
                       suiLength="short"></div>
                </div>
              </div>
            </div>
          </div>
          <div suiGridColumn>
            <div sui-segment
                 suiRaised>
              <div sui-placeholder>
                <div suiPlaceholderHeader
                     suiImage>
                  <div suiPlaceholderLine></div>
                  <div suiPlaceholderLine></div>
                </div>
                <div suiPlaceholderParagraph>
                  <div suiPlaceholderLine
                       suiLength="medium"></div>
                  <div suiPlaceholderLine
                       suiLength="short"></div>
                </div>
              </div>
            </div>
          </div>
          <div suiGridColumn>
            <div sui-segment
                 suiRaised>
              <div sui-placeholder>
                <div suiPlaceholderHeader
                     suiImage>
                  <div suiPlaceholderLine></div>
                  <div suiPlaceholderLine></div>
                </div>
                <div suiPlaceholderParagraph>
                  <div suiPlaceholderLine
                       suiLength="medium"></div>
                  <div suiPlaceholderLine
                       suiLength="short"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="cardPlaceholder"
        [templateCode]="snippetCard">
      <ng-template #cardPlaceholder>
        <div sui-grid
             suiStackable
             suiDoubling
             class="three">
          <div sui-card>
            <div suiCardImage>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiSquare></div>
              </div>
            </div>
            <div suiCardContent>
              <div sui-placeholder>
                <div suiCardHeader>
                  <div suiPlaceholderLine
                       suiLength="very short"></div>
                  <div suiPlaceholderLine
                       suiLength="medium"></div>
                </div>
                <div suiPlaceholderParagraph>
                  <div suiPlaceholderLine
                       suiLength="short"></div>
                </div>
              </div>
            </div>
            <div suiCardExtra>
              <div sui-button
                   disabled
                   suiEmphasis="primary">
                Add
              </div>
              <div sui-button
                   disabled>
                Delete
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header>Content</h2>

    <doc-code-sample
        [content]="lines"
        [templateCode]="snippetLines">
      <h3 sui-header>Lines</h3>
      <p>A placeholder can contain have lines of text</p>

      <div sui-message
           suiState="info">
        <p> By default, repeated lines will appear varied in width. However, it may be useful to specify an exact length
          to make it match up with content more effectively </p>
      </div>

      <br/>

      <ng-template #lines>
        <div sui-placeholder>
          <div suiPlaceholderLine></div>
          <div suiPlaceholderLine></div>
          <div suiPlaceholderLine></div>
          <div suiPlaceholderLine></div>
          <div suiPlaceholderLine></div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="imageHeader"
        [templateCode]="snippetImageHeader">
      <h3 sui-header>Headers</h3>
      <p>A placeholder can contain a header</p>

      <div sui-message
           suiState="info">
        <p> Header content will have a slightly larger block size from paragraph </p>
      </div>

      <br/>

      <ng-template #imageHeader>
        <div sui-placeholder>
          <div suiPlaceholderHeader
               suiImage>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="header"
        [templateCode]="snippetHeader">
      <ng-template #header>
        <div sui-placeholder>
          <div suiPlaceholderHeader>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="paragraph"
        [templateCode]="snippetParagraph">
      <h3 sui-header>Paragraph</h3>
      <p>A placeholder can contain a paragraph</p>

      <div sui-message
           suiState="info">
        <p>Paragraphs are used to group lines together.</p>
      </div>

      <br/>

      <ng-template #paragraph>
        <div sui-placeholder>
          <div suiPlaceholderParagraph>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
          <div suiPlaceholderParagraph>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="image"
        [templateCode]="snippetImage">
      <h3 sui-header>Image</h3>
      <p>A placeholder can contain an image</p>

      <ng-template #image>
        <div sui-placeholder>
          <div suiPlaceholderImage></div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="squareImages"
        [templateCode]="snippetSquareImage">
      <div sui-message
           suiState="info">
        <p>Using <b><code>square</code></b> (1:1) or <b><code>rectangular</code></b> (4:3) will embed an aspect ratio
          into the image loader so that they modify size correctly with responsive styles.</p>
      </div>

      <br/>

      <ng-template #squareImages>
        <div sui-cards
             suiWidth="three">
          <div sui-card>
            <div suiCardContent>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiSquare></div>
              </div>
            </div>
          </div>
          <div sui-card>
            <div suiCardContent>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiSquare></div>
              </div>
            </div>
          </div>
          <div sui-card>
            <div suiCardContent>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiSquare></div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="rectangularImages"
        [templateCode]="snippetRectangularImage">
      <ng-template #rectangularImages>
        <div sui-cards
             suiWidth="three">
          <div sui-card>
            <div suiCardContent>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiRectangular></div>
              </div>
            </div>
          </div>
          <div sui-card>
            <div suiCardContent>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiRectangular></div>
              </div>
            </div>
          </div>
          <div sui-card>
            <div suiCardContent>
              <div sui-placeholder>
                <div suiPlaceholderImage
                     suiRectangular></div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header>Variations</h2>

    <doc-code-sample
        [content]="lineLength"
        [templateCode]="snippetLineLength">
      <h3 sui-header>Line Length</h3>
      <p>A line can specify how long its contents should appear</p>

      <ng-template #lineLength>
        <div sui-placeholder>
          <div suiPlaceholderLine
               suiLength="full"></div>
          <div suiPlaceholderLine
               suiLength="very long"></div>
          <div suiPlaceholderLine
               suiLength="long"></div>
          <div suiPlaceholderLine
               suiLength="medium"></div>
          <div suiPlaceholderLine
               suiLength="short"></div>
          <div suiPlaceholderLine
               suiLength="very short"></div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="complexLineLength"
        [templateCode]="snippetComplexLineLength">
      <ng-template #complexLineLength>
        <div sui-placeholder>
          <div suiPlaceholderHeader
               suiImage>
            <div suiPlaceholderLine
                 suiLength="medium"></div>
            <div suiPlaceholderLine
                 suiLength="full"></div>
          </div>
          <div suiPlaceholderParagraph>
            <div suiPlaceholderLine
                 suiLength="medium"></div>
            <div suiPlaceholderLine
                 suiLength="full"></div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="fluid"
        [templateCode]="snippetFluid">
      <h3 sui-header>Fluid</h3>
      <p>A fluid placeholder takes up the width of its container</p>

      <ng-template #fluid>
        <div sui-placeholder
             suiFluid>
          <div suiPlaceholderHeader
               suiImage>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
          <div suiPlaceholderParagraph>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="inverted"
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>A placeholder can have their colors inverted.</p>

      <ng-template #inverted>
        <div sui-segment
             suiInverted>
          <div sui-placeholder
               suiInverted>
            <div suiPlaceholderHeader
                 suiImage>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
  </ng-container>

  <ng-container *ngIf="isApiActive">
    <h2 sui-header
        suiDividing>sui-placeholder</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiFluid</td>
        <td>
          Determine if the placeholder should fill the width of it's parent container
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiActive</td>
        <td>
          Determine if the placeholder has the active attribute
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>
          Determine if the placeholder has its colours inverted
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiPlaceholderHeader</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiImage</td>
        <td>
          Determine if the placeholder header is of image type
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiPlaceholderImage</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSquare</td>
        <td>
          Determine if the image should have a 1:1 aspect ratio
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiRectangular</td>
        <td>
          Determine if the image should have a 4:3 aspect ratio
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiPlaceholderLine</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiLength</td>
        <td>
          Determine how long the line should be.  Allowed values could be
          <span sui-label>'full'</span> | <span sui-label>'very long'</span> |
          <span sui-label>'long'</span> | <span sui-label>'medium'</span> |
          <span sui-label>'short'</span> | <span sui-label>'very short'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiPlaceholderParagraph</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>
  </ng-container>
</doc-page>