<doc-page
    header="Dimmer"
    subHeader="A dimmer hides distractions to focus attention on particular content">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetSimple"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Dimmer</h3>
      <p>A simple dimmer displays no content</p>

      <ng-template docDemo>
        <doc-dimmer-simple-example></doc-dimmer-simple-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetContent"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Content Dimmer</h3>
      <p>A dimmer can display content</p>

      <ng-template docDemo>
        <doc-dimmer-content-example></doc-dimmer-content-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetPage"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Page Dimmer</h3>
      <p>A dimmer can be formatted to be fixed to the page</p>

      <ng-template docDemo>
        <doc-dimmer-page-example></doc-dimmer-page-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [templateCode]="snippetActive">
      <h3 sui-header>Active</h3>
      <p>An active dimmer will dim its parent container</p>

      <ng-template docDemo>
        <doc-dimmer-active-example></doc-dimmer-active-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>A disabled dimmer cannot be activated</p>

      <ng-template docDemo>
        <doc-dimmer-disabled-example></doc-dimmer-disabled-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetBlurring"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Blurring</h3>
      <p>A dimmable element can blur its contents</p>

      <ng-template docDemo>
        <doc-dimmer-blurring-example></doc-dimmer-blurring-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBlurringInverted"
        [componentCode]="snippetSharedTs">
      <ng-template docDemo>
        <doc-dimmer-blurring-inverted-example></doc-dimmer-blurring-inverted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetTopAligned"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Vertical Alignment</h3>
      <p>A dimmer can have its content top or bottom aligned.</p>

      <ng-template docDemo>
        <doc-dimmer-top-alignment-example></doc-dimmer-top-alignment-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBottomAligned"
        [componentCode]="snippetSharedTs">
      <ng-template docDemo>
        <doc-dimmer-bottom-alignment-example></doc-dimmer-bottom-alignment-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInverted"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Inverted</h3>
      <p>A dimmer can be formatted to have its colours inverted</p>

      <ng-template docDemo>
        <doc-dimmer-inverted-example></doc-dimmer-inverted-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-dimmer</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiDimmerAlignment</td>
        <td>Specifies the dimmer content position. Allowed values could be
          <span sui-label>'top'</span> | <span sui-label>'bottom'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">top</div>
        </td>
      </tr>
      <tr>
        <td>suiDimmerBlurring</td>
        <td>Determine if the dimmer should blur the background</td>
        <td>
          <div sui-label
               suiColour="teal">boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiDimmerInverted</td>
        <td>Determine if the dimmer should invert its colours</td>
        <td>
          <div sui-label
               suiColour="teal">boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiDimmerSimple</td>
        <td>Show a simple dimmer</td>
        <td>
          <div sui-label
               suiColour="teal">boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiDimmerFullPage</td>
        <td>Determine if the dimmer should cover the entire page</td>
        <td>
          <div sui-label
               suiColour="teal">boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCloseOnClick</td>
        <td>Determine if the dimmer should be closed when the mask or any other location is clicked</td>
        <td>
          <div sui-label
               suiColour="teal">boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">true
          </div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>Stop the dimmer from responding to actions</td>
        <td>
          <div sui-label
               suiColour="teal">boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">false
          </div>
        </td>
      </tr>
      <tr>
        <td>dimmed</td>
        <td>Determines if the dimmer is shown or not. This field supports two way binding following the
          <code>[(dimmed)]</code> syntax.
        </td>
        <td>
          <div sui-label
               suiColour="teal">boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiDimmerContent</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</doc-page>
