<doc-page
    header="Dimmer"
    subHeader="A dimmer hides distractions to focus attention on particular content"
    (pageChanged)="tabChanged($event)">
  <ng-container *ngIf="isDefinitionsActive">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="simple"
        [templateCode]="snippetSimple"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Dimmer</h3>
      <p>A simple dimmer displays no content</p>

      <ng-template #simple>
        <button sui-button
                (click)="simpleDimmerVisible = !simpleDimmerVisible">
          Toggle Dimmer
        </button>

        <div sui-segment
             sui-dimmer
             [(dimmed)]="simpleDimmerVisible">
          <div sui-placeholder
               suiFluid>
            <div suiPlaceholderImage suiHeader>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="content"
        [templateCode]="snippetContent"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Content Dimmer</h3>
      <p>A dimmer can display content</p>

      <ng-template #content>
        <button sui-button
                (click)="contentDimmerVisible = !contentDimmerVisible">
          Toggle Dimmer
        </button>

        <div sui-segment
             sui-dimmer
             [(dimmed)]="contentDimmerVisible">
          <div sui-placeholder
               suiFluid>
            <div suiPlaceholderImage suiHeader>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
          </div>

          <ng-template suiDimmerContent>
            <h2 sui-header
                suiIcon
                suiInverted>
              <i sui-icon
                 suiIconType="heart"></i>
              Dimmed Message!
            </h2>
          </ng-template>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="page"
        [templateCode]="snippetPage"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Page Dimmer</h3>
      <p>A dimmer can be formatted to be fixed to the page</p>

      <ng-template #page>
        <button sui-button
                (click)="pageDimmerVisible = !pageDimmerVisible">
          Toggle Dimmer
        </button>

        <div sui-dimmer
             suiDimmerFullPage
             [(dimmed)]="pageDimmerVisible">
          <ng-template suiDimmerContent>
            <h2 sui-header
                suiIcon
                suiInverted>
              <i sui-icon
                 suiIconType="mail"></i>
              Dimmed Message
            </h2>
            <div suiSubHeader>Dimmer sub-header</div>
          </ng-template>
        </div>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [content]="active"
        [templateCode]="snippetActive">
      <h3 sui-header>Active</h3>
      <p>An active dimmer will dim its parent container</p>

      <ng-template #active>
        <!--        <div sui-segment-->
        <!--             sui-dimmer-->
        <!--             dimmed>-->
        <!--          <div sui-placeholder-->
        <!--               suiFluid>-->
        <!--            <div suiPlaceholderParagraph>-->
        <!--              <div suiPlaceholderLine></div>-->
        <!--              <div suiPlaceholderLine></div>-->
        <!--              <div suiPlaceholderLine></div>-->
        <!--            </div>-->
        <!--            <div suiPlaceholderParagraph>-->
        <!--              <div suiPlaceholderLine></div>-->
        <!--              <div suiPlaceholderLine></div>-->
        <!--              <div suiPlaceholderLine></div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="disabled"
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>A disabled dimmer cannot be activated</p>

      <ng-template #disabled>
        <div sui-segment
             sui-dimmer
             disabled>
          <div sui-placeholder
               suiFluid>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [content]="blurring"
        [templateCode]="snippetBlurring"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Blurring</h3>
      <p>A dimmable element can blur its contents</p>

      <ng-template #blurring>
        <button sui-button
                (click)="blurringDimmerVisible = !blurringDimmerVisible">
          Toggle Dimmer
        </button>

        <div sui-segment
             sui-dimmer
             suiDimmerBlurring
             [(dimmed)]="blurringDimmerVisible">
          <div sui-placeholder
               suiFluid>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="blurringInverted"
        [templateCode]="snippetBlurringInverted"
        [componentCode]="snippetSharedTs">
      <ng-template #blurringInverted>
        <button sui-button
                (click)="blurringDInvertedDimmerVisible = !blurringDInvertedDimmerVisible">
          Toggle Dimmer
        </button>

        <div sui-segment
             sui-dimmer
             suiDimmerBlurring
             suiDimmerInverted
             [(dimmed)]="blurringDInvertedDimmerVisible">
          <div sui-placeholder
               suiFluid>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="topAlignment"
        [templateCode]="snippetTopAligned"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Vertical Alignment</h3>
      <p>A dimmer can have its content top or bottom aligned.</p>

      <ng-template #topAlignment>
        <button sui-button
                (click)="topAlignmentDimmerVisible = !topAlignmentDimmerVisible">
          Toggle Dimmer
        </button>

        <div sui-segment
             sui-dimmer
             suiDimmerAlignment="top"
             [(dimmed)]="topAlignmentDimmerVisible">
          <div sui-placeholder
               suiFluid>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
          </div>

          <ng-template suiDimmerContent>
            <h2 sui-header
                suiInverted>
              Title
            </h2>
            <div sui-button
                 suiEmphasis="primary">Add</div>
            <div sui-button>View</div>
          </ng-template>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="bottomAlignment"
        [templateCode]="snippetBottomAligned"
        [componentCode]="snippetSharedTs">
      <ng-template #bottomAlignment>
        <button sui-button
                (click)="bottomAlignmentDimmerVisible = !bottomAlignmentDimmerVisible">
          Toggle Dimmer
        </button>

        <div sui-segment
             sui-dimmer
             suiDimmerAlignment="bottom"
             [(dimmed)]="bottomAlignmentDimmerVisible">
          <div sui-placeholder
               suiFluid>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
          </div>

          <ng-template suiDimmerContent>
            <h2 sui-header
                suiInverted>
              Title
            </h2>
            <div sui-button
                 suiEmphasis="primary">Add</div>
            <div sui-button>View</div>
          </ng-template>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="inverted"
        [templateCode]="snippetInverted"
        [componentCode]="snippetSharedTs">
      <h3 sui-header>Inverted</h3>
      <p>A dimmer can be formatted to have its colors inverted</p>

      <ng-template #inverted>
        <button sui-button
                (click)="invertedDimmerVisible = !invertedDimmerVisible">
          Toggle Dimmer
        </button>

        <div sui-segment
             sui-dimmer
             suiDimmerInverted
             [(dimmed)]="invertedDimmerVisible">
          <div sui-placeholder
               suiFluid>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
            <div suiPlaceholderParagraph>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
              <div suiPlaceholderLine></div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
  </ng-container>

  <ng-container *ngIf="isApiActive">
    <h2 sui-header
        suiDividing>sui-tabs</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiTabMenuPosition</td>
        <td>Specifies the menu position. Allowed values could be
          <span sui-label>'top'</span> | <span sui-label>'bottom'</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">top</div>
        </td>
      </tr>
      <tr>
        <td>suiTabType</td>
        <td>
          Determine the styling for the tab menu. Allowed values could be
          <span sui-label>'basic'</span> | <span sui-label>'pointing'</span> | <span sui-label>'secondary'</span> |
          <span sui-label>'text'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">basic</div>
        </td>
      </tr>
      <tr>
        <td>suiColour</td>
        <td>Set the menu colour. Allowed values could be
          <span sui-label>'red'</span> | <span sui-label>'orange'</span> | <span sui-label>'yellow'</span> | <span
              sui-label>'olive'</span> | <span sui-label>'green'</span> | <span sui-label>'teal'</span> | <span
              sui-label>'blue'</span> | <span sui-label>'violet'</span> | <span sui-label>'purple'</span> | <span
              sui-label>'pink'</span> | <span sui-label>'brown'</span> | <span sui-label>'grey'</span> | <span
              sui-label>'black'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h4 sui-header>Events</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSelectedIndexChanged</td>
        <td>Fires when the selected tab is changed. Index starts from 0.</td>
        <td>
          <div sui-label suiColour="teal">number</div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>sui-tab</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiTitle</td>
        <td>Set the tab title</td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiIcon</td>
        <td>Set the tab icon</td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiLoading</td>
        <td>Show the loading icon
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>Prevent the tab from being activated
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</doc-page>
