<doc-page
    header="Rating"
    subHeader="A rating indicates user interest in content">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [content]="basic"
        [templateCode]="snippetBasic">
      <h3 sui-header>Rating <span sui-label
                                  suiColour="teal">Flexbox</span></h3>
      <p>A basic rating</p>

      <ng-template #basic>
        <sui-rating suiMaxValue="1"></sui-rating>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="star"
        [templateCode]="snippetStar">
      <h3 sui-header>Star</h3>
      <p>A rating can use a set of star icons</p>

      <ng-template #star>
        <sui-rating
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="heart"
        [templateCode]="snippetHeart">
      <h3 sui-header>Heart</h3>
      <p>A rating can use a set of heart icons</p>

      <ng-template #heart>
        <sui-rating
            suiType="heart"
            suiValue="1"
            suiMaxValue="3"></sui-rating>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [content]="sizes"
        [templateCode]="snippetSizes">
      <h3 sui-header>Size</h3>
      <p>A rating can vary in size</p>

      <ng-template #sizes>
        <sui-rating
            suiSize="mini"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="tiny"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="small"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="large"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="huge"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="huge"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="massive"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-rating</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the rating size. Allowed values could be
          <span sui-label>mini</span> | <span sui-label>tiny</span> | <span sui-label>small</span> | <span
              sui-label>medium</span> | <span sui-label>big</span> | <span sui-label>huge</span> | <span
              sui-label>massive</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiType</td>
        <td>Specifies a icon to use. Cannot be used together with url. Allowed values could be
          <span sui-label>star</span> | <span sui-label>heart</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal"> string</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> null</div>
        </td>
      </tr>
      <tr>
        <td>suiReadOnly </td>
        <td>
          Setting to true or false will determine if users can change the rating value
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiClearable</td>
        <td>
          Setting to true or false will determine if clicking on the value would reset it
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h4 sui-header>Events</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>valueChanged </td>
        <td>Fired when the rating value is changed. Also supports <code>[(ngModel)]</code> syntax</td>
        <td>
          <div sui-label
               suiColour="teal">
            number
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
