<doc-page
    header="Rating"
    subHeader="A rating indicates user interest in content"
    (pageChanged)="tabChanged($event)">
  <ng-container *ngIf="isDefinitionsActive">
    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [content]="basic"
        [code]="snippetBasic">
      <h3 sui-header>Rating <span sui-label
                                  suiColour="teal">Flexbox</span></h3>
      <p>A basic rating</p>

      <ng-template #basic>
        <sui-rating suiMaxValue="1"></sui-rating>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="star"
        [code]="snippetStar">
      <h3 sui-header>Star</h3>
      <p>A rating can use a set of star icons</p>

      <ng-template #star>
        <sui-rating
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="heart"
        [code]="snippetHeart">
      <h3 sui-header>Heart</h3>
      <p>A rating can use a set of heart icons</p>

      <ng-template #heart>
        <sui-rating
            suiType="heart"
            suiValue="1"
            suiMaxValue="3"></sui-rating>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [content]="sizes"
        [code]="snippetBasic">
      <h3 sui-header>Size</h3>
      <p>A rating can vary in size</p>

      <ng-template #sizes>
        <sui-rating
            suiSize="mini"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="tiny"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="small"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="large"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="huge"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="huge"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
        <br><br>
        <sui-rating
            suiSize="massive"
            suiType="star"
            suiValue="3"
            suiMaxValue="4"></sui-rating>
      </ng-template>
    </doc-code-sample>
  </ng-container>

  <ng-container *ngIf="isApiActive">
    <h2 sui-header
        suiDividing>sui-embed</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSource</td>
        <td>Specifies a source to use. Cannot be used together with url. Allowed values could be
          <span sui-label>'youtube'</span> | <span sui-label>'vimeo'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal"> string</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> null</div>
        </td>
      </tr>
      <tr>
        <td>suiAspectRatio</td>
        <td>
          An embed can specify an alternative aspect ratio. Allowed values could be
          <span sui-label>'4:3'</span> | <span sui-label>'16:9'</span> | <span sui-label>'21:9'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiIcon</td>
        <td>
          Specifies an icon to use with placeholder content.
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">video play</div>
        </td>
      </tr>
      <tr>
        <td>suiId</td>
        <td>
          Specifies an id for source.
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
          |
          <div sui-label suiColour="teal">number</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiPlaceHolder</td>
        <td>
          A placeholder image for embed
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiSourceUrl</td>
        <td>
          Specifies a url to use for embed. Cannot be used together with source
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiAutoplay</td>
        <td>
          Setting to true or false will force autoplay
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</doc-page>
