<doc-page
    header="Placeholder"
    subHeader="A placeholder is used to reserve space for content that soon will appear in a layout">
  <div *docPageContent="'definition'">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetBasic">
      <h3 sui-header>Placeholder</h3>
      <p>A placeholder is used to reserve space for content that soon will appear in a layout.</p>

      <div sui-message
           suiState="info">
        <p>
          Placeholders can include <b><code>paragraph</code></b>, <b><code>header</code></b>, <b><code>image
          header</code></b> and <b><code>image</code></b> to let you format the loaders to emulate the content being
          loaded.
        </p>
      </div>

      <br/>

      <ng-template docDemo>
        <doc-placeholder-placeholder-example></doc-placeholder-placeholder-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetGrid">
      <ng-template docDemo>
        <doc-placeholder-grid-placeholder-example></doc-placeholder-grid-placeholder-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCard">
      <ng-template docDemo>
        <doc-placeholder-card-placeholder-example></doc-placeholder-card-placeholder-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header>Content</h2>

    <doc-code-sample
        [templateCode]="snippetLines">
      <h3 sui-header>Lines</h3>
      <p>A placeholder can contain have lines of text</p>

      <div sui-message
           suiState="info">
        <p> By default, repeated lines will appear varied in width. However, it may be useful to specify an exact length
          to make it match up with content more effectively </p>
      </div>

      <br/>

      <ng-template docDemo>
        <doc-placeholder-lines-example></doc-placeholder-lines-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetImageHeader">
      <h3 sui-header>Headers</h3>
      <p>A placeholder can contain a header</p>

      <div sui-message
           suiState="info">
        <p> Header content will have a slightly larger block size from paragraph </p>
      </div>

      <br/>

      <ng-template docDemo>
        <doc-placeholder-image-header-example></doc-placeholder-image-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHeader">
      <ng-template docDemo>
        <doc-placeholder-header-example></doc-placeholder-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetParagraph">
      <h3 sui-header>Paragraph</h3>
      <p>A placeholder can contain a paragraph</p>

      <div sui-message
           suiState="info">
        <p>Paragraphs are used to group lines together.</p>
      </div>

      <br/>

      <ng-template docDemo>
        <doc-placeholder-paragraph-example></doc-placeholder-paragraph-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetImage">
      <h3 sui-header>Image</h3>
      <p>A placeholder can contain an image</p>

      <ng-template docDemo>
        <doc-placeholder-image-example></doc-placeholder-image-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSquareImage">
      <div sui-message
           suiState="info">
        <p>Using <b><code>square</code></b> (1:1) or <b><code>rectangular</code></b> (4:3) will embed an aspect ratio
          into the image loader so that they modify size correctly with responsive styles.</p>
      </div>

      <br/>

      <ng-template docDemo>
        <doc-placeholder-square-images-example></doc-placeholder-square-images-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRectangularImage">
      <ng-template docDemo>
        <doc-placeholder-rectangular-images-example></doc-placeholder-rectangular-images-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetLineLength">
      <h3 sui-header>Line Length</h3>
      <p>A line can specify how long its contents should appear</p>

      <ng-template docDemo>
        <doc-placeholder-line-length-example></doc-placeholder-line-length-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetComplexLineLength">
      <ng-template docDemo>
        <doc-placeholder-complex-line-length-example></doc-placeholder-complex-line-length-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFluid">
      <h3 sui-header>Fluid</h3>
      <p>A fluid placeholder takes up the width of its container</p>

      <ng-template docDemo>
        <doc-placeholder-fluid-example></doc-placeholder-fluid-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>A placeholder can have their colours inverted.</p>

      <ng-template docDemo>
        <doc-placeholder-inverted-example></doc-placeholder-inverted-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-placeholder</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiFluid</td>
        <td>
          Determine if the placeholder should fill the width of it's parent container
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiActive</td>
        <td>
          Determine if the placeholder has the active attribute
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>
          Determine if the placeholder has its colours inverted
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiPlaceholderHeader</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiImage</td>
        <td>
          Determine if the placeholder header is of image type
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiPlaceholderImage</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSquare</td>
        <td>
          Determine if the image should have a 1:1 aspect ratio
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiRectangular</td>
        <td>
          Determine if the image should have a 4:3 aspect ratio
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiPlaceholderLine</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiLength</td>
        <td>
          Determine how long the line should be.  Allowed values could be
          <span sui-label>'full'</span> | <span sui-label>'very long'</span> |
          <span sui-label>'long'</span> | <span sui-label>'medium'</span> |
          <span sui-label>'short'</span> | <span sui-label>'very short'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiPlaceholderParagraph</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</doc-page>
