<doc-page
    header="Tab"
    subHeader="A tab is a hidden section of content activated by a menu">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Type</h2>

    <doc-code-sample
        [content]="basic"
        [templateCode]="snippetBasic">
      <h3 sui-header>Tab</h3>
      <p>A basic tab</p>

      <ng-template #basic>
        <sui-tabs>
          <sui-tab
              suiTitle="HTML">
            <h3>HTML</h3>
            <p>
              HTML (HyperText Markup Language) is the most basic building block of
              the Web. It describes and defines the content of a webpage along with
              the basic layout of the webpage. Other technologies besides HTML are
              generally used to describe a web page's appearance/presentation (CSS)
              or functionality/ behavior (JavaScript).
            </p>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">developer.mozilla.org</a>
          </sui-tab>
          <sui-tab
              suiTitle="CSS">
            <h3>CSS</h3>
            <p>
              Cascading Style Sheets (CSS) is a stylesheet language used to describe
              the presentation of a document written in HTML or XML (including XML
              dialects such as SVG or XHTML). CSS describes how elements should be
              rendered on screen, on paper, in speech, or on other media.
            </p>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">developer.mozilla.org</a>
          </sui-tab>
          <sui-tab
              suiTitle="JavaScript">
            <h3>JavaScript</h3>
            <p>
              JavaScript (JS) is a lightweight interpreted or JIT-compiled
              programming language with first-class functions. While it is most
              well-known as the scripting language for Web pages, many non-browser
              environments also use it, such as Node.js, Apache CouchDB and Adobe
              Acrobat. JavaScript is a prototype-based, multi-paradigm, dynamic
              language, supporting object-oriented, imperative, and declarative
              (e.g. functional programming) styles.
            </p>
            <a href="https://developer.mozilla.org/en-US/docs/Web/javascript">developer.mozilla.org</a>
          </sui-tab>
        </sui-tabs>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="pointingMenu"
        [templateCode]="snippetPointing">
      <h3 sui-header>Pointing Menu</h3>
      <p>A tab menu can point to its tab panes</p>

      <ng-template #pointingMenu>
        <sui-tabs
            suiTabType="pointing">
          <sui-tab
              suiTitle="Circle">
            Circle
          </sui-tab>
          <sui-tab
              suiTitle="Box">
            Box
          </sui-tab>
          <sui-tab
              suiTitle="Triangle">
            Triangle
          </sui-tab>
        </sui-tabs>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="textMenu"
        [templateCode]="snippetText">
      <h3 sui-header>Text Menu</h3>
      <p>A tab menu can be formatted for text content</p>

      <ng-template #textMenu>
        <sui-tabs
            suiTabType="text">
          <sui-tab
              suiTitle="Circle">
            Circle
          </sui-tab>
          <sui-tab
              suiTitle="Box">
            Box
          </sui-tab>
          <sui-tab
              suiTitle="Triangle">
            Triangle
          </sui-tab>
        </sui-tabs>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [content]="loading"
        [templateCode]="snippetLoading">
      <h3 sui-header>Loading</h3>
      <p>A tab can display a loading indicator.</p>

      <ng-template #loading>
        <sui-tabs>
          <sui-tab
              suiLoading
              suiTitle="Circle">
            Circle
          </sui-tab>
          <sui-tab
              suiTitle="Box">
            Box
          </sui-tab>
          <sui-tab
              suiTitle="Triangle">
            Triangle
          </sui-tab>
        </sui-tabs>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="disabled"
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>A tab can be disabled</p>

      <ng-template #disabled>
        <sui-tabs>
          <sui-tab
              suiTitle="Circle">
            Circle
          </sui-tab>
          <sui-tab
              suiTitle="Box">
            Box
          </sui-tab>
          <sui-tab
              disabled
              suiTitle="Secret Triangle">
            Triangle
          </sui-tab>
        </sui-tabs>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header
        suiDividing>Menu Variations</h2>

    <doc-code-sample
        [content]="positioned"
        [templateCode]="snippetPositioned">
      <h3 sui-header>Position</h3>
      <p>A tab can be positioned.</p>

      <ng-template #positioned>
        <sui-tabs
            suiTabType="secondary"
            suiTabMenuPosition="bottom">
          <sui-tab
              suiTitle="Circle">
            Circle
          </sui-tab>
          <sui-tab
              suiTitle="Box">
            Box
          </sui-tab>
          <sui-tab
              suiTitle="Triangle">
            Triangle
          </sui-tab>
        </sui-tabs>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="coloured"
        [templateCode]="snippetColoured">
      <h3 sui-header>Coloured</h3>
      <p>A tab can be coloured.</p>

      <ng-template #coloured>
        <select name="tab-colour"
                [(ngModel)]="tabColour">
          <option *ngFor="let colour of colours"
                  [value]="colour">{{colour}}</option>
        </select>

        <sui-tabs
            suiTabType="pointing"
            [suiColour]="tabColour">
          <sui-tab
              suiTitle="Circle">
            Circle
          </sui-tab>
          <sui-tab
              suiTitle="Box">
            Box
          </sui-tab>
          <sui-tab
              suiTitle="Triangle">
            Triangle
          </sui-tab>
        </sui-tabs>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-tabs</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiTabMenuPosition</td>
        <td>Specifies the menu position. Allowed values could be
          <span sui-label>'top'</span> | <span sui-label>'bottom'</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">top</div>
        </td>
      </tr>
      <tr>
        <td>suiTabType</td>
        <td>
          Determine the styling for the tab menu. Allowed values could be
          <span sui-label>'basic'</span> | <span sui-label>'pointing'</span> | <span sui-label>'secondary'</span> | <span sui-label>'text'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">basic</div>
        </td>
      </tr>
      <tr>
        <td>suiColour</td>
        <td>Set the menu colour. Allowed values could be
          <span sui-label>'red'</span> | <span sui-label>'orange'</span> | <span sui-label>'yellow'</span> | <span
              sui-label>'olive'</span> | <span sui-label>'green'</span> | <span sui-label>'teal'</span> | <span
              sui-label>'blue'</span> | <span sui-label>'violet'</span> | <span sui-label>'purple'</span> | <span
              sui-label>'pink'</span> | <span sui-label>'brown'</span> | <span sui-label>'grey'</span> | <span
              sui-label>'black'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h4 sui-header>Events</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSelectedIndexChanged</td>
        <td>Fires when the selected tab is changed. Index starts from 0.</td>
        <td>
          <div sui-label suiColour="teal">number</div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>sui-tab</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiTitle</td>
        <td>Set the tab title</td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiIcon</td>
        <td>Set the tab icon</td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiLoading</td>
        <td>Show the loading icon<td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>Prevent the tab from being activated<td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>

