<doc-page
    header="Advertisement"
    subHeader="An ad displays third-party promotional content">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetStandard">
      <h3 sui-header>Ad</h3>
      <p>A standard ad</p>

      <div sui-message>
        The following example uses a basic <a
          href="https://support.google.com/adsense/answer/181947?ctx=as2&rd=2&ref_topic=29033">AdSense
        implementation</a>. Your code will vary depending on your ad network.
      </div>

      <ng-template docDemo>
        <doc-advertisement-standard-example></doc-advertisement-standard-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCommonUnits">
      <h3 sui-header>Common Units</h3>
      <p>An advertisement can appear in common ad unit sizes</p>

      <div sui-message
           suiState="info">
        These additional examples use the <code>suiTest</code> variation to appear on the page.
        <code>sui-advertisement</code> is best used as a wrapper for third party ad network content like <a
          href="https://www.google.com/adsense/start/">AdSense</a> or <a
          href="https://www.google.com/doubleclick/publishers/welcome/">DoubleClick</a>.
      </div>

      <ng-template docDemo>
        <doc-advertisement-common-units-example></doc-advertisement-common-units-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetMobile">
      <h3 sui-header>Mobile</h3>
      <p>An ad can use common mobile ad sizes</p>

      <div sui-message
           suiState="info">
        Mobile ads will automatically only appear on mobile browser viewports.
      </div>

      <ng-template docDemo>
        <doc-advertisement-mobile-example></doc-advertisement-mobile-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetButton">
      <h3 sui-header>Button</h3>
      <p>An ad can use button ad unit size</p>

      <ng-template docDemo>
        <doc-advertisement-button-example></doc-advertisement-button-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSkyscraper">
      <h3 sui-header>Skyscraper</h3>
      <p>An ad can use skyscraper ad unit size</p>

      <ng-template docDemo>
        <doc-advertisement-skyscraper-example></doc-advertisement-skyscraper-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBanner">
      <h3 sui-header>Banners</h3>
      <p>An ad can use banner ad unit size</p>

      <ng-template docDemo>
        <doc-advertisement-banner-example></doc-advertisement-banner-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLeaderboard">
      <h3 sui-header>Leaderboards</h3>
      <p>An ad can use leaderboard ad unit size</p>

      <ng-template docDemo>
        <doc-advertisement-leaderboard-example></doc-advertisement-leaderboard-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetPanorama">
      <h3 sui-header>Panorama</h3>
      <p>An ad can use panorama ad unit size</p>

      <ng-template docDemo>
        <doc-advertisement-panorama-example></doc-advertisement-panorama-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetNetboard">
      <h3 sui-header>Netboard</h3>
      <p>An ad can use netboard ad unit size</p>

      <ng-template docDemo>
        <doc-advertisement-netboard-example></doc-advertisement-netboard-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetCentered">
      <h3 sui-header>Centered</h3>
      <p>An advertisement can appear centered</p>

      <ng-template docDemo>
        <doc-advertisement-centered-example></doc-advertisement-centered-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetTest">
      <h3 sui-header>Test</h3>
      <p>A advertisement can be formatted to help verify placement</p>

      <div sui-message suiState="info">
        You can adjust the text displayed for your test ad placement by changing the value of <code>data-text</code>.
      </div>

      <ng-template docDemo>
        <doc-advertisement-test-example></doc-advertisement-test-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-advertisement</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the ad size. Allowed values could be
          <span sui-label>mini</span> | <span sui-label>tiny</span> | <span sui-label>small</span> | <span
              sui-label>medium</span> | <span sui-label>big</span> | <span sui-label>huge</span> | <span
              sui-label>massive</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiType</td>
        <td>Set the ad unit type. Allowed values could be
          <span sui-label>banner</span> | <span sui-label>rectangle</span> | <span sui-label>leaderboard</span> | <span
              sui-label>page</span> | <span sui-label>button</span> | <span sui-label>skyscraper</span> | <span
              sui-label>billboard</span> | <span sui-label>panorama</span> | <span sui-label>netboard</span> | <span
              sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiVertical</td>
        <td>Determines if the advertisement should have a vertical orientation
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiHalf</td>
        <td>Determines if the advertisement should be half the width or height of the unit
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiTop</td>
        <td>Determines if the advertisement should be placed at the top
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiWide</td>
        <td>Determines if the advertisement should be wide
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSquare</td>
        <td>Determines if the advertisement should be square
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCentered</td>
        <td>Determines if the advertisement should be centered
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiTest</td>
        <td>Determines if the advertisement should have dummy content rendered
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiMobile</td>
        <td>Determines if the advertisement should be rendered in a mobile-aware way
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
