<doc-page
    header="Advertisement"
    subHeader="An ad displays third-party promotional content">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="standard"
        [templateCode]="snippetStandard">
      <h3 sui-header>Ad</h3>
      <p>A standard ad</p>

      <div sui-message>
        The following example uses a basic <a
          href="https://support.google.com/adsense/answer/181947?ctx=as2&rd=2&ref_topic=29033">AdSense
        implementation</a>. Your code will vary depending on your ad network.
      </div>

      <ng-template #standard>
        <div sui-advertisement
             suiType="banner"></div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="commonUnits"
        [templateCode]="snippetCommonUnits">
      <h3 sui-header>Common Units</h3>
      <p>An advertisement can appear in common ad unit sizes</p>

      <div sui-message
           suiState="info">
        These additional examples use the <code>suiTest</code> variation to appear on the page.
        <code>sui-advertisement</code> is best used as a wrapper for third party ad network content like <a
          href="https://www.google.com/adsense/start/">AdSense</a> or <a
          href="https://www.google.com/doubleclick/publishers/welcome/">DoubleClick</a>.
      </div>

      <ng-template #commonUnits>
        <div sui-advertisement suiTest suiType="banner" data-text="Banner"></div>
        <div sui-advertisement suiTest suiHalf suiType="page" data-text="Half Page"></div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="mobile"
        [templateCode]="snippetMobile">
      <h3 sui-header>Mobile</h3>
      <p>An ad can use common mobile ad sizes</p>

      <div sui-message
           suiState="info">
        Mobile ads will automatically only appear on mobile browser viewports.
      </div>

      <ng-template #mobile>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="button"
        [templateCode]="snippetButton">
      <h3 sui-header>Button</h3>
      <p>An ad can use button ad unit size</p>

      <ng-template #button>
        <div sui-advertisement suiTest suiType="button" data-text="Button"></div>
        <div sui-advertisement suiTest suiSquare suiType="button" data-text="Square Button"></div>
        <div sui-advertisement suiTest suiSize="small" suiType="button" data-text="Small Button"></div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="skyscraper"
        [templateCode]="snippetSkyscraper">
      <h3 sui-header>Skyscraper</h3>
      <p>An ad can use skyscraper ad unit size</p>

      <ng-template #skyscraper>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="banner"
        [templateCode]="snippetBanner">
      <h3 sui-header>Banners</h3>
      <p>An ad can use banner ad unit size</p>

      <ng-template #banner>
        <div sui-advertisement suiTest suiType="banner" data-text="Banner"></div>
        <div sui-advertisement suiTest suiVertical suiType="banner" data-text="Vertical Banner"></div>
        <div sui-advertisement suiTest suiHalf suiType="banner" data-text="Half Banner"></div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="leaderboard"
        [templateCode]="snippetLeaderboard">
      <h3 sui-header>Leaderboards</h3>
      <p>An ad can use leaderboard ad unit size</p>

      <ng-template #leaderboard>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="panorama"
        [templateCode]="snippetPanorama">
      <h3 sui-header>Panorama</h3>
      <p>An ad can use panorama ad unit size</p>

      <ng-template #panorama>
        <div sui-advertisement suiTest suiType="panorama" data-text="Panorama"></div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="netboard"
        [templateCode]="snippetNetboard">
      <h3 sui-header>Netboard</h3>
      <p>An ad can use netboard ad unit size</p>

      <ng-template #netboard>
      </ng-template>
    </doc-code-sample>
  </div>
</doc-page>
