<doc-page
    header="Icon"
    subHeader="An icon is a glyph used to represent something else">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [content]="disabled"
        [templateCode]="snippetIconDisabled">
      <h3 sui-header>Disabled</h3>
      <p>An icon can show that it is disabled</p>

      <ng-template #disabled>
        <i sui-icon
           disabled
           suiIconType="users"></i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="loading"
        [templateCode]="snippetIconLoading">
      <h3 sui-header>Loading</h3>
      <p>An icon can be used as a simple loader</p>

      <ng-template #loading>
        <i sui-icon
           suiLoading
           suiIconType="spinner"></i>
        <i sui-icon
           suiLoading
           suiIconType="notched circle"></i>
        <i sui-icon
           suiLoading
           suiIconType="asterisk"></i>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [content]="fitted"
        [templateCode]="snippetIconFitted">
      <h3 sui-header>Fitted</h3>
      <p>An icon can be fitted, without any space to the left or right of it. </p>

      <ng-template #fitted>
        <div>
          Tight Spacing
          <i sui-icon
             suiFitted
             suiIconType="help"></i>
          Tight Spacing
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="size"
        [templateCode]="snippetIconSizes">
      <h3 sui-header>Size</h3>
      <p>An icon can vary in size</p>

      <ng-template #size>
        <i sui-icon
           suiSize="mini"
           suiIconType="home"></i>
        <i sui-icon
           suiSize="tiny"
           suiIconType="home"></i>
        <i sui-icon
           suiSize="small"
           suiIconType="home"></i>
        <i sui-icon
           suiIconType="home"></i>
        <i sui-icon
           suiSize="large"
           suiIconType="home"></i>
        <i sui-icon
           suiSize="big"
           suiIconType="home"></i>
        <i sui-icon
           suiSize="huge"
           suiIconType="home"></i>
        <i sui-icon
           suiSize="massive"
           suiIconType="home"></i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="link"
        [templateCode]="snippetIconLink">
      <h3 sui-header>Link</h3>
      <p>An icon can be formatted as a link</p>

      <ng-template #link>
        <i sui-icon
           suiLink
           suiIconType="close"></i>
        <i sui-icon
           suiLink
           suiIconType="help"></i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="flipped"
        [templateCode]="snippetIconFlipped">
      <h3 sui-header>Flipped</h3>
      <p>An icon can be flipped</p>

      <ng-template #flipped>
        <i sui-icon
           suiFlip="horizontal"
           suiIconType="cloud"></i>
        <i sui-icon
           suiFlip="vertical"
           suiIconType="cloud"></i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="rotated"
        [templateCode]="snippetIconRotated">
      <h3 sui-header>Rotated</h3>
      <p>An icon can be rotated</p>

      <ng-template #rotated>
        <i sui-icon
           suiRotation="clockwise"
           suiIconType="cloud"></i>
        <i sui-icon
           suiRotation="counterclockwise"
           suiIconType="cloud"></i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="circular"
        [templateCode]="snippetIconCircular">
      <h3 sui-header>Circular</h3>
      <p>An icon can be formatted to appear circular</p>

      <ng-template #circular>
        <i sui-icon
           suiCircular
           suiIconType="users"></i>
        <i sui-icon
           suiCircular
           suiColour="teal"
           suiIconType="users"></i>
        <i sui-icon
           suiCircular
           suiInverted
           suiIconType="users"></i>
        <i sui-icon
           suiCircular
           suiInverted
           suiColour="teal"
           suiIconType="users"></i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="bordered"
        [templateCode]="snippetIconBordered">
      <h3 sui-header>Bordered</h3>
      <p>An icon can be formatted to appear bordered</p>

      <ng-template #bordered>
        <i sui-icon
           suiBordered
           suiIconType="users"></i>
        <i sui-icon
           suiBordered
           suiColour="teal"
           suiIconType="users"></i>
        <i sui-icon
           suiBordered
           suiInverted
           suiIconType="users"></i>
        <i sui-icon
           suiBordered
           suiInverted
           suiColour="teal"
           suiIconType="users"></i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="coloured"
        [templateCode]="snippetIconColoured">
      <h3 sui-header>Coloured</h3>
      <p>An icon can be formatted with different colours</p>

      <ng-template #coloured>
        <i sui-icon
           suiColour="red"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="orange"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="yellow"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="olive"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="green"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="teal"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="blue"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="violet"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="purple"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="pink"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="brown"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="grey"
           suiIconType="users"></i>
        <i sui-icon
           suiColour="black"
           suiIconType="users"></i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="invertedColoured"
        [templateCode]="snippetIconInvertedColoured">
      <h3 sui-header>Inverted</h3>
      <p>An icon can have its colours inverted for contrast</p>

      <ng-template #invertedColoured>
        <div sui-segment
             suiInverted>
          <i sui-icon
             suiInverted
             suiColour="red"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="orange"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="yellow"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="olive"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="green"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="teal"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="blue"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="violet"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="purple"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="pink"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="brown"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="grey"
             suiIconType="users"></i>
          <i sui-icon
             suiInverted
             suiColour="black"
             suiIconType="users"></i>
        </div>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Groups</h2>

    <doc-code-sample
        [content]="firstIconGroup"
        [templateCode]="snippetIconsFirst">
      <h3 sui-header>Icons</h3>
      <p>Several icons can be used together as a group</p>

      <ng-template #firstIconGroup>
        <i sui-icons
           suiSize="huge">
          <i sui-icon
             suiSize="big"
             suiIconType="circle outline"></i>
          <i sui-icon
             suiIconType="user"></i>
        </i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="secondIconGroup"
        [templateCode]="snippetIconsSecond">
      <ng-template #secondIconGroup>
        <i sui-icons
           suiSize="huge">
          <i sui-icon
             suiSize="big"
             suiColour="red"
             suiIconType="dont"></i>
          <i sui-icon
             suiIconType="user"></i>
        </i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="cornerIcon"
        [templateCode]="snippetIconsCorner">
      <h3 sui-header>Corner Icon</h3>
      <p>A group of icons can display a smaller corner icon</p>

      <ng-template #cornerIcon>
        <i sui-icons
           suiSize="huge">
          <i sui-icon
             suiIconType="puzzle"></i>
          <i sui-icon
             suiCorner="bottom right"
             suiIconType="add"></i>
        </i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="cornerIconOptions"
        [templateCode]="snippetIconsCornerOptions">
      <ng-template #cornerIconOptions>
        <i sui-icons
           suiSize="huge">
          <i sui-icon
             suiIconType="puzzle"></i>
          <i sui-icon
             suiCorner="top left"
             suiIconType="add"></i>
        </i>
        <i sui-icons
           suiSize="huge">
          <i sui-icon
             suiIconType="puzzle"></i>
          <i sui-icon
             suiCorner="top right"
             suiIconType="add"></i>
        </i>
        <i sui-icons
           suiSize="huge">
          <i sui-icon
             suiIconType="puzzle"></i>
          <i sui-icon
             suiCorner="bottom left"
             suiIconType="add"></i>
        </i>
        <i sui-icons
           suiSize="huge">
          <i sui-icon
             suiIconType="puzzle"></i>
          <i sui-icon
             suiCorner="bottom right"
             suiIconType="add"></i>
        </i>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="inlineCornerIcon"
        [templateCode]="snippetIconsInline">
      <ng-template #inlineCornerIcon>
        <div sui-header>
          <i sui-icons>
            <i sui-icon
               suiIconType="twitter"></i>
            <i sui-icon
               suiInverted
               suiCorner="bottom right"
               suiIconType="add"></i>
          </i>
          Add on Twitter
        </div>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-icon</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the icon size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal"> string</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> null</div>
        </td>
      </tr>
      <tr>
        <td>suiFlip</td>
        <td>
          Icon flip direction. Allowed values could be
          <span sui-label>'horizontal'</span> | <span sui-label>'vertical'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiRotation</td>
        <td>
          Icon rotate direction. Allowed values could be
          <span sui-label>'clockwise'</span> | <span sui-label>'counterclockwise'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiColour</td>
        <td>
          Set the icon colour. Allowed values could be
          <span sui-label>'red'</span> | <span sui-label>'orange'</span> | <span sui-label>'yellow'</span> | <span
            sui-label>'olive'</span> | <span sui-label>'green'</span> | <span sui-label>'teal'</span> | <span
            sui-label>'blue'</span> | <span sui-label>'violet'</span> | <span sui-label>'purple'</span> | <span
            sui-label>'pink'</span> | <span sui-label>'brown'</span> | <span sui-label>'grey'</span> | <span
            sui-label>'black'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiCorner</td>
        <td>
          Align icon to corner. Allowed values could be
          <span sui-label>'top left'</span> | <span sui-label>'top right'</span> | <span sui-label>'bottom left'</span> | <span sui-label>'bottom right'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiIconType</td>
        <td>
          The icon name
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>
          Reducing icon opacity to create "disabled icon" effect.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiOutline</td>
        <td>
          Set font-family icon to outlined
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiLoading</td>
        <td>
          Add rotate animation to icon.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFitted</td>
        <td> Icon flip direction.</td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> false</div>
        </td>
      </tr>
      <tr>
        <td>suiLink</td>
        <td>Add hover animation to icon.</td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> false</div>
        </td>
      </tr>
      <tr>
        <td>suiCircular</td>
        <td>Add circular border to icon.</td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> false</div>
        </td>
      </tr>
      <tr>
        <td>suiBordered</td>
        <td>Add squared border to icon.</td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> false</div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>Add black background to icon, also change icon colour to contrasted variant.</td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> false</div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>sui-icons</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the header size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
