<div sui-items>
  <div sui-item>
    <div suiItemImage>
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Content A</a>
      <div suiItemDescription>
        <img src="/assets/images/wireframes/short-paragraph.png"/>
      </div>
      <div suiItemExtra>
        <div sui-button suiFloated="right floated">
          Action
        </div>
      </div>
    </div>
  </div>
  <div sui-item>
    <div suiItemImage>
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Content B</a>
      <div suiItemDescription>
        <img src="/assets/images/wireframes/short-paragraph.png"/>
      </div>
      <div suiItemExtra>
        <div sui-button suiFloated="right floated">
          Action
        </div>
      </div>
    </div>
  </div>
  <div sui-item>
    <div suiItemImage>
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Content C</a>
      <div suiItemDescription>
        <img src="/assets/images/wireframes/short-paragraph.png"/>
      </div>
      <div suiItemExtra>
        <div sui-button suiFloated="right floated">
          Action
        </div>
      </div>
    </div>
  </div>
</div>
