<div sui-items>
  <div sui-item>
    <div sui-image suiSize="tiny">
      <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Stevie Feliciano</a>
      <div suiItemDescription>
        <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time
          reading, running, and writing.</p>
      </div>
    </div>
  </div>
  <div sui-item>
    <div sui-image suiSize="tiny">
      <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Veronika Ossi</a>
      <div suiItemDescription>
        <p>Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.</p>
      </div>
    </div>
  </div>
  <div sui-item>
    <div sui-image suiSize="tiny">
      <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Jenny Hess</a>
      <div suiItemDescription>
        <p>Veronika Ossi is a set designer living in New York who <a>enjoys</a> kittens, music, and partying.
        </p>
      </div>
    </div>
  </div>
</div>
