<div sui-items suiDivided>
  <div sui-item>
    <div sui-image suiSize="small">
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Arrowhead Valley Camp</a>
      <div suiItemMeta>
        <span>$1200</span>
        <span>1 Month</span>
      </div>
      <div suiItemDescription>
        <img src="/assets/images/wireframes/short-paragraph.png"/>
      </div>
    </div>
  </div>
  <div sui-item>
    <div sui-image suiSize="small">
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Buck's Homebrew Stayaway</a>
      <div suiItemMeta>
        <span>$1000</span>
        <span>2 Weeks</span>
      </div>
      <div suiItemDescription>
        <img src="/assets/images/wireframes/short-paragraph.png"/>
      </div>
    </div>
  </div>
  <div sui-item>
    <div sui-image suiSize="small">
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Astrology Camp</a>
      <div suiItemMeta>
        <span>$1600</span>
        <span>6 Weeks</span>
      </div>
      <div suiItemDescription>
        <img src="/assets/images/wireframes/short-paragraph.png"/>
      </div>
    </div>
  </div>
</div>
