<div sui-items>
  <div sui-item>
    <div sui-image suiSize="tiny">
      <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg"/>
    </div>
    <div suiItemContent suiAlignment="middle aligned">
      <a suiItemHeader>
        <i sui-icon suiIconType="like"></i>
        Veronika Ossi
      </a>
    </div>
  </div>
  <div sui-item>
    <div sui-image suiSize="tiny">
      <img src="https://semantic-ui.com/images/avatar/large/justen.jpg"/>
    </div>
    <div suiItemContent suiAlignment="middle aligned">
      <a suiItemHeader>
        <i sui-icon suiIconType="favorite"></i>
        Justen Kitsune
      </a>
    </div>
  </div>
</div>
