<div sui-items suiUnstackable>
  <div sui-item>
    <div suiItemImage>
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Header</a>
      <div suiItemMeta>
        <span>Description</span>
      </div>
      <div suiItemDescription>
        <img src="/assets/images/wireframes/short-paragraph.png"/>
      </div>
      <div suiItemExtra>
        Additional Details
      </div>
    </div>
  </div>
  <div sui-item>
    <div suiItemImage>
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Header</a>
      <div suiItemMeta>
        <span>Description</span>
      </div>
      <div suiItemDescription>
        <img src="/assets/images/wireframes/short-paragraph.png"/>
      </div>
      <div suiItemExtra>
        Additional Details
      </div>
    </div>
  </div>
</div>
