<div sui-items>
  <div sui-item>
    <div sui-image suiSize="small">
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent>
      <a suiItemHeader>Top Aligned</a>
    </div>
  </div>
  <div sui-item>
    <div sui-image suiSize="small">
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent suiAlignment="middle aligned">
      <a suiItemHeader>Middle Aligned</a>
    </div>
  </div>
  <div sui-item>
    <div sui-image suiSize="small">
      <img src="/assets/images/wireframes/image.png"/>
    </div>
    <div suiItemContent suiAlignment="bottom aligned">
      <a suiItemHeader>Bottom Aligned</a>
    </div>
  </div>
</div>
