<div>
  <h1 sui-header suiDividing>Contributing</h1>
  <p>Ngx Semantic is a young project. A whole lot remains to be done. Documentation needs to be added and there would be
    issues that need to be triaged and bug fixes implemented as the library gains traction.</p>

  <h2 sui-header suiDividing>How to start</h2>
  <p>It is very easy:</p>
  <ul>
    <li>Find something to do. There's plenty of it, just check the <em>issues</em> page to get ideas.</li>
    <li>It is suggested to submit an issue first: this can help you avoiding any extra work</li>
  </ul>
  <p>Once it is clear what you need to do:</p>
  <ul>
    <li>Fork the project</li>
    <li>Clone it:<pre><code>$ git clone https://github.com/&lt;your username&gt;/ngx-semantic</code></pre></li>
    <li>Make your changes. Here are some good guidelines:<ul>
      <li>Don't worry about making a lot of commits, they will be squashed when the PR is merged</li>
      <li>Write clear commit messages</li>
      <li>Respect the coding style. If you don't have it already, install an eslint plugin for your editor</li>
    </ul>
    </li>
    <li>Test your code</li>
  </ul>
</div>
