<doc-page
    header="Segment"
    subHeader="A segment is used to create a grouping of related content">
  <div *docPageContent="'definition'">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetSegment">
      <h3 sui-header>Segment</h3>
      <p>A segment of content.</p>

      <ng-template docDemo>
        <doc-segment-segment-example></doc-segment-segment-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetPlaceholder">
      <h3 sui-header>Placeholder Segment</h3>
      <p>A segment can be used to reserve space for conditionally displayed content.</p>

      <ng-template docDemo>
        <doc-segment-placeholder-example></doc-segment-placeholder-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetPlaceholderAlt">
      <ng-template docDemo>
        <doc-segment-placeholder-alt-example></doc-segment-placeholder-alt-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetPlaceholderAltToo">
      <ng-template docDemo>
        <doc-segment-placeholder-alt-too-example></doc-segment-placeholder-alt-too-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRaised">
      <h3 sui-header>Raised</h3>
      <p>A segment may be formatted to raise above the page.</p>

      <ng-template docDemo>
        <doc-segment-raised-example></doc-segment-raised-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetStacked">
      <h3 sui-header>Stacked</h3>
      <p>A segment can be formatted to show it contains multiple pages.</p>

      <ng-template docDemo>
        <doc-segment-stacked-example></doc-segment-stacked-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetTallStacked">
      <ng-template docDemo>
        <doc-segment-tall-stacked-example></doc-segment-tall-stacked-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetPiled">
      <h3 sui-header>Piled</h3>
      <p>A segment can be formatted to look like a pile of pages.</p>

      <ng-template docDemo>
        <doc-segment-piled-example></doc-segment-piled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetVertical">
      <h3 sui-header>Vertical Segment</h3>
      <p>A vertical segment formats content to be aligned as part of a vertical group.</p>

      <ng-template docDemo>
        <doc-segment-vertical-example></doc-segment-vertical-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Groups</h2>

    <doc-code-sample
        [templateCode]="snippetSegments">
      <h3 sui-header>Vertical Segment</h3>
      <p>A vertical segment formats content to be aligned as part of a vertical group.</p>

      <ng-template docDemo>
        <doc-segment-segments-example></doc-segment-segments-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetColouredSegments">
      <ng-template docDemo>
        <doc-segment-coloured-group-example></doc-segment-coloured-group-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSecondary">
      <ng-template docDemo>
        <doc-segment-secondary-example></doc-segment-secondary-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetNested">
      <h3 sui-header>Nested Segments</h3>
      <p>A group of segments can be nested in another group of segments.</p>

      <ng-template docDemo>
        <doc-segment-nested-example></doc-segment-nested-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHorizontal">
      <h3 sui-header>Horizontal Segments</h3>
      <p>A segment group can appear horizontally.</p>

      <ng-template docDemo>
        <doc-segment-horizontal-example></doc-segment-horizontal-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRaisedGroup">
      <h3 sui-header>Raised Segments</h3>
      <p>A group of segments can be raised.</p>

      <ng-template docDemo>
        <doc-segment-raised-group-example></doc-segment-raised-group-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetStackedGroup">
      <h3 sui-header>Stacked Segments</h3>
      <p>A group of segments can be stacked.</p>

      <ng-template docDemo>
        <doc-segment-stacked-group-example></doc-segment-stacked-group-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetPiledGroup">
      <h3 sui-header>Piled Segments</h3>
      <p>A group of segments can be piled.</p>

      <ng-template docDemo>
        <doc-segment-piled-group-example></doc-segment-piled-group-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>States</h2>

    <doc-code-sample
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>A segment may show its content is disabled.</p>

      <ng-template docDemo>
        <doc-segment-disabled-example></doc-segment-disabled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLoading">
      <h3 sui-header>Loading</h3>
      <p>A segment may show its content is being loaded.</p>

      <ng-template docDemo>
        <doc-segment-loading-example></doc-segment-loading-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>A segment can have its colours inverted for contrast.</p>

      <ng-template docDemo>
        <doc-segment-inverted-example></doc-segment-inverted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetAttached">
      <h3 sui-header>Attached</h3>
      <p>A segment can be attached to other content on a page.</p>

      <div sui-message
           suiState="info">
        Attached segments are designed to be used with other <code>attached</code> variations like attached header or
        attached messages.
      </div>

      <br/>

      <ng-template docDemo>
        <doc-segment-attached-example></doc-segment-attached-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetAttachedAlt">
      <ng-template docDemo>
        <doc-segment-attached-alt-example></doc-segment-attached-alt-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetPadded">
      <h3 sui-header>Padded</h3>
      <p>A segment can increase its padding.</p>

      <ng-template docDemo>
        <doc-segment-padded-example></doc-segment-padded-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetPaddedAlt">
      <ng-template docDemo>
        <doc-segment-padding-alt-example></doc-segment-padding-alt-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCompact">
      <h3 sui-header>Compact</h3>
      <p>A segment may take up only as much space as is necessary.</p>

      <ng-template docDemo>
        <doc-segment-compact-example></doc-segment-compact-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCompactAlt">
      <ng-template docDemo>
        <doc-segment-compact-alt-example></doc-segment-compact-alt-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetColoured">
      <h3 sui-header>Coloured</h3>
      <p>A segment can be coloured.</p>

      <ng-template docDemo>
        <doc-segment-coloured-example></doc-segment-coloured-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetColouredInverted">
      <p>These colours can be inverted.</p>

      <ng-template docDemo>
        <doc-segment-coloured-inverted-example></doc-segment-coloured-inverted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetEmphasis">
      <h3 sui-header>Emphasis</h3>
      <p>A segment can be formatted to appear more or less noticeable.</p>

      <ng-template docDemo>
        <doc-segment-emphasis-example></doc-segment-emphasis-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetEmphasisInverted">
      <p>Inverted colours may also be more or less noticeable.</p>

      <ng-template docDemo>
        <doc-segment-emphasis-inverted-example></doc-segment-emphasis-inverted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetEmphasisInvertedColoured">
      <ng-template docDemo>
        <doc-segment-emphasis-inverted-coloured-example></doc-segment-emphasis-inverted-coloured-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCircular">
      <h3 sui-header>Circular</h3>
      <p>A segment can be formatted to appear more or less noticeable.</p>

      <ng-template docDemo>
        <doc-segment-circular-example></doc-segment-circular-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetClearing">
      <h3 sui-header>Clearing</h3>
      <p>A segment can clear floated content.</p>

      <ng-template docDemo>
        <doc-segment-clearing-example></doc-segment-clearing-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFloated">
      <h3 sui-header>Floated</h3>
      <p>A segment can appear to the left or right of other content.</p>

      <ng-template docDemo>
        <doc-segment-floated-example></doc-segment-floated-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetTextAlignment">
      <h3 sui-header>Text Alignment</h3>
      <p>A segment can have its text aligned to a side</p>

      <ng-template docDemo>
        <doc-segment-text-alignment-example></doc-segment-text-alignment-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBasic">
      <h3 sui-header>Basic</h3>
      <p>A basic segment has no special formatting.</p>

      <ng-template docDemo>
        <doc-segment-basic-example></doc-segment-basic-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-segment</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiColour</td>
        <td>Set the segment colour. Allowed values could be
          <span sui-label>red</span> | <span sui-label>orange</span> | <span sui-label>yellow</span> | <span
              sui-label>olive</span> | <span sui-label>green</span> | <span sui-label>teal</span> | <span
              sui-label>blue</span> | <span sui-label>violet</span> | <span sui-label>purple</span> | <span
              sui-label>pink</span> | <span sui-label>brown</span> | <span sui-label>grey</span> | <span
              sui-label>black</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiAttached</td>
        <td>Set the segment attachment. Allowed values could be
          <span sui-label>top attached</span> | <span sui-label>attached</span> | <span sui-label>bottom attached</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiStacked</td>
        <td>Set the segment stack. Allowed values could be
          <span sui-label>stacked</span> | <span sui-label>tall stacked</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiPadding</td>
        <td>Set the segment padding. Allowed values could be
          <span sui-label>padded</span> | <span sui-label>very padded</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiTextAlignment</td>
        <td>Set the segment text alignment. Allowed values could be
          <span sui-label>left aligned</span> | <span sui-label>center aligned</span> | <span
              sui-label>right aligned</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFloated</td>
        <td>Set the segment float. Allowed values could be
          <span sui-label>left floated</span> | <span sui-label>right floated</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiPlaceholder</td>
        <td>
          Determine if the segment is a placeholder
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiRaised</td>
        <td>
          Determine if the segment is raised
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiPiled</td>
        <td>
          Determine if the segment is piled
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiVertical</td>
        <td>
          Determine if the segment is vertical
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>
          Determine if the segment is inverted
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>
          Determine if the segment is disabled
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiLoading</td>
        <td>
          Determine if the segment is shown as loading
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCompact</td>
        <td>
          Determine if the segment is compact
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCircular</td>
        <td>
          Determine if the segment is circular
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiBasic</td>
        <td>
          Determine if the segment is basic
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiClearing</td>
        <td>
          Determine if the segment is spaced
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSecondary</td>
        <td>
          Determine if the segment is secondary
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiTertiary</td>
        <td>
          Determine if the segment is tertiary
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>sui-segments</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiHorizontal</td>
        <td>
          Determine if the segment group is horizontal
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiRaised</td>
        <td>
          Determine if the segment group is raised
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiStacked</td>
        <td>
          Determine if the segment group is stacked
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiPiled</td>
        <td>
          Determine if the segment group is piled
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCompact</td>
        <td>
          Determine if the segment group is compact
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiSegmentInline</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</doc-page>
