<doc-page
    header="Placeholders"
    subHeader="A placeholder is used to reserve space for content that soon will appear in a layout">
  <div *docPageContent="'definition'">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample
        [content]="placeholder"
        [templateCode]="snippetBasic">
      <h3 sui-header>Placeholder</h3>
      <p>A placeholder is used to reserve space for content that soon will appear in a layout.</p>

      <div sui-message
           suiState="info">
        <p>
          Placeholders can include <b><code>paragraph</code></b>, <b><code>header</code></b>, <b><code>image
          header</code></b> and <b><code>image</code></b> to let you format the loaders to emulate the content being
          loaded.
        </p>
      </div>

      <br/>

      <ng-template #placeholder>
        <div sui-placeholder>
          <div suiPlaceholderHeader
               suiImage>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
          <div suiPlaceholderParagraph>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
            <div suiPlaceholderLine></div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-placeholder</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiFluid</td>
        <td>
          Determine if the placeholder should fill the width of it's parent container
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiActive</td>
        <td>
          Determine if the placeholder has the active attribute
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>
          Determine if the placeholder has its colours inverted
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
