<doc-page
    header="Accordion"
    subHeader="An accordion allows users to toggle the display of sections of content">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetStandard">
      <h3 sui-header>Accordion</h3>
      <p>A standard accordion</p>

      <ng-template docDemo>
        <doc-accordion-standard-example></doc-accordion-standard-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetStyled">
      <h3 sui-header>Styled</h3>
      <p>A styled accordion adds basic formatting</p>

      <ng-template docDemo>
        <doc-accordion-styled-example></doc-accordion-styled-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetStyledFluid">
      <h3 sui-header>Fluid</h3>
      <p>An accordion can take up the width of its container</p>

      <ng-template docDemo>
        <doc-accordion-styled-fluid-example></doc-accordion-styled-fluid-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>An accordion can be formatted to appear on dark backgrounds</p>

      <ng-template docDemo>
        <doc-accordion-inverted-example></doc-accordion-inverted-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-accordion</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiStyled</td>
        <td>
          Determines if the styled variation of the accordion is rendered
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiFluid</td>
        <td>
          Determines if the styled variation of the accordion is rendered
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiFluid</td>
        <td>
          Determines if the styled variation of the accordion is rendered
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>Determine if the accordion should invert it's colours</td>
        <td>
          <div sui-label suiColour="teal">boolean
          </div>
        </td>
        <td>
          <div sui-label suiColour="grey">false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCloseOthers</td>
        <td>Determines if the accordion should close other open panels when a panel is open</td>
        <td>
          <div sui-label suiColour="teal">boolean
          </div>
        </td>
        <td>
          <div sui-label suiColour="grey">true
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>sui-accordion-panel</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiTitle</td>
        <td>
          What title the accordion panel should gave
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>
          Determines if a panel should be disabled meaning it cannot be interacted with
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>isOpen</td>
        <td>A bindable field to determine and notify whether a panel is open or not</td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
