<doc-page
    header="Headers"
    subHeader="A header provides a short summary of content"
    (pageChanged)="tabChanged($event)">
  <ng-container *ngIf="isDefinitionsActive">
    <h2 sui-header class="dividing">Types</h2>

    <doc-code-sample
        [content]="pageHeaders"
        [code]="snippetPageHeader">
      <h3 sui-header>Page Headers</h3>
      <p>Headers may be oriented to give the hierarchy of a section in the context of the page</p>

      <ng-template #pageHeaders>
        <h1 sui-header>First Header</h1>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
        <h2 sui-header>Second Header</h2>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
        <h3 sui-header>Third Header</h3>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
        <h4 sui-header>Fourth Header</h4>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
        <h5 sui-header>Fifth Header</h5>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="headerColored"
        [code]="snippetColored">
      <h3 sui-header>Colored</h3>
      <p>A header can be formatted with different colors</p>

      <ng-template #headerColored>
        <div sui-segment [suiInverted]="false">
          <h4 sui-header suiColour="red" suiInverted>Red</h4>
          <h4 sui-header suiColour="orange" suiInverted>Orange</h4>
          <h4 sui-header suiColour="yellow" suiInverted>Yellow</h4>
          <h4 sui-header suiColour="olive" suiInverted>Olive</h4>
          <h4 sui-header suiColour="green" suiInverted>Green</h4>
          <h4 sui-header suiColour="teal" suiInverted>Teal</h4>
          <h4 sui-header suiColour="blue" suiInverted>Blue</h4>
          <h4 sui-header suiColour="purple" suiInverted>Purple</h4>
          <h4 sui-header suiColour="violet" suiInverted>Violet</h4>
          <h4 sui-header suiColour="pink" suiInverted>Pink</h4>
          <h4 sui-header suiColour="brown" suiInverted>Brown</h4>
          <h4 sui-header suiColour="grey" suiInverted>Grey</h4>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="headerInverted"
        [code]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>A header can have its colors inverted for contrast</p>

      <div class="ui info message">
        <p>Inverted headers use modified light versions of your site's color scheme that are adapted to have more
          contrast on dark background</p>
      </div>

      <ng-template #headerInverted>
        <div sui-segment [suiInverted]>
          <h4 sui-header suiColour="red" suiInverted>Red</h4>
          <h4 sui-header suiColour="orange" suiInverted>Orange</h4>
          <h4 sui-header suiColour="yellow" suiInverted>Yellow</h4>
          <h4 sui-header suiColour="olive" suiInverted>Olive</h4>
          <h4 sui-header suiColour="green" suiInverted>Green</h4>
          <h4 sui-header suiColour="teal" suiInverted>Teal</h4>
          <h4 sui-header suiColour="blue" suiInverted>Blue</h4>
          <h4 sui-header suiColour="purple" suiInverted>Purple</h4>
          <h4 sui-header suiColour="violet" suiInverted>Violet</h4>
          <h4 sui-header suiColour="pink" suiInverted>Pink</h4>
          <h4 sui-header suiColour="brown" suiInverted>Brown</h4>
          <h4 sui-header suiColour="grey" suiInverted>Grey</h4>
        </div>
      </ng-template>
    </doc-code-sample>
  </ng-container>

  <ng-container *ngIf="isApiActive">
  </ng-container>
</doc-page>
