<doc-page
    header="Divider"
    subHeader="A divider visually segments content into groups">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetStandard">
      <h3 sui-header>Divider</h3>
      <p>
        A standard divider
      </p>

      <div sui-message
           suiState="warning">
        To add a divider between parts of a grid use a <code>divided grid</code> variation.
      </div>

      <ng-template docDemo>
        <doc-divider-div-standard-example></doc-divider-div-standard-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetVertical">
      <h3 sui-header>Vertical Divider</h3>
      <p>
        A divider can segment content vertically
      </p>

      <div sui-message>
        Vertical dividers requires position: relative on the element that you would like to contain the divider
      </div>

      <div sui-message
           suiState="warning">
        Due to a change in W3C implementation of absolutely positioned elements in flex containers vertical dividers now
        currently only support 50/50 splits automatically, and only if not positioned <b>as direct children of flex
        containers</b> (like grid).
      </div>

      <ng-template docDemo>
        <doc-divider-div-vertical-example></doc-divider-div-vertical-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetVerticalForm">
      <div sui-message
           suiState="info">
        A vertical divider will automatically swap to a horizontal divider at mobile resolutions when used inside a
        <code>stackable
          grid</code>
      </div>

      <ng-template docDemo>
        <doc-divider-div-vertical-form-example></doc-divider-div-vertical-form-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHorizontal">
      <h3 sui-header>Horizontal Divider</h3>
      <p>
        A divider can segment content horizontally
      </p>

      <div sui-message>
        Horizontal dividers can also be used in combination with headers and icons to create different styles of
        dividers.
      </div>
      <div sui-message
           suiState="info">
        Dividers will automatically vary the size of their dividing rules to match the length of your text
      </div>

      <ng-template docDemo>
        <doc-divider-div-horizontal-example></doc-divider-div-horizontal-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHorizontalTable">
      <ng-template docDemo>
        <doc-divider-div-horizontal-table-example></doc-divider-div-horizontal-table-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetDividerInverted">
      <h3 sui-header>Inverted</h3>
      <p>
        A divider can have its colours inverted
      </p>

      <ng-template docDemo>
        <doc-divider-div-inverted-example></doc-divider-div-inverted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDividerFitted">
      <h3 sui-header>Fitted</h3>
      <p>
        A divider can be fitted, without any space above or below it.
      </p>

      <ng-template docDemo>
        <doc-divider-div-fitted-example></doc-divider-div-fitted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDividerHidden">
      <h3 sui-header>Hidden</h3>
      <p>
        A hidden divider divides content without creating a dividing line
      </p>

      <ng-template docDemo>
        <doc-divider-div-hidden-example></doc-divider-div-hidden-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDividerSection">
      <h3 sui-header>Section</h3>
      <p>
        A divider can provide greater margins to divide sections of content
      </p>

      <ng-template docDemo>
        <doc-divider-div-section-example></doc-divider-div-section-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDividerClearing">
      <h3 sui-header>Clearing</h3>
      <p>
        A divider can clear the contents above it
      </p>

      <ng-template docDemo>
        <doc-divider-div-clearing-example></doc-divider-div-clearing-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-divider</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiDirection</td>
        <td>
          Set the divider direction. Allowed values could be
          <span sui-label>'vertical'</span> | <span sui-label>'horizontal'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiHeader</td>
        <td>
          Set whether or not the divider should be of header style
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>
          Set whether or not to invert the colours
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFitted</td>
        <td>
          Set whether or not the divider should limit space above and below
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiHidden</td>
        <td>
          Set whether or not the divider should divide without being visible
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSection</td>
        <td>
          Set whether or not the divider should increase margins
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiClearing</td>
        <td>
          Set whether or not the divider should clear the content above
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
