<doc-page
    header="Dividers"
    subHeader="A divider visually segments content into groups"
    (pageChanged)="tabChanged($event)">
  <ng-container *ngIf="isDefinitionsActive">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="divStandard"
        [templateCode]="snippetStandard">
      <h3 sui-header>Divider</h3>
      <p>
        A standard divider
      </p>

      <div sui-message
           suiState="warning">
        To add a divider between parts of a grid use a <code>divided grid</code> variation.
      </div>

      <ng-template #divStandard>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
        <div sui-divider></div>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="divVertical"
        [templateCode]="snippetVertical">
      <h3 sui-header>Vertical Divider</h3>
      <p>
        A divider can segment content vertically
      </p>

      <div sui-message>
        Vertical dividers requires position: relative on the element that you would like to contain the divider
      </div>

      <div sui-message
           suiState="warning">
        Due to a change in W3C implementation of absolutely positioned elements in flex containers vertical dividers now
        currently only support 50/50 splits automatically, and only if not positioned <b>as direct children of flex
        containers</b> (like grid).
      </div>

      <ng-template #divVertical>
        <div sui-segment>
          <div sui-grid
               suiWidth="two"
               suiRelaxation="very relaxed">
            <div suiGridColumn>
              <div sui-placeholder>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
              </div>
              <div sui-placeholder>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
              </div>
            </div>
            <div suiGridColumn>
              <div sui-placeholder>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
              </div>
              <div sui-placeholder>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
                <p suiPlaceholderLine></p>
              </div>
            </div>
          </div>
          <div sui-divider
               suiDirection="vertical">
            and
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="divVerticalForm"
        [templateCode]="snippetVerticalForm">
      <div sui-message
           suiState="info">
        A vertical divider will automatically swap to a horizontal divider at mobile resolutions when used inside a
        <code>stackable
          grid</code>
      </div>

      <ng-template #divVerticalForm>
        <div sui-segment
             suiPlaceholder>
          <div sui-grid
               suiStackable
               suiWidth="two"
               suiRelaxation="very relaxed">
            <div suiGridColumn>
              <div sui-form>
                <div suiFormField>
                  <label>Username</label>
                  <div sui-input
                       suiIcon>
                    <input type="text" placeholder="Username">
                    <i sui-icon
                       suiIconType="user"></i>
                  </div>
                </div>
                <div suiFormField>
                  <label>Password</label>
                  <div sui-input
                       suiIcon>
                    <input type="password">
                    <i sui-icon
                       suiIconType="lock"></i>
                  </div>
                </div>
                <div sui-button class="submit"
                     suiColour="blue">
                  Login
                </div>
              </div>
            </div>
            <div suiGridColumn
                 suiAlignment="middle aligned">
              <div sui-button
                   suiSize="big">
                <i sui-icon
                   suiIconType="signup"></i>
                Sign Up
              </div>
            </div>
          </div>
          <div sui-divider
               suiDirection="vertical">
            or
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="divHorizontal"
        [templateCode]="snippetHorizontal">
      <h3 sui-header>Horizontal Divider</h3>
      <p>
        A divider can segment content horizontally
      </p>

      <div sui-message>
        Horizontal dividers can also be used in combination with headers and icons to create different styles of
        dividers.
      </div>
      <div sui-message
           suiState="info">
        Dividers will automatically vary the size of their dividing rules to match the length of your text
      </div>

      <ng-template #divHorizontal>
        <div sui-segment
             suiBasic
             suiTextAlignment="center aligned">
          <div sui-input
               suiIcon
               suiAction="left action">
            <i sui-icon
               suiIconType="search"></i>
            <input type="text" placeholder="Order #">
            <div sui-button class="submit"
                 suiColour="blue">
              Search
            </div>
          </div>
          <div sui-divider
               suiDirection="horizontal">
            or
          </div>
          <div sui-button
               suiIcon
               suiColour="teal"
               suiLabeled="labeled">
            Create New Order
            <i sui-icon
               suiIconType="add"></i>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="divHorizontalTable"
        [templateCode]="snippetHorizontalTable">
      <ng-template #divHorizontalTable>
        <h4 sui-divider
            suiHeader
            suiDirection="horizontal">
          <i sui-icon
             suiIconType="tag"></i>
          Description
        </h4>
        <p>Doggie treats are good for all times of the year. Proven to be eaten by 99.9% of all dogs worldwide.</p>
        <h4 sui-divider
            suiHeader
            suiDirection="horizontal">
          <i sui-icon
             suiIconType="bar chart"></i>
          Specifications
        </h4>
        <table class="ui definition table">
          <tbody>
          <tr>
            <td class="two wide column">Size</td>
            <td>1" x 2"</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td>6 ounces</td>
          </tr>
          <tr>
            <td>Color</td>
            <td>Yellowish</td>
          </tr>
          <tr>
            <td>Odor</td>
            <td>Not Much Usually</td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [content]="divInverted"
        [templateCode]="snippetDividerInverted">
      <h3 sui-header>Inverted</h3>
      <p>
        A divider can have its colours inverted
      </p>

      <ng-template #divInverted>
        <div sui-segment
             suiInverted>
          <div sui-placeholder
               suiInverted>
            <p suiPlaceholderLine></p>
            <p suiPlaceholderLine></p>
            <p suiPlaceholderLine></p>
          </div>
          <div sui-divider
               suiInverted>
          </div>
          <div sui-placeholder
               suiInverted>
            <p suiPlaceholderLine></p>
            <p suiPlaceholderLine></p>
            <p suiPlaceholderLine></p>
          </div>
          <div sui-divider
               suiInverted
               suiDirection="horizontal">
            Horizontal
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="divFitted"
        [templateCode]="snippetDividerFitted">
      <h3 sui-header>Fitted</h3>
      <p>
        A divider can be fitted, without any space above or below it.
      </p>

      <ng-template #divFitted>
        <div sui-segment>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam
          malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
          <div sui-divider
               suiFitted>
          </div>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam
          malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="divHidden"
        [templateCode]="snippetDividerHidden">
      <h3 sui-header>Hidden</h3>
      <p>
        A hidden divider divides content without creating a dividing line
      </p>

      <ng-template #divHidden>
        <h3 sui-header>Section One</h3>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
        <div sui-divider
             suiHidden>
        </div>
        <h3 sui-header>Section Two</h3>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="divSection"
        [templateCode]="snippetDividerSection">
      <h3 sui-header>Section</h3>
      <p>
        A divider can provide greater margins to divide sections of content
      </p>

      <ng-template #divSection>
        <h3 sui-header>Section One</h3>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
        <div sui-divider
             suiSection>
        </div>
        <h3 sui-header>Section Two</h3>
        <div sui-placeholder>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
          <p suiPlaceholderLine></p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="divClearing"
        [templateCode]="snippetDividerClearing">
      <h3 sui-header>Clearing</h3>
      <p>
        A divider can clear the contents above it
      </p>

      <ng-template #divClearing>
        <div sui-segment>
          <h1 sui-header
              suiFloated="right floated">Floated Content</h1>
          <div sui-divider
               suiClearing></div>
          <div sui-placeholder>
            <p suiPlaceholderLine></p>
            <p suiPlaceholderLine></p>
            <p suiPlaceholderLine></p>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
  </ng-container>

  <ng-container *ngIf="isApiActive">
    <h2 sui-header
        suiDividing>sui-divider</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiDirection</td>
        <td>
          Set the divider direction. Allowed values could be
          <span sui-label>'vertical'</span> | <span sui-label>'horizontal'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiHeader</td>
        <td>
          Set whether or not the divider should be of header style
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>
          Set whether or not to invert the colours
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFitted</td>
        <td>
          Set whether or not the divider should limit space above and below
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiHidden</td>
        <td>
          Set whether or not the divider should divide without being visible
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSection</td>
        <td>
          Set whether or not the divider should increase margins
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiClearing</td>
        <td>
          Set whether or not the divider should clear the content above
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</doc-page>
