<div class="ui masthead vertical segment">
  <div sui-container>
    <div sui-grid>
      <div suiGridColumn
           suiWidth="eight">
        <h1 sui-header>
          Dividers
          <div sui-sub-header>
            A divider visually segments content into groups
          </div>
        </h1>
      </div>
      <div suiGridColumn
           suiWidth="eight">
        <div class="ui right floated main menu">
          <a class="bug popup icon item" title="Submit Bug Report"
             href="https://github.com/ngx-semantic/ngx-semantic/issues">
            <i sui-icon
               suiIconType="bug"></i>
          </a>

          <a class="github popup icon item" title="View project on GitHub"
             href="https://github.com/ngx-semantic/ngx-semantic">
            <i sui-icon
               suiIconType="alternate github"></i>
          </a>

          <a class="github popup icon item" title="View on Semantic UI"
             href="https://github.com/ngx-semantic/ngx-semantic">
            <i sui-icon
               suiIconType="book"></i>
          </a>
        </div>
      </div>
    </div>

    <div sui-divider
         suiHidden="true"></div>

    <div sui-menu
         suiWidth="two"
         style="margin-top: 2rem; margin-bottom: 1.3rem;">
      <a suiMenuItem
         suiActive="true">
        Definitions
      </a>
      <a suiMenuItem>
        API
      </a>
    </div>
  </div>
</div>

<div class="main ui container">
  <h2 sui-header
      suiDividing="true">Types</h2>

  <doc-code-sample
      [content]="divStandard"
      [code]="snippetStandard">
    <h3 sui-header>Divider</h3>
    <p>
      A standard divider
    </p>

    <div sui-message
         suiState="warning">
      To add a divider between parts of a grid use a <code>divided grid</code> variation.
    </div>

    <ng-template #divStandard>
      <div sui-placeholder>
        <p suiPlaceholderLine></p>
        <p suiPlaceholderLine></p>
        <p suiPlaceholderLine></p>
        <p suiPlaceholderLine></p>
      </div>
      <div sui-divider></div>
      <div sui-placeholder>
        <p suiPlaceholderLine></p>
        <p suiPlaceholderLine></p>
        <p suiPlaceholderLine></p>
        <p suiPlaceholderLine></p>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample
      [content]="divVertical"
      [code]="snippetVertical">
    <h3 sui-header>Divider</h3>
    <p>
      A divider can segment content vertically
    </p>

    <div sui-message>
      Vertical dividers requires position: relative on the element that you would like to contain the divider
    </div>

    <div sui-message
         suiState="warning">
      Due to a change in W3C implementation of absolutely positioned elements in flex containers vertical dividers now
      currently only support 50/50 splits automatically, and only if not positioned <b>as direct children of flex
      containers</b> (like grid).
    </div>

    <ng-template #divVertical>
      <div sui-segment>
        <div sui-grid
             suiRelaxed="true"
             suiWidth="two">
          <div suiGridColumn>
            <div sui-placeholder>
              <p suiPlaceholderLine></p>
              <p suiPlaceholderLine></p>
              <p suiPlaceholderLine></p>
              <p suiPlaceholderLine></p>
            </div>
          </div>
          <div suiGridColumn>
            <div sui-placeholder>
              <p suiPlaceholderLine></p>
              <p suiPlaceholderLine></p>
              <p suiPlaceholderLine></p>
              <p suiPlaceholderLine></p>
            </div>
          </div>
        </div>
        <div sui-divider
             suiDirection="vertical">
          and
        </div>
      </div>
    </ng-template>
  </doc-code-sample>
</div>
