<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Label
        <div class="sub header">
          A label displays content classification
        </div>
      </h1>

      <div class="ui hidden divider"></div>

      <div class="ui right floated main menu">

        <a class="bug popup icon item" data-content="Submit Bug Report" href="https://github.com/ngx-semantic/ngx-semantic/issues">
          <i class="bug icon"></i>
        </a>

        <a class="github popup icon item" data-content="View project on GitHub" href="https://github.com/ngx-semantic/ngx-semantic">
          <i class="alternate github icon"></i>
        </a>
      </div>

      <div sui-button suiEmphasis="primary">
        Download
      </div>
    </div>
  </div>
</div>
<br>

<div class="main ui container">
  <h2 sui-header suiDividing="true">Variations</h2>
  <br>

  <doc-code-sample
    [content]="labelColored"
    [code]="snippetColored">
    <h3 sui-header>Colored</h3>
    <p>A label can have different colors</p>

    <ng-template #labelColored>
      <a sui-label suiColour="red">Red</a>
      <a sui-label suiColour="orange">Orange</a>
      <a sui-label suiColour="yellow">Yellow</a>
      <a sui-label suiColour="olive">Olive</a>
      <a sui-label suiColour="green">Green</a>
      <a sui-label suiColour="teal">Teal</a>
      <a sui-label suiColour="blue">Blue</a>
      <a sui-label suiColour="violet">Violet</a>
      <a sui-label suiColour="purple">Purple</a>
      <a sui-label suiColour="pink">Pink</a>
      <a sui-label suiColour="brown">Brown</a>
      <a sui-label suiColour="grey">Grey</a>
      <a sui-label suiColour="black">Black</a>
    </ng-template>
  </doc-code-sample>
  
  <doc-code-sample
    [content]="labelCircular"
    [code]="snippetCircular">
    <h3 sui-header>Circular</h3>
    <p>A label can be circular</p>

    <ng-template #labelCircular>
      <a sui-label suiColour="red" suiCircular="true">1</a>
      <a sui-label suiColour="orange" suiCircular="true">2</a>
      <a sui-label suiColour="yellow" suiCircular="true">3</a>
      <a sui-label suiColour="olive" suiCircular="true">4</a>
      <a sui-label suiColour="green" suiCircular="true">5</a>
      <a sui-label suiColour="teal" suiCircular="true">6</a>
      <a sui-label suiColour="blue" suiCircular="true">7</a>
      <a sui-label suiColour="violet" suiCircular="true">8</a>
      <a sui-label suiColour="purple" suiCircular="true">9</a>
      <a sui-label suiColour="pink" suiCircular="true">10</a>
      <a sui-label suiColour="brown" suiCircular="true">11</a>
      <a sui-label suiColour="grey" suiCircular="true">12</a>
      <a sui-label suiColour="black" suiCircular="true">13</a>
    </ng-template>
  </doc-code-sample>
</div>
