<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Label
        <div class="sub header">
          A label displays content classification
        </div>
      </h1>

      <div class="ui hidden divider"></div>

      <div class="ui right floated main menu">

        <a class="bug popup icon item" data-content="Submit Bug Report"
          href="https://github.com/ngx-semantic/ngx-semantic/issues">
          <i class="bug icon"></i>
        </a>

        <a class="github popup icon item" data-content="View project on GitHub"
          href="https://github.com/ngx-semantic/ngx-semantic">
          <i class="alternate github icon"></i>
        </a>
      </div>

      <div sui-button suiEmphasis="primary">
        Download
      </div>
    </div>
  </div>
</div>
<br>

<div class="main ui container">
  <h2 sui-header suiDividing="true">Types</h2>
  <br>

  <doc-code-sample [content]="stdLabel" [code]="snippetStd">
    <h3 sui-header>Label</h3>
    <p>A label</p>

    <ng-template #stdLabel>
      <div sui-label>
        <i sui-icon suiIconType="mail icon"></i> 23
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="imgLabel" [code]="snippetImg">
    <h3 sui-header>Image</h3>
    <p>A label can be formatted to emphasize an image</p>

    <ng-template #imgLabel>
      <a sui-label suiImage='true'>
        <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
        Joe
      </a>
      <a sui-label suiImage='true'>
        <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
        Elliot
      </a>
      <a sui-label suiImage='true'>
        <img src="https://semantic-ui.com/images/avatar/small/stevie.jpg">
        Stevie
      </a>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="imgLabel2" [code]="snippetImg2">
    <ng-template #imgLabel2>
      <a sui-label suiImage='true' suiColour='blue'>
        <img src="https://semantic-ui.com/images/avatar/small/veronika.jpg">
        Veronika
        <div class="detail">Friend</div>
      </a>
      <a sui-label suiImage='true' suiColour='teal'>
        <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
        Veronika
        <div class="detail">Student</div>
      </a>
      <a sui-label suiColour="yellow" suiImage='true'>
        <img src="https://semantic-ui.com/images/avatar/small/christian.jpg">
        Helen
        <div class="detail">Co-worker</div>
      </a>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="imgLabel3" [code]="snippetImg3">
    <ng-template #imgLabel3>
      <div sui-label suiImage='true'>
        <img src="https://semantic-ui.com/images/avatar/small/ade.jpg">
        Adrienne
        <i sui-icon suiIconType="delete icon"></i>
      </div>
      <div sui-label suiImage='true'>
        <img src="https://semantic-ui.com/images/avatar/small/zoe.jpg">
        Zoe
        <i sui-icon suiIconType="delete icon"></i>
      </div>
      <div sui-label suiImage='true'>
        <img src="https://semantic-ui.com/images/avatar/small/nan.jpg">
        Nan
        <i sui-icon suiIconType="delete icon"></i>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="pointingLabel" [code]="snippetPointing">
    <h3 sui-header>Pointing</h3>
    <p>A label can point to content next to it</p>

    <ng-template #pointingLabel>
      <form sui-form class="fluid" _lpchecked="1">
        <div suiFormField>
          <input type="text" placeholder="First name"
            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: pointer;">
          <div sui-label suiPointing='true'>
            Please enter a value
          </div>
        </div>
        <div sui-divider></div>
        <div suiFormField placeholder="Last Name">
          <div sui-label suiPointing='below'>
            Please enter a value
          </div>
          <input type="text">
        </div>
        <div sui-divider></div>
        <div suiFormField suiInline='true'>
          <input type="text" placeholder="Username">
          <div sui-label suiPointing='left'>
            That name is taken!
          </div>
        </div>
        <div sui-divider></div>
        <div suiFormField suiInline='true'>
          <div sui-label suiPointing='right'>
            Your password must be 6 characters or more
          </div>
          <input type="password"
            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);">
        </div>
      </form>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="pointingLabel2" [code]="snippetPointing2">

    <ng-template #pointingLabel2>
      <form sui-form class="fluid" _lpchecked="1">
        <div suiFormField>
          <input type="text" placeholder="First name"
            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: pointer;">
          <div sui-label suiPointing='true' suiColour='red' suiBasic='true'>
            Please enter a value
          </div>
        </div>
        <div sui-divider></div>
        <div suiFormField placeholder="Last Name">
          <div sui-label suiPointing='below' suiColour='red' suiBasic='true'>
            Please enter a value
          </div>
          <input type="text">
        </div>
        <div sui-divider></div>
        <div suiFormField suiInline='true'>
          <input type="text" placeholder="Username">
          <div sui-label suiPointing='left' suiColour='red' suiBasic='true'>
            That name is taken!
          </div>
        </div>
        <div sui-divider></div>
        <div suiFormField suiInline='true'>
          <div sui-label suiPointing='right' suiColour='red' suiBasic='true'>
            Your password must be 6 characters or more
          </div>
          <input type="password"
            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);">
        </div>
      </form>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="cornerLabel" [code]="snippetCorner">
    <h3 sui-header>Corner</h3>
    <p>A label can position itself in the corner of an element</p>

    <ng-template #cornerLabel>
      <div sui-grid suiGridColumn suiWidth="two" class="two">
        <div class="column">
          <div sui-image suiFluid="true">
            <a sui-label suiCorner='left'>
              <i sui-icon suiIconType="heart icon"></i>
            </a>
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
        </div>
        <div class="column">
          <div sui-image suiFluid="true">
            <a sui-label suiCorner='right' suiColour='red'>
              <i sui-icon suiIconType="save icon"></i>
            </a>
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
        </div>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="tagLabel" [code]="snippetTag">
    <h3 sui-header>Tag</h3>
    <p>A label can appear as a tag</p>

    <ng-template #tagLabel>
      <a sui-label suiTag='true'>New</a>
      <a sui-label suiTag='true' suiColour="red">Upcoming</a>
      <a sui-label suiTag='true' suiColour="teal">Featured</a>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="ribbonLabel" [code]="snippetRibbon">
    <h3 sui-header>Ribbon</h3>
    <p>A label can appear as a ribbon attaching itself to an element.</p>

    <ng-template #ribbonLabel>
      <div sui-grid suiGridColumn suiWidth="two" class="two">
        <div suiGridColumn>
          <div sui-segment suiRaised="true">
            <a suiColour="red" sui-label suiRibbon="left">Overview</a>
            <span>Account Details</span>
            <div sui-placeholder>
              <div sui-placeholder-paragraph>
                <div suiPlaceholderLine suiLength="medium"></div>
                <div suiPlaceholderLine suiLength="medium"></div>
              </div>
            </div>
            <p></p>
            <a suiColour="blue" sui-label suiRibbon="left">Community</a> User Reviews
            <div sui-placeholder>
              <div sui-placeholder-paragraph>
                <div suiPlaceholderLine suiLength="medium"></div>
                <div suiPlaceholderLine suiLength="medium"></div>
              </div>
            </div>
          </div>
        </div>
        <div suiGridColumn>
          <div sui-segment>
            <a suiColour="orange" sui-label suiRibbon="right">Specs</a>
            <div sui-placeholder>
              <div sui-placeholder-paragraph>
                <div suiPlaceholderLine suiLength="medium"></div>
                <div suiPlaceholderLine suiLength="medium"></div>
              </div>
            </div>
            <a suiColour="teal" sui-label suiRibbon="right">Reviews</a>
            <div sui-placeholder>
              <div sui-placeholder-paragraph>
                <div suiPlaceholderLine suiLength="medium"></div>
                <div suiPlaceholderLine suiLength="medium"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="ribbonLabel2" [code]="snippetRibbon2">

    <ng-template #ribbonLabel2>
      <div sui-grid suiGridColumn suiWidth="two" class="two">
        <div suiGridColumn>
          <div sui-image suiFluid="true">
            <div suiColour="black" sui-label suiRibbon="left">
              <i sui-icon suiIconType="hotel icon"></i> Hotel
            </div>
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
        </div>
        <div suiGridColumn>
          <div sui-image suiFluid="true">
            <div suiColour="blue" sui-label suiRibbon="left">
              <i sui-icon suiIconType="spoon icon"></i> Food
            </div>
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
        </div>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="attchedLabel" [code]="snippetAttached">
    <h3 sui-header>Attached</h3>
    <p>A label can attach to a content segment.</p>

    <ng-template #attchedLabel>
      <div sui-grid suiGridColumn suiWidth="three" class="three">
        <div suiGridRow>
          <div suiGridColumn>
            <div sui-segment>
              <div sui-label suiAttached="top">HTML</div>
              <div sui-placeholder>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
              </div>
            </div>
          </div>
          <div suiGridColumn>
            <div sui-segment>
              <div sui-label suiAttached="bottom">CSS</div>
              <div sui-placeholder>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
              </div>
            </div>
          </div>
          <div suiGridColumn>
            <div sui-segment>
              <div sui-label suiAttached="top right">Code</div>
              <div sui-placeholder>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div suiGridRow>
          <div suiGridColumn>
            <div sui-segment>
              <div sui-label suiAttached="top left">View</div>
              <div sui-placeholder>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
              </div>
            </div>
          </div>
          <div suiGridColumn>
            <div sui-segment>
              <div sui-label suiAttached="bottom left">User View</div>
              <div sui-placeholder>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
              </div>
            </div>
          </div>
          <div suiGridColumn>
            <div sui-segment>
              <div sui-label suiAttached="bottom right">Admin View</div>
              <div sui-placeholder>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
                <div sui-placeholder-paragraph>
                  <div suiPlaceholderLine suiLength="large"></div>
                  <div suiPlaceholderLine suiLength="large"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="horizontalLabel" [code]="snippetHorizontal">
    <h3 sui-header>Horizontal</h3>
    <p>A horizontal label is formatted to label content along-side it horizontally</p>

    <ng-template #horizontalLabel>
      <div sui-list suiDivided="true" suiSelection="true">
        <a class="item">
          <div sui-label suiColour="red" suiHorizontal="true">Fruit</div>
          Kumquats
        </a>
        <a class="item">
          <div sui-label suiColour="purple" suiHorizontal="true">Candy</div>
          Ice Cream
        </a>
        <a class="item">
          <div sui-label suiColour="red" suiHorizontal="true">Fruit</div>
          Orange
        </a>
        <a class="item">
          <div sui-label suiHorizontal="true">Dog</div>
          Poodle
        </a>
      </div>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="labelColored" [code]="snippetColored">
    <h3 sui-header>Colored</h3>
    <p>A label can have different colors</p>

    <ng-template #labelColored>
      <a sui-label suiColour="red">Red</a>
      <a sui-label suiColour="orange">Orange</a>
      <a sui-label suiColour="yellow">Yellow</a>
      <a sui-label suiColour="olive">Olive</a>
      <a sui-label suiColour="green">Green</a>
      <a sui-label suiColour="teal">Teal</a>
      <a sui-label suiColour="blue">Blue</a>
      <a sui-label suiColour="violet">Violet</a>
      <a sui-label suiColour="purple">Purple</a>
      <a sui-label suiColour="pink">Pink</a>
      <a sui-label suiColour="brown">Brown</a>
      <a sui-label suiColour="grey">Grey</a>
      <a sui-label suiColour="black">Black</a>
    </ng-template>
  </doc-code-sample>

  <doc-code-sample [content]="labelCircular" [code]="snippetCircular">
    <h3 sui-header>Circular</h3>
    <p>A label can be circular</p>

    <ng-template #labelCircular>
      <a sui-label suiColour="red" suiCircular="true">1</a>
      <a sui-label suiColour="orange" suiCircular="true">2</a>
      <a sui-label suiColour="yellow" suiCircular="true">3</a>
      <a sui-label suiColour="olive" suiCircular="true">4</a>
      <a sui-label suiColour="green" suiCircular="true">5</a>
      <a sui-label suiColour="teal" suiCircular="true">6</a>
      <a sui-label suiColour="blue" suiCircular="true">7</a>
      <a sui-label suiColour="violet" suiCircular="true">8</a>
      <a sui-label suiColour="purple" suiCircular="true">9</a>
      <a sui-label suiColour="pink" suiCircular="true">10</a>
      <a sui-label suiColour="brown" suiCircular="true">11</a>
      <a sui-label suiColour="grey" suiCircular="true">12</a>
      <a sui-label suiColour="black" suiCircular="true">13</a>
    </ng-template>
  </doc-code-sample>
</div>