<sui-sidebar-container>
  <div
      sui-menu
      suiVertical="true"
      suiInverted="true"
      sui-sidebar
      [visible]>
    <div suiMenuItem>
      <img sui-image
           suiSpaced
           suiSize="mini"
           src="/assets/images/logo.png"/>
      <strong>Ngx Semantic</strong>
    </div>
    <div suiMenuItem>
      <div suiMenuHeader>
        Getting Started
      </div>
      <div suiSubMenu>
        <a suiMenuItem
           routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          Quick Start
        </a>
        <a suiMenuItem
           routerLink="contributing"
           routerLinkActive="active">
          Contributing
        </a>
        <a suiMenuItem
           href="https://github.com/ngx-semantic/ngx-semantic"
           target="_blank">
          Github
          <i sui-icon
             suiIconType="github"></i>
        </a>
        <a suiMenuItem
           href="https://semantic-ui.com/"
           target="_blank">
          Semantic UI
          <i sui-icon
             suiIconType="semantic-ui">
            <img src="https://semantic-ui.com/favicon.ico">
          </i>
        </a>
      </div>
    </div>
    <div suiMenuItem>
      <div suiMenuHeader>Elements</div>
      <div suiSubMenu>
        <a suiMenuItem
           routerLink="elements/button"
           routerLinkActive="active">
          Button
        </a>
        <a suiMenuItem
           routerLink="elements/container"
           routerLinkActive="active">
          Container
        </a>
        <a suiMenuItem
           routerLink="elements/divider"
           routerLinkActive="active">
          Divider
        </a>
        <a suiMenuItem
           routerLink="elements/flag"
           routerLinkActive="active">
          Flag
        </a>
        <a suiMenuItem
           routerLink="elements/header"
           routerLinkActive="active">
          Header
        </a>
        <a suiMenuItem
           routerLink="elements/icon"
           routerLinkActive="active">
          Icon
        </a>
        <a suiMenuItem
           routerLink="elements/image"
           routerLinkActive="active">
          Image
        </a>
        <a suiMenuItem
           routerLink="elements/input"
           routerLinkActive="active">
          Input
        </a>
        <a suiMenuItem
           routerLink="elements/label"
           routerLinkActive="active">
          Label
        </a>
        <a suiMenuItem
           routerLink="elements/list"
           routerLinkActive="active">
          List
        </a>
        <a suiMenuItem
           routerLink="elements/loader"
           routerLinkActive="active">
          Loader
        </a>
        <a suiMenuItem
           routerLink="elements/placeholder"
           routerLinkActive="active">
          Placeholder
        </a>
        <a suiMenuItem
           routerLink="elements/rail"
           routerLinkActive="active">
          Rail
        </a>
        <a suiMenuItem
           routerLink="elements/reveal"
           routerLinkActive="active">
          Reveal
        </a>
        <a suiMenuItem
           routerLink="elements/segment"
           routerLinkActive="active">
          Segment
        </a>
        <a suiMenuItem
           routerLink="elements/step"
           routerLinkActive="active">
          Step
        </a>
      </div>
    </div>
    <div suiMenuItem>
      <div suiMenuHeader>Collections</div>
      <div suiSubMenu>
        <a suiMenuItem
           routerLink="collections/breadcrumb"
           routerLinkActive="active">
          Breadcrumb
        </a>
        <a suiMenuItem
           routerLink="collections/form"
           routerLinkActive="active">
          Form
        </a>
        <a suiMenuItem
           routerLink="collections/grid"
           routerLinkActive="active">
          Grid
        </a>
        <a suiMenuItem
           routerLink="collections/menu"
           routerLinkActive="active">
          Menu
        </a>
        <a suiMenuItem
           routerLink="collections/messages"
           routerLinkActive="active">
          Message
        </a>
        <a suiMenuItem
           routerLink="collections/table"
           routerLinkActive="active">
          Table
        </a>
      </div>
    </div>
    <div suiMenuItem>
      <div suiMenuHeader>Views</div>
      <div suiSubMenu>
        <a suiMenuItem>
          Advertisement
        </a>
        <a suiMenuItem
           routerLink="views/card"
           routerLinkActive="active">
          Card
        </a>
        <a suiMenuItem>
          Comment
        </a>
        <a suiMenuItem>
          Feed
        </a>
        <a suiMenuItem>
          Item
        </a>
        <a suiMenuItem
           routerLink="views/statistic"
           routerLinkActive="active">
          Statistic
        </a>
      </div>
    </div>
    <div suiMenuItem>
      <div suiMenuHeader>Modules</div>
      <div suiSubMenu>
        <a suiMenuItem>
          Accordion
        </a>
        <a suiMenuItem>
          Checkbox
        </a>
        <a suiMenuItem
           routerLink="modules/dimmer"
           routerLinkActive="active">
          Dimmer
        </a>
        <a suiMenuItem>
          Dropdown
        </a>
        <a suiMenuItem
           routerLink="modules/embed"
           routerLinkActive="active">
          Embed
        </a>
        <a suiMenuItem>
          Modal
        </a>
        <a suiMenuItem
           routerLink="modules/rating"
           routerLinkActive="active">
          Rating
        </a>
        <a suiMenuItem
           routerLink="modules/search"
           routerLinkActive="active">
          Search
        </a>
        <a suiMenuItem>
          Select
        </a>
        <a suiMenuItem>
          Sidebar
        </a>
        <a suiMenuItem>
          Popup
        </a>
        <a suiMenuItem>
          Progress
        </a>
        <a suiMenuItem
           routerLink="modules/tab"
           routerLinkActive="active">
          Tab
        </a>
      </div>
    </div>
  </div>
  <sui-sidebar-pusher>
    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </sui-sidebar-pusher>
</sui-sidebar-container>
