<doc-page
    header="Breadcrumb"
    subHeader="A breadcrumb is used to show hierarchy between content">
  <div *docPageContent="'definition'">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetStd">
      <h3 sui-header>Breadcrumb</h3>
      <p>A standard breadcrumb</p>

      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-std-example></doc-breadcrumb-breadcrumb-std-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetStd1">
      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-std1-example></doc-breadcrumb-breadcrumb-std1-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Content</h2>

    <doc-code-sample
        [templateCode]="snippetContent1">
      <h3 sui-header>Divider</h3>
      <p>A breadcrumb can contain a divider to show the relationship between sections, this can be formatted as an
        icon or text</p>

      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-content-example></doc-breadcrumb-breadcrumb-content-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetContent2">
      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-content1-example></doc-breadcrumb-breadcrumb-content1-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSection">
      <h3 sui-header>Section</h3>
      <p>A breadcrumb can contain sections that can either be formatted as a link or text</p>

      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-section-example></doc-breadcrumb-breadcrumb-section-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLink">
      <h3 sui-header>Link</h3>
      <p>A section may be linkable or contain a link</p>

      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-link-example></doc-breadcrumb-breadcrumb-link-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>States</h2>

    <doc-code-sample
        [templateCode]="snippetActive">
      <h3 sui-header>Active</h3>
      <p>A section can be active</p>

      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-active-example></doc-breadcrumb-breadcrumb-active-example>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetSize">
      <h3 sui-header>Size</h3>
      <p>A breadcrumb can vary in size</p>

      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-size-example></doc-breadcrumb-breadcrumb-size-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSize1">
      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-size1-example></doc-breadcrumb-breadcrumb-size1-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSize2">
      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-size2-example></doc-breadcrumb-breadcrumb-size2-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSize3">
      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-size3-example></doc-breadcrumb-breadcrumb-size3-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSize4">
      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-size4-example></doc-breadcrumb-breadcrumb-size4-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSize5">
      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-size5-example></doc-breadcrumb-breadcrumb-size5-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSize6">
      <ng-template docDemo>
        <doc-breadcrumb-breadcrumb-size6-example></doc-breadcrumb-breadcrumb-size6-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-breadcrumb</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the breadcrumb size. Allowed values could be
          <span sui-label>mini</span> | <span sui-label>tiny</span> | <span sui-label>small</span> | <span
              sui-label>medium</span> | <span sui-label>big</span> | <span sui-label>huge</span> | <span
              sui-label>massive</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiBreadcrumbDivider</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiIcon</td>
        <td>
          Determine the icon to be used as the divider
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            ''
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <br/>

    <h2 sui-header
        suiDividing>suiBreadcrumbSection</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiActive</td>
        <td>
          Determine whether or not the breadcrumb section is active
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
