<doc-page
    header="Containers"
    subHeader="A container limits content to a maximum width"
    (pageChanged)="tabChanged($event)">
  <ng-container *ngIf="isDefinitionsActive">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="stdContainer"
        [templateCode]="snippetStd">
      <h3 sui-header>Container</h3>
      <p>A standard container</p>

      <ng-template #stdContainer>
        <div sui-container>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
            ligula eget dolor. Aenean massa <b>strong</b>. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
            vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
            vitae, justo. Nullam dictum felis eu pede
            <a href="javascript:void 0">link</a> mollis pretium. Integer tincidunt.
            Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
            tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
            enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
            Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
            imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
            nisi.
          </p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="textContainer"
        [templateCode]="snippetText">
      <h3 sui-header>Text Container</h3>
      <p>A button can be formatted to show different levels of emphasis</p>

      <ng-template #textContainer>
        <div sui-container
             suiText>
          <h2 sui-header>Header</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
            ligula eget dolor. Aenean massa <b>strong</b>. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
            vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
            vitae, justo. Nullam dictum felis eu pede
            <a href="javascript:void 0">link</a> mollis pretium. Integer tincidunt.
            Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
            tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
            enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
            Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
            imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
            nisi.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
            ligula eget dolor. Aenean massa <b>strong</b>. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
            vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
            vitae, justo. Nullam dictum felis eu pede
            <a href="javascript:void 0">link</a> mollis pretium. Integer tincidunt.
            Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
            tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
            enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
            Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
            imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
            nisi.
          </p>
        </div>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [content]="textAlignment"
        [templateCode]="snippetAligned">
      <h3 sui-header>Text Alignment</h3>
      <p>A container can specify its text alignment</p>

      <ng-template #textAlignment>
        <div sui-container
             suiAlignment="left aligned">
          Left Aligned
        </div>
        <div sui-container
             suiAlignment="center aligned">
          Center Aligned
        </div>
        <div sui-container
             suiAlignment="right aligned">
          Right Aligned
        </div>
        <div sui-divider></div>
        <div sui-container
             suiAlignment="justified">
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
            ligula eget dolor. Aenean massa <b>strong</b>. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
            vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
            vitae, justo. Nullam dictum felis eu pede
            <a href="javascript:void 0">link</a> mollis pretium. Integer tincidunt.
            Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
            tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
            enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
            Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
            imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
            ultricies nisi.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
            ligula eget dolor. Aenean massa <b>strong</b>. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
            vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
            vitae, justo. Nullam dictum felis eu pede
            <a href="javascript:void 0">link</a> mollis pretium. Integer tincidunt.
            Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
            tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
            enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
            Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
            imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
            ultricies nisi.
          </p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="fluid"
        [templateCode]="snippetFluid">
      <h3 sui-header>Fluid</h3>
      <p>A fluid container has no maximum width</p>

      <ng-template #fluid>
        <div sui-container
             suiFluid>
          <h2 sui-header>Dogs Roles with Humans</h2>
          <p>
            Domestic dogs inherited complex behaviors, such as bite inhibition, from
            their wolf ancestors, which would have been pack hunters with complex body
            language. These sophisticated forms of social cognition and communication
            may account for their trainability, playfulness, and ability to fit into
            human households and social situations, and these attributes have given
            dogs a relationship with humans that has enabled them to become one of the
            most successful species on the planet today.
          </p>
          <p>
            The dogs' value to early human hunter-gatherers led to them quickly
            becoming ubiquitous across world cultures. Dogs perform many roles for
            people, such as hunting, herding, pulling loads, protection, assisting
            police and military, companionship, and, more recently, aiding handicapped
            individuals. This impact on human society has given them the nickname
            "man's best friend" in the Western world. In some cultures, however, dogs
            are also a source of meat.
          </p>
        </div>
      </ng-template>
    </doc-code-sample>
  </ng-container>

  <ng-container *ngIf="isApiActive">
    <h2 sui-header
        suiDividing>sui-container</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiAlignment</td>
        <td>
          Align container text. . Allowed values could be
          <span sui-label>'left aligned'</span> | <span sui-label>'right aligned'</span> | <span sui-label>'center aligned'</span> | <span
            sui-label>'justified'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiText</td>
        <td>
          Reduce maximum width to more naturally accommodate text.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFluid</td>
        <td>
          The container will fill the complete width of its surrounding element
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</doc-page>
