<doc-page
    header="Containers"
    subHeader="A container limits content to a maximum width"
    (pageChanged)="tabChanged($event)">
  <ng-container *ngIf="isDefinitionsActive">
    <h2 sui-header suiDividing>Types</h2>

    <doc-code-sample [content]="stdContainer" [code]="snippetStd">
      <h3 sui-header>Container</h3>
      <p>A standard container</p>

      <ng-template #stdContainer>
        <div sui-container>
          <div sui-placeholder>
            <p suiPlaceholderLine></p>
            <p suiPlaceholderLine></p>
            <p suiPlaceholderLine></p>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [content]="textContainer" [code]="snippetText">
      <h3 sui-header>Text Container</h3>
      <p>A container can reduce its maximum width to more naturally accomodate a single column of text</p>

      <ng-template #textContainer>
        <div sui-container suiText>
          <div sui-placeholder>
            <p suiPlaceholderLine></p>
            <p suiPlaceholderLine></p>
            <p suiPlaceholderLine></p>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header suiDividing>Variations</h2>

    <doc-code-sample [content]="textAlignment" [code]="snippetAligned">
      <h3 sui-header>Text Alignment</h3>
      <p>A container can specify its text alignment</p>

      <ng-template #textAlignment>
        <div sui-container
             suiAlignment="left aligned">
          left aligned
        </div>
        <div sui-container
             suiAlignment="center aligned">
          center aligned
        </div>
        <div sui-container
             suiAlignment="right aligned">
          right aligned
        </div>
        <div sui-divider></div>
        <div sui-container
             suiAlignment="justified">
          justified
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample [content]="fluid" [code]="snippetFluid">
      <h3 sui-header>Fluid</h3>
      <p>A fluid container has no maximum width</p>

      <ng-template #fluid>
        <div sui-container
             suiFluid>
          Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would
          have been pack hunters with complex body language. These sophisticated forms of social cognition and
          communication may account for their trainability, playfulness, and ability to fit into human households and
          social situations, and these attributes have given dogs a relationship with humans that has enabled them to
          become one of the most successful species on the planet today.
        </div>
      </ng-template>
    </doc-code-sample>
  </ng-container>

  <ng-container *ngIf="isApiActive">
    <small>APIs</small>
  </ng-container>
</doc-page>
