<doc-page
    header="Container"
    subHeader="A container limits content to a maximum width">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetStd">
      <h3 sui-header>Container</h3>
      <p>A standard container</p>

      <ng-template docDemo>
        <doc-container-std-container-example></doc-container-std-container-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetText">
      <h3 sui-header>Text Container</h3>
      <p>A button can be formatted to show different levels of emphasis</p>

      <ng-template docDemo>
        <doc-container-text-container-example></doc-container-text-container-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetAligned">
      <h3 sui-header>Text Alignment</h3>
      <p>A container can specify its text alignment</p>

      <ng-template docDemo>
        <doc-container-text-alignment-example></doc-container-text-alignment-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFluid">
      <h3 sui-header>Fluid</h3>
      <p>A fluid container has no maximum width</p>

      <ng-template docDemo>
        <doc-container-fluid-example></doc-container-fluid-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-container</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiAlignment</td>
        <td>
          Align container text. . Allowed values could be
          <span sui-label>'left aligned'</span> | <span sui-label>'right aligned'</span> | <span sui-label>'center aligned'</span> | <span
            sui-label>'justified'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiText</td>
        <td>
          Reduce maximum width to more naturally accommodate text.
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFluid</td>
        <td>
          The container will fill the complete width of its surrounding element
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
