<doc-page
    header="Header"
    subHeader="A header provides a short summary of content">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetPageHeader">
      <h3 sui-header>Page Headers</h3>
      <p>Headers may be oriented to give the hierarchy of a section in the context of the page</p>

      <ng-template docDemo>
        <doc-header-page-headers-example></doc-header-page-headers-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetContentHeader">
      <h3 sui-header>Content Headers</h3>
      <p>Headers may be oriented to give the importance of a section in the context of the content that surrounds it</p>

      <ng-template docDemo>
        <doc-header-content-headers-example></doc-header-content-headers-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetIconHeader">
      <h3 sui-header>Icon Headers</h3>
      <p>A header can be formatted to emphasize an icon</p>

      <ng-template docDemo>
        <doc-header-icon-headers-example></doc-header-icon-headers-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetIconCenteredHeader">
      <ng-template docDemo>
        <doc-header-icon-center-headers-example></doc-header-icon-center-headers-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSubHeader">
      <h3 sui-header>Sub Headers</h3>
      <p>Headers may be formatted to label smaller or de-emphasized content.</p>

      <ng-template docDemo>
        <doc-header-sub-headers-example></doc-header-sub-headers-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSubImageHeader">
      <ng-template docDemo>
        <doc-header-sub-image-headers-example></doc-header-sub-image-headers-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Content</h2>

    <doc-code-sample
        [templateCode]="snippetImageHeader">
      <h3 sui-header>Image</h3>
      <p>A header may contain an image</p>

      <ng-template docDemo>
        <doc-header-image-header-example></doc-header-image-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCircularImageHeader">
      <ng-template docDemo>
        <doc-header-image-circular-header-example></doc-header-image-circular-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetImageSubHeader">
      <ng-template docDemo>
        <doc-header-image-sub-header-example></doc-header-image-sub-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetImageHeader">
      <h3 sui-header>Icon</h3>
      <p>A header may contain an icon</p>

      <ng-template docDemo>
        <doc-header-icon-header-example></doc-header-icon-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetImageHeader">
      <ng-template docDemo>
        <doc-header-icon-sub-header-example></doc-header-icon-sub-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHeaderDetails">
      <h3 sui-header>Subheader</h3>
      <p>Headers may contain subheaders</p>

      <ng-template docDemo>
        <doc-header-sub-header-details-example></doc-header-sub-header-details-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHeaderSizeDetails">
      <ng-template docDemo>
        <doc-header-sub-header-sizes-details-example></doc-header-sub-header-sizes-details-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [templateCode]="snippetDisabledHeader">
      <h3 sui-header>Disabled</h3>
      <p>A header can show that it is inactive</p>

      <ng-template docDemo>
        <doc-header-disabled-header-example></doc-header-disabled-header-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetDividingHeader">
      <h3 sui-header>Dividing</h3>
      <p>A header can be formatted to divide itself from the content below it</p>

      <ng-template docDemo>
        <doc-header-dividing-header-example></doc-header-dividing-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBlockHeader">
      <h3 sui-header>Block</h3>
      <p>A header can be formatted to appear inside a content block</p>

      <ng-template docDemo>
        <doc-header-block-header-example></doc-header-block-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetAttachedHeader">
      <h3 sui-header>Attached</h3>
      <p>A header can be attached to other content, like a segment</p>

      <ng-template docDemo>
        <doc-header-attached-header-example></doc-header-attached-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFloatingHeader">
      <h3 sui-header>Floating</h3>
      <p>A header can sit to the left or right of other content</p>

      <ng-template docDemo>
        <doc-header-floating-header-example></doc-header-floating-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetTextAlignmentHeader">
      <h3 sui-header>Text Alignment</h3>
      <p>A header can have its text aligned to a side</p>

      <ng-template docDemo>
        <doc-header-text-alignment-header-example></doc-header-text-alignment-header-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetColoured">
      <h3 sui-header>Coloured</h3>
      <p>A header can be formatted with different colours</p>

      <ng-template docDemo>
        <doc-header-header-coloured-example></doc-header-header-coloured-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>A header can have its colours inverted for contrast</p>

      <div sui-message suiState="info">
        <p>Inverted headers use modified light versions of your site's colour scheme that are adapted to have more
          contrast on dark background</p>
      </div>

      <ng-template docDemo>
        <doc-header-header-coloured-inverted-example></doc-header-header-coloured-inverted-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-header</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the header size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiAlignment</td>
        <td>Set the header text alignment. Allowed values could be
          <span sui-label>'left aligned'</span> | <span sui-label>'right aligned'</span> | <span sui-label>'center aligned'</span> | <span
              sui-label>'justified'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiColour</td>
        <td>Set the header colour. Allowed values could be
          <span sui-label>'red'</span> | <span sui-label>'orange'</span> | <span sui-label>'yellow'</span> | <span
              sui-label>'olive'</span> | <span sui-label>'green'</span> | <span sui-label>'teal'</span> | <span
              sui-label>'blue'</span> | <span sui-label>'violet'</span> | <span sui-label>'purple'</span> | <span
              sui-label>'pink'</span> | <span sui-label>'brown'</span> | <span sui-label>'grey'</span> | <span
              sui-label>'black'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiAttached</td>
        <td>
          Set the header attachment. Allowed values could be
          <span sui-label>'attached'</span> | <span sui-label>'top attached'</span> | <span sui-label>'bottom attached'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFloated</td>
        <td>
          Set the header text float. Allowed values could be
          <span sui-label>'left floated'</span> | <span sui-label>'right floated'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSubHeader</td>
        <td>
          Style this header as a sub header
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>
          Set whether or not to disable this header
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiDividing</td>
        <td>
          Set whether or not the header should have an underline
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiBlock</td>
        <td>
          Set whether or not the header should be a styled as a block
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>
          Set whether or not the header colours should  be inverted
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiIcon</td>
        <td>
          Set whether or not the header shoukd be stylized to support icons
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
