<doc-page
    header="Icon"
    subHeader="An icon is a glyph used to represent something else">

  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="basic"
        [templateCode]="snippetBasic">
      <h3 sui-header>Loader</h3>
      <p>A loader</p>

      <div sui-message
           suiState="info">
        Loaders are hidden unless <code>active</code> or inside an <a routerLink="/modules/dimmer"><code>active
        dimmer</code></a>.
      </div>

      <ng-template #basic>
        <div sui-segment
             sui-dimmer
             dimmed="true">
          <doc-wireframe type="short-paragraph"></doc-wireframe>
          <ng-template suiDimmerContent>
            <div sui-loader></div>
          </ng-template>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="text"
        [templateCode]="snippetText">
      <h3 sui-header>Text Loader</h3>
      <p>A loader can contain text</p>

      <ng-template #text>
        <div sui-segment
             sui-dimmer
             dimmed="true">
          <doc-wireframe type="short-paragraph"></doc-wireframe>
          <ng-template suiDimmerContent>
            <div sui-loader
                 suiText>
              Loading
            </div>
          </ng-template>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="textInverted"
        [templateCode]="snippetTextInverted">
      <ng-template #textInverted>
        <div sui-segment
             sui-dimmer
             suiDimmerInverted
             dimmed="true">
          <doc-wireframe type="short-paragraph"></doc-wireframe>
          <ng-template suiDimmerContent>
            <div sui-loader
                 suiText>
              Loading
            </div>
          </ng-template>
        </div>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [content]="indeterminate"
        [templateCode]="snippetIndeterminate">
      <h3 sui-header>Indeterminate</h3>
      <p>A loader can show it's unsure of how long a task will take</p>

      <ng-template #indeterminate>
        <div sui-segment
             sui-dimmer
             dimmed="true">
          <doc-wireframe type="short-paragraph"></doc-wireframe>
          <ng-template suiDimmerContent>
            <div sui-loader
                 suiIndeterminate
                 suiText>
              Preparing Files
            </div>
          </ng-template>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="active"
        [templateCode]="snippetActive">
      <h3 sui-header>Active</h3>
      <p>A loader can be active or visible</p>

      <div sui-message
           suiState="info">
        An active loader may not be clearly visible without using a <a routerLink="/modules/dimmer"><code>dimmer</code></a>.
      </div>

      <ng-template #active>
        <div sui-segment>
          <div sui-loader
               suiActive></div>
          <doc-wireframe type="short-paragraph"></doc-wireframe>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="disabled"
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>A loader can be disabled or hidden</p>

      <ng-template #disabled>
        <div sui-segment>
          <div sui-loader
               disabled></div>
          <doc-wireframe type="short-paragraph"></doc-wireframe>
        </div>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-icon</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the icon size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal"> string</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> null</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
