<div sui-comments>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/laura.jpg" alt="Tom Lukic">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Tom Lukic</a>
      <div suiCommentText>This will be great for business reports. I will definitely download this.</div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
        <a>Save</a>
        <a>Hide</a>
        <a>
          <i sui-icon suiIconType="expand"></i> Full-screen
        </a>
      </div>
    </div>
  </div>
</div>
