<div sui-comments suiCollapsed>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/helen.jpg" alt="Christian Rocha">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Christian Rocha</a>
      <div suiCommentMetadata>
        <span class="date">2 days ago</span>
      </div>
      <div suiCommentText>
        I'm very interested in this motherboard. Do you know if it'd work in a Intel LGA775 CPU socket?
      </div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/elliot.jpg" alt="Elliot Fu">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Elliot Fu</a>
      <div suiCommentMetadata>
        <span class="date">1 day ago</span>
      </div>
      <div suiCommentText>No, it wont</div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/jenny.jpg" alt="Jenny Hess">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Jenny Hess</a>
      <div suiCommentMetadata>
        <span class="date">20 minutes ago</span>
      </div>
      <div suiCommentText>Maybe it would.</div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
</div>
