<div sui-comments>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/helen.jpg" alt="Stevie Feliciano">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Stevie Feliciano</a>
      <div suiCommentMetadata>
        <span class="date">2 days ago</span>
        <span class="rating">
          <i sui-icon suiIconType="star"></i> 5 Faves
        </span>
      </div>
      <div suiCommentText>Hey guys, I hope this example comment is helping you read this documentation.</div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
</div>
