<div sui-comments>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/justen.jpg" alt="Steve Jobes">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Steve Jobes</a>
      <div suiCommentMetadata>
        <span class="date">2 days ago</span>
      </div>
      <div suiCommentText>Revolutionary!</div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
      <form suiCommentReply class="ui form">
        <div class="field">
          <textarea rows="3" placeholder="Add a reply..."></textarea>
        </div>
        <button sui-button type="button">Add Reply</button>
      </form>
    </div>
  </div>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/joe.jpg" alt="Joe Henderson">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Joe Henderson</a>
      <div suiCommentMetadata>
        <span class="date">1 day ago</span>
      </div>
      <div suiCommentText>
        The hours, minutes and seconds stand as visible reminders that your effort put them all there.
        Preserve until your next run, when the watch lets you see how Impermanent your efforts are.
      </div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/helen.jpg" alt="Christian Rocha">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Christian Rocha</a>
      <div suiCommentMetadata>
        <span class="date">2 days ago</span>
      </div>
      <div suiCommentText>I re-tweeted this.</div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
</div>
<form suiCommentReply class="ui form">
  <div class="field">
    <textarea rows="3" placeholder="Add a comment..."></textarea>
  </div>
  <button sui-button type="button">Add Comment</button>
</form>
