<div sui-comments suiSize="large">
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/justen.jpg" alt="Matt">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Matt</a>
      <div suiCommentMetadata>
        <span class="date">Today at 5:42PM</span>
      </div>
      <div suiCommentText>How artistic!</div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/elliot.jpg" alt="Elliot Fu">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Elliot Fu</a>
      <div suiCommentMetadata>
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div suiCommentText>This has been very useful for my research. Thanks as well!</div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/jenny.jpg" alt="Jenny Hess">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Jenny Hess</a>
      <div suiCommentMetadata>
        <span class="date">Just now</span>
      </div>
      <div suiCommentText>Elliot you are always so right :)</div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div sui-comment>
    <a suiCommentAvatar>
      <img src="/assets/images/joe.jpg" alt="Joe Henderson">
    </a>
    <div suiCommentContent>
      <a suiCommentAuthor>Joe Henderson</a>
      <div suiCommentMetadata>
        <span class="date">5 days ago</span>
      </div>
      <div suiCommentText>Dude, this is awesome. Thanks so much</div>
      <div suiCommentActions>
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
</div>
