<doc-page
    header="Checkbox"
    subHeader="A checkbox allows a user to select a value from a small set of options, often binary">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetStandard">
      <h3 sui-header>Checkbox</h3>
      <p>A standard checkbox</p>

      <ng-template docDemo>
        <doc-checkbox-standard-example></doc-checkbox-standard-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBasicRadio">
      <h3 sui-header>Radio</h3>
      <p>A checkbox can be formatted as a radio element. This means it is an exclusive option</p>

      <ng-template docDemo>
        <doc-checkbox-basic-radio-example></doc-checkbox-basic-radio-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInlineRadio"
        [componentCode]="snippetInlineRadioTs">
      <ng-template docDemo>
        <doc-checkbox-inline-radio-example></doc-checkbox-inline-radio-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetGroupedRadio"
        [componentCode]="snippetGroupedRadioTs">
      <ng-template docDemo>
        <doc-checkbox-grouped-radio-example></doc-checkbox-grouped-radio-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBasicSlider">
      <h3 sui-header>Slider</h3>
      <p>A checkbox can be formatted to emphasize the current selection state</p>

      <ng-template docDemo>
        <doc-checkbox-basic-slider-example></doc-checkbox-basic-slider-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetGroupedSlider"
        [componentCode]="snippetGroupedSliderTs">
      <ng-template docDemo>
        <doc-checkbox-grouped-slider-example></doc-checkbox-grouped-slider-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetToggle">
      <h3 sui-header>Toggle</h3>
      <p>A checkbox can be formatted to show an on or off choice</p>

      <ng-template docDemo>
        <doc-checkbox-toggle-example></doc-checkbox-toggle-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [templateCode]="snippetReadOnly">
      <h3 sui-header>Read-only</h3>
      <p>A checkbox can be read-only and unable to change states</p>

      <ng-template docDemo>
        <doc-checkbox-read-only-example></doc-checkbox-read-only-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetChecked">
      <h3 sui-header>Checked</h3>
      <p>A checkbox can be checked</p>

      <ng-template docDemo>
        <doc-checkbox-checked-example></doc-checkbox-checked-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetIndeterminate">
      <h3 sui-header>Indeterminate</h3>
      <p>A checkbox can be indeterminate</p>

      <ng-template docDemo>
        <doc-checkbox-indeterminate-example></doc-checkbox-indeterminate-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>A checkbox can be read-only and unable to change states</p>

      <ng-template docDemo>
        <doc-checkbox-disabled-example></doc-checkbox-disabled-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetFitted">
      <h3 sui-header>Fitted</h3>
      <p>A fitted checkbox does not leave padding for a label</p>

      <ng-template docDemo>
        <doc-checkbox-fitted-example></doc-checkbox-fitted-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-checkbox</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiReadOnly</td>
        <td>
          Determines if the checkbox's state can be modified
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiFitted</td>
        <td>
          Determines if the fitted variation of the checkbox is rendered
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>
          Determines if the checkbox is disabled
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>name</td>
        <td>Sets the name attribute of the checkbox. Required for form usage</td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiValue</td>
        <td>Sets the value of the checkbox</td>
        <td>
          <div sui-label suiColour="teal">any</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>[(value)]</td>
        <td>Sets and notifies you of changes to the checkbox's value</td>
        <td>
          <div sui-label suiColour="teal">any</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>[(checked)]</td>
        <td>Sets and notifies you of changes to the checkbox's check state</td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
