.example {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.toggle-row {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: -0.5rem;
}

.copy-code {
  float: right;
}

.live-demo {
  margin-top: 0.5rem;
}
