<div class="example">
  <div class="toggle-row">
    <span sui-popup
      suiPopupInverted
      suiPopupContent="Show Source">
      <i sui-icon
        suiLink
        suiFitted
        suiIconType="code"
      (click)="toggleCodeDisplay()"></i>
    </span>
  </div>

  <ng-content></ng-content>

  @if (!codeShown) {
    <ng-container *ngTemplateOutlet="content"></ng-container>
  }

  @if (codeShown) {
    <div sui-segments>
      <div sui-segment
        style="padding-top: 3rem;">
        <ng-container *ngTemplateOutlet="content"></ng-container>
        <div sui-label
          suiAttached="top">
          Example
          <i class="copy-code"
            sui-icon
            suiLink
            suiIconType="copy"
            sui-popup
            suiPopupInverted
            suiPopupContent="Copy Code"
          (click)="copyCode()"></i>
        </div>
      </div>
      <div sui-segment>
        <pre>
          <code lineNumbers
            language="html"
            singleLine="true"
            [highlight]="formatCode(templateCode)">
          </code>
        </pre>
      </div>
      @if (componentCode) {
        <div sui-segment>
          <pre>
            <code lineNumbers
              language="ts"
              singleLine="true"
              [highlight]="formatCode(componentCode)">
            </code>
          </pre>
        </div>
      }
    </div>
  }
</div>
