<div class="example">
  <div class="toggle-row">
    <span sui-popup
      suiPopupInverted
      suiPopupContent="Show Source">
      <i sui-icon
        suiLink
        suiFitted
        suiIconType="code"
      (click)="toggleCodeDisplay()"></i>
    </span>
  </div>

  <ng-content></ng-content>

  <div class="live-demo">
    <ng-container *ngTemplateOutlet="demo?.template"></ng-container>
  </div>

  @if (codeShown) {
    <div sui-segments>
      <div sui-segment>
        <div sui-label
          suiAttached="top">
          HTML
          <i class="copy-code"
            sui-icon
            suiLink
            suiIconType="copy"
            sui-popup
            suiPopupInverted
            suiPopupContent="Copy HTML"
          (click)="copyCode('html')"></i>
        </div>
        <pre>
          <code lineNumbers
            language="html"
            [highlight]="formatCode(templateCode)">
          </code>
        </pre>
      </div>
      @if (componentCode) {
        <div sui-segment>
          <div sui-label
            suiAttached="top">
            TypeScript
            <i class="copy-code"
              sui-icon
              suiLink
              suiIconType="copy"
              sui-popup
              suiPopupInverted
              suiPopupContent="Copy TypeScript"
            (click)="copyCode('ts')"></i>
          </div>
          <pre>
            <code lineNumbers
              language="ts"
              [highlight]="formatCode(componentCode)">
            </code>
          </pre>
        </div>
      }
    </div>
  }
</div>
