<doc-page
    header="Image"
    subHeader="An image is a graphic representation of something">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="basic"
        [templateCode]="snippetBasic">
      <h3 sui-header>Image</h3>
      <p>An image</p>

      <div sui-message>
        Unless a size is specified, images will use the original dimensions of the image up to the size of its
        container.
      </div>

      <br/>

      <div sui-message
           suiState="info">
        You can specify an <code>img</code> or <code>svg</code> as a <code>sui-image</code> or use a child element.
      </div>

      <br/>

      <ng-template #basic>
        <img sui-image
             suiSize="small"
             src="https://semantic-ui.com/images/wireframe/image.png">
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="basicInnerImg"
        [templateCode]="snippetBasicInnerImg">
      <ng-template #basicInnerImg>
        <div sui-image
             suiSize="small">
          <img src="https://semantic-ui.com/images/wireframe/image.png">
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="basicInnerSvg"
        [templateCode]="snippetBasicInnerSvg">
      <ng-template #basicInnerSvg>
        <div sui-image
             suiSize="small">
          <svg width="150" height="150">
            <image xlink:href="https://semantic-ui.com/images/wireframe/image.png" x="0" y="0" width="100%"
                   height="100%"></image>
          </svg>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="imageLink"
        [templateCode]="snippetImageLink">
      <h3 sui-header>Image Link</h3>
      <p>An image can be formatted to link to other content</p>

      <ng-template #imageLink>
        <a sui-image
           suiSize="medium"
           href="https://google.com">
          <img src="https://semantic-ui.com/images/wireframe/image-text.png">
        </a>
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header
        suiDividing>States</h2>

    <doc-code-sample
        [content]="hidden"
        [templateCode]="snippetHidden">
      <h3 sui-header>Hidden</h3>
      <p>An image can be hidden</p>

      <ng-template #hidden>
        <img sui-image
             suiHidden
             src="https://semantic-ui.com/images/wireframe/image.png">
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="disabled"
        [templateCode]="snippetDisabled">
      <h3 sui-header>Disabled</h3>
      <p>An image can show that it is disabled and cannot be selected</p>

      <ng-template #disabled>
        <img sui-image
             disabled
             suiSize="medium"
             src="https://semantic-ui.com/images/wireframe/image.png">
      </ng-template>
    </doc-code-sample>

    <br/>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [content]="avatar"
        [templateCode]="snippetAvatar">
      <h3 sui-header>Avatar</h3>
      <p>An image may be formatted to appear inline with text as an avatar</p>

      <ng-template #avatar>
        <img sui-image
             suiAvatar
             src="https://semantic-ui.com/images/wireframe/square-image.png">
        <span>Username</span>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="bordered"
        [templateCode]="snippetBordered">
      <h3 sui-header>Bordered</h3>
      <p>An image may include a border to emphasize the edges of white or transparent content</p>

      <ng-template #bordered>
        <img sui-image
             suiBordered
             suiSize="medium"
             src="https://semantic-ui.com/images/wireframe/white-image.png">
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="fluid"
        [templateCode]="snippetFluid">
      <h3 sui-header>Fluid</h3>
      <p>An image can take up the width of its container</p>

      <ng-template #fluid>
        <img sui-image
             suiFluid
             src="https://semantic-ui.com/images/wireframe/image.png">
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="rounded"
        [templateCode]="snippetRounded">
      <h3 sui-header>Rounded</h3>
      <p>An image may appear rounded</p>

      <ng-template #rounded>
        <img sui-image
             suiRounded
             suiSize="medium"
             src="https://semantic-ui.com/images/wireframe/square-image.png">
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="circular"
        [templateCode]="snippetCircular">
      <h3 sui-header>Circular</h3>
      <p>An image may appear circular</p>

      <ng-template #circular>
        <img sui-image
             suiCircular
             suiSize="medium"
             src="https://semantic-ui.com/images/wireframe/square-image.png">
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="verticalAligned"
        [templateCode]="snippetAlignment">
      <h3 sui-header>Vertically Aligned</h3>
      <p>An image can specify its vertical alignment</p>

      <ng-template #verticalAligned>
        <img sui-image
             suiSize="tiny"
             suiAlignment="top aligned"
             src="https://semantic-ui.com/images/wireframe/square-image.png">
        <span>Top Aligned</span>
        <div sui-divider></div>
        <img sui-image
             suiSize="tiny"
             suiAlignment="middle aligned"
             src="https://semantic-ui.com/images/wireframe/square-image.png">
        <span>Middle Aligned</span>
        <div sui-divider></div>
        <img sui-image
             suiSize="tiny"
             suiAlignment="bottom aligned"
             src="https://semantic-ui.com/images/wireframe/square-image.png">
        <span>Bottom Aligned</span>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="centered"
        [templateCode]="snippetCentered">
      <h3 sui-header>Centered</h3>
      <p>An image can appear centered in a content block</p>

      <ng-template #centered>
        <div sui-segment>
          <img sui-image
               suiCentered
               suiSize="medium"
               src="https://semantic-ui.com/images/wireframe/image.png">
          <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem
            aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque
            electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
          <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo.
            Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide
            phaedrum, vim vivendum maiestatis in.</p>
          <img sui-image
               suiCentered
               suiSize="small"
               src="https://semantic-ui.com/images/wireframe/text-image.png">
          <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no
            illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te
            eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum
            postulant per id.</p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="spaced"
        [templateCode]="snippetSpaced">
      <h3 sui-header>Spaced</h3>
      <p>An image can specify that it needs an additional spacing to separate it from nearby content</p>

      <ng-template #spaced>
        <div sui-segment>
          <p>
            Te eum doming eirmod, nominati pertinacia <img sui-image suiSize="mini" suiSpaced="spaced"
                                                           src="https://semantic-ui.com/images/wireframe/image.png">
            argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur
            at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim
            dolorum definiebas an. Mei ex natum rebum iisque.</p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="spacedAlt"
        [templateCode]="snippetSpacedAlt">
      <ng-template #spacedAlt>
        <p><img sui-image suiSize="mini" suiSpaced="right spaced"
                src="https://semantic-ui.com/images/wireframe/image.png">Audiam quaerendum eu sea, pro omittam
          definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te
          phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.
        </p>
        <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum
          aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi
          everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per
          id.<img sui-image suiSize="mini" suiSpaced="left spaced"
                  src="https://semantic-ui.com/images/wireframe/image.png"></p>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="floated"
        [templateCode]="snippetFloated">
      <h3 sui-header>Floated</h3>
      <p>An image can sit to the left or right of other content</p>

      <ng-template #floated>
        <div sui-segment>
          <img sui-image suiSize="small" suiFloated="left floated"
               src="https://semantic-ui.com/images/wireframe/text-image.png">
          <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem
            aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque
            electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
          <img sui-image suiSize="small" suiFloated="right floated"
               src="https://semantic-ui.com/images/wireframe/text-image.png">
          <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo.
            Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide
            phaedrum, vim vivendum maiestatis in.</p>
          <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no
            illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te
            eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum
            postulant per id.</p>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="size"
        [templateCode]="snippetSize">
      <h3 sui-header>Size</h3>
      <p>An image can sit to the left or right of other content</p>
      <div sui-message
           suiState="info">
        Semantic uses arbitrary default values for image sizes from mini to massive. It is recommended to update these
        with values used in your project in <code>image.variables</code>.
      </div>

      <ng-template #size>
        <table sui-table
               suiDefinition>
          <thead>
          <tr>
            <th>Class Name</th>
            <th>Size</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Mini</td>
            <td>35px</td>
          </tr>
          <tr>
            <td>Tiny</td>
            <td>80px</td>
          </tr>
          <tr>
            <td>Small</td>
            <td>150px</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>300px</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>450px</td>
          </tr>
          <tr>
            <td>Big</td>
            <td>600px</td>
          </tr>
          <tr>
            <td>Huge</td>
            <td>800px</td>
          </tr>
          <tr>
            <td>Massive</td>
            <td>960px</td>
          </tr>
          </tbody>
        </table>
        <div class="image-sizes">
          <img sui-image suiSize="mini" src="https://semantic-ui.com/images/wireframe/image.png">
          <img sui-image suiSize="tiny" src="https://semantic-ui.com/images/wireframe/image.png">
          <img sui-image suiSize="small" src="https://semantic-ui.com/images/wireframe/image.png">
          <img sui-image suiSize="medium" src="https://semantic-ui.com/images/wireframe/image.png">
        </div>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-placeholder</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiInverted</td>
        <td>
          Determine if the placeholder has its colours inverted
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiPlaceholderHeader</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiImage</td>
        <td>
          Determine if the placeholder header is of image type
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <h2 sui-header
        suiDividing>suiPlaceholderParagraph</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div style="text-align: center">No properties for this directive</div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</doc-page>
