<doc-page
    header="Popup"
    subHeader="A popup displays additional information on top of a page">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetStandard">
      <h3 sui-header>Popup</h3>
      <p>An element can specify popup content to appear</p>

      <div sui-message suiState="info">
        Popup relies on <a href="https://www.npmjs.com/package/@angular/cdk">Angular CDK</a>. Ensure that you have the
        latest version compatible with your Angular version
      </div>

      <ng-template docDemo>
        <doc-popup-standard-example></doc-popup-standard-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetTitled">
      <h3 sui-header>Titled</h3>
      <p>An element can specify popup content with a title</p>

      <ng-template docDemo>
        <doc-popup-titled-example></doc-popup-titled-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHtml">
      <h3 sui-header>HTML</h3>
      <p>An element can specify template HTML for a popup</p>

      <ng-template docDemo>
        <doc-popup-html-example></doc-popup-html-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header
        suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetBasic">
      <h3 sui-header>Basic</h3>
      <p>A popup can provide more basic formatting</p>

      <ng-template docDemo>
        <doc-popup-basic-example></doc-popup-basic-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetWidth">
      <h3 sui-header>Width</h3>
      <p>A popup can be extra wide to allow for longer content</p>

      <ng-template docDemo>
        <doc-popup-width-example></doc-popup-width-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFluid">
      <h3 sui-header>Fluid</h3>
      <p>A fluid popup will take up the entire width of its offset container</p>

      <ng-template docDemo>
        <doc-popup-fluid-example></doc-popup-fluid-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSize">
      <h3 sui-header>Size</h3>
      <p>A popup can vary in size</p>

      <ng-template docDemo>
        <doc-popup-size-example></doc-popup-size-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFlowing">
      <h3 sui-header>Flowing</h3>
      <p>A popup can have no maximum width and continue to flow to fit its content</p>

      <ng-template docDemo>
        <doc-popup-flowing-example></doc-popup-flowing-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>A popup can have its colors inverted</p>

      <ng-template docDemo>
        <doc-popup-inverted-example></doc-popup-inverted-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetPosition">
      <h3 sui-header>Position</h3>
      <p>A popup can be position around its trigger</p>

      <ng-template docDemo>
        <doc-popup-position-example></doc-popup-position-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-popup</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiPopupPlacement</td>
        <td>Set the popup's position. Allowed values could be
          <span sui-label>'top left'</span> | <span sui-label>'top center'</span> | <span sui-label>'top right'</span> | <span
              sui-label>'bottom left'</span> | <span sui-label>'bottom center'</span> | <span sui-label>'bottom right'</span> | <span
              sui-label>'right center'</span> | <span sui-label>'left center'</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            top left
          </div>
        </td>
      </tr>
      <tr>
        <td>suiPopupSize</td>
        <td>Set the popup size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiPopupWidth</td>
        <td>
          Determines the popup's width. Allowed values could be
          <span sui-label>'wide'</span> | <span sui-label>'very wide'</span> | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiPopupTrigger</td>
        <td>
          Determines the popup's trigger. Allowed values could be
          <span sui-label>'hover'</span> | <span sui-label>'click'</span>
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">hover</div>
        </td>
      </tr>
      <tr>
        <td>suiPopupTitle</td>
        <td>
          What should get rendered as the popup's title/header
        </td>
        <td>
          <div sui-label suiColour="teal">string</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiPopupContent</td>
        <td>
          What should get rendered as the popup's content. Could be a string or a template reference
        </td>
        <td>
          <div sui-label suiColour="teal">string</div> |
          <div sui-label suiColour="teal">TemplateRef&lt;any&gt;</div>
        </td>
        <td>
          <div sui-label suiColour="grey">null</div>
        </td>
      </tr>
      <tr>
        <td>suiPopupInverted</td>
        <td>
          Determines if the popup uses inverted colours
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiPopupFluid</td>
        <td>
          Determines if the popup uses fluid styling
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiPopupFlowing</td>
        <td>
          Determines if the popup uses flowing styling
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      <tr>
        <td>suiPopupBasic</td>
        <td>Determines whether the popup uses basic styling and renders without the arrow</td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
