<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Rails
        <div class="sub header">
          A rail is used to show accompanying content outside the boundaries of the main view of a site
        </div>
      </h1>

      <div class="ui hidden divider"></div>

      <div class="ui right floated main menu">

        <a class="bug popup icon item" data-content="Submit Bug Report" href="https://github.com/ngx-semantic/ngx-semantic/issues">
          <i class="bug icon"></i>
        </a>

        <a class="github popup icon item" data-content="View project on GitHub" href="https://github.com/ngx-semantic/ngx-semantic">
          <i class="alternate github icon"></i>
        </a>
      </div>

      <div sui-button suiEmphasis="primary">
        Download
      </div>
    </div>
  </div>
</div>
<br>

<div class="main ui container">
  <h2 sui-header suiDividing>Types</h2>
  <br>

  <doc-code-sample
    [content]="stdRail"
    [code]="snippetStdRail">
    <h3 sui-header>Rail</h3>
    <p>A rail can be presented on the left or right side of a container</p>

    <ng-template #stdRail>
      <div sui-rail suiLocation="left" suiDividing>
        <div class="ui segment">
          Left Rail Content
        </div>
      </div>
      <div sui-rail suiLocation="right" suiDividing>
        <div class="ui segment">
          Right Rail Content
        </div>
      </div>
      <div sui-segment>
        <div sui-placeholder>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </ng-template>
  </doc-code-sample>
</div>
