<doc-page
    header="Reveal"
    subHeader="A reveal displays additional content in place of previous content when activated">

  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="fade"
        [templateCode]="snippetFade">
      <h3 sui-header>Fade</h3>
      <p>An element can disappear to reveal content below</p>

      <ng-template #fade>
        <div sui-reveal
             suiFade>
          <div suiRevealContent
               suiVisible="visible">
            <img sui-image
                 suiSize="small"
                 src="https://semantic-ui.com/images/wireframe/square-image.png"/>
          </div>
          <div suiRevealContent
               suiVisible="hidden">
            <img sui-image
                 suiSize="small"
                 src="https://semantic-ui.com/images/avatar/large/ade.jpg"/>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="fadeAlt"
        [templateCode]="snippetFade">
      <ng-template #fadeAlt>
        <div sui-reveal
             suiFade
             suiImage
             suiSize="small">
          <div suiRevealContent
               suiVisible="visible">
            <img sui-image
                 src="https://semantic-ui.com/images/wireframe/square-image.png"/>
          </div>
          <div suiRevealContent
               suiVisible="hidden">
            <img sui-image
                 src="https://semantic-ui.com/images/avatar/large/ade.jpg"/>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-rail</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the rail size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label suiColour="teal"> string</div>
        </td>
        <td>
          <div sui-label suiColour="grey"> null</div>
        </td>
      </tr>
      <tr>
        <td>suiAttached</td>
        <td>Determine if the rail should be attached to the container
        </td>
        <td>
          <div sui-label suiColour="teal">boolean</div>
        </td>
        <td>
          <div sui-label suiColour="grey">false</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</doc-page>
