<doc-page
    header="List"
    subHeader="A list is used to group related content">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="divStandard"
        [templateCode]="snippetList">
      <h3 sui-header>List</h3>
      <p>
        A list groups related content
      </p>

      <ng-template #divStandard>
        <div  sui-list>
          <div suiListItem>
            Apples
          </div>
          <div suiListItem>
            Pears
          </div>
          <div suiListItem>
            Oranges
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="divStandard1"
        [templateCode]="snippetList1">

      <ng-template #divStandard1>
        <div  sui-list>
          <div suiListItem>
            <i sui-icon suiIconType="users"></i>
            <div class="content">
              Semantic UI
            </div>
          </div>
          <div suiListItem>
            <i sui-icon suiIconType="marker"></i>
            <div class="content">
              New York, NY
            </div>
          </div>
          <div suiListItem>
            <i sui-icon suiIconType="mail"></i>
            <div class="content">
              <a href="mailto:jack@semantic-ui.com">jack@semantic-ui.com</a>
            </div>
          </div>
          <div suiListItem>
            <i sui-icon suiIconType="linkify"></i>
            <div class="content">
              <a href="http://www.semantic-ui.com">semantic-ui.com</a>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
    
    <doc-code-sample
        [content]="divStandard2"
        [templateCode]="snippetList2">

      <ng-template #divStandard2>
        <div sui-list suiDivided="true" SuiListRelaxation="relaxed">
          <div suiListItem>
            <i sui-icon suiIconType="github" suiSize="large"></i>
            <div class="content">
              <a sui-header suiSize="small">Semantic-Org/Semantic-UI</a>
              <div>Updated 10 mins ago</div>
            </div>
          </div>
          <div suiListItem>
            <i sui-icon suiIconType="github" suiSize="large"></i>
            <div class="content">
              <a sui-header suiSize="small">Semantic-Org/Semantic-UI-Docs</a>
              <div>Updated 22 mins ago</div>
            </div>
          </div>
          <div suiListItem>
            <i sui-icon suiIconType="github" suiSize="large"></i>
            <div class="content">
              <a sui-header suiSize="small">Semantic-Org/Semantic-UI-Meteor</a>
              <div>Updated 34 mins ago</div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
    
    <doc-code-sample
        [content]="divStandard3"
        [templateCode]="snippetList3">

      <ng-template #divStandard3>
        <div sui-list>
          <div suiListItem>
            <i sui-icon suiIconType="folder"></i>
            <div class="content">
              <div sui-header suiSize="tiny">src</div>
              <div>Source files for project</div>
              <div sui-list>
                <div suiListItem>
                  <i sui-icon suiIconType="folder"></i>
                  <div class="content">
                    <div sui-header suiSize="tiny">site</div>
                    <div>Your site's theme</div>
                  </div>
                </div>
                <div suiListItem>
                  <i sui-icon suiIconType="folder"></i>
                  <div class="content">
                    <div sui-header suiSize="tiny">themes</div>
                    <div>Packaged theme files</div>
                    <div sui-list>
                      <div suiListItem>
                        <i sui-icon suiIconType="folder"></i>
                        <div class="content">
                          <div sui-header suiSize="tiny">default</div>
                          <div>Default packaged theme</div>
                        </div>
                      </div>
                      <div suiListItem>
                        <i sui-icon suiIconType="folder"></i>
                        <div class="content">
                          <div sui-header suiSize="tiny">my_theme</div>
                          <div>Packaged themes are also available in this folder</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div suiListItem>
                  <i sui-icon suiIconType="file"></i>
                  <div class="content">
                    <div sui-header suiSize="tiny">theme.config</div>
                    <div>Config file for setting packaged themes</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div suiListItem>
            <i sui-icon suiIconType="folder"></i>
            <div class="content">
              <div sui-header suiSize="tiny">dist</div>
              <div>Compiled CSS and JS files</div>
              <div sui-list>
                <div suiListItem>
                  <i sui-icon suiIconType="folder"></i>
                  <div class="content">
                    <div sui-header suiSize="tiny">components</div>
                    <div>Individual component CSS and JS</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div suiListItem>
            <i sui-icon suiIconType="file"></i>
            <div class="content">
              <div sui-header suiSize="tiny">semantic.json</div>
              <div>Contains build settings for gulp</div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="bulletedList"
        [templateCode]="snippetBulleted">
      <h3 sui-header>Bulleted</h3>
      <p>
        A list can mark items with a bullet
      </p>

      <ng-template #bulletedList>
        <div sui-list suiBulleted="true">
          <div suiListItem>Gaining Access</div>
          <div suiListItem>Inviting Friends</div>
          <div suiListItem>
            <div>Benefits</div>
            <div sui-list>
              <a suiListItem href="#">Link to somewhere</a>
              <div suiListItem>Rebates</div>
              <div suiListItem>Discounts</div>
            </div>
          </div>
          <div suiListItem>Warranty</div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="bulletedList1"
        [templateCode]="snippetBulleted1">

      <div sui-message
         suiState="info">
        For convenience, a simple bulleted list can also use <code><b>ul</b></code> tag.
      </div>

      <ng-template #bulletedList1>
        <ul sui-list>
          <li>Gaining Access</li>
          <li>Inviting Friends</li>
          <li>Benefits
            <ul>
              <li>Use Anywhere</li>
              <li>Rebates</li>
              <li>Discounts</li>
            </ul>
          </li>
          <li>Warranty</li>
        </ul>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="bulletedList2"
        [templateCode]="snippetBulleted2">

      <ng-template #bulletedList2>
        <div sui-list suiBulleted="true" suiHorizontal="true">
          <a suiListItem>
            About Us
          </a>
          <a suiListItem>
            Sitemap
          </a>
          <a suiListItem>
            Contact
          </a>
        </div>
      </ng-template>
    </doc-code-sample>
    
    <doc-code-sample
        [content]="orderedList"
        [templateCode]="snippetOrdered">
      <h3 sui-header>Ordered</h3>
      <p>
        A list can be ordered numerically
      </p>

      <ng-template #orderedList>
        <div sui-list suiOrdered="true">
          <a suiListItem>Getting Started</a>
          <a suiListItem>Introduction</a>
          <div suiListItem>
            <a>Languages</a>
            <div sui-list>
              <a suiListItem>HTML</a>
              <a suiListItem>Javascript</a>
              <a suiListItem>CSS</a>
            </div>
          </div>
          <a suiListItem>Review</a>
        </div>
      </ng-template>
    </doc-code-sample>
    
    <doc-code-sample
        [content]="orderedList1"
        [templateCode]="snippetOrdered1">

      <div sui-message
        suiState="info">
        An ordered list can also use the <code><b>ol</b></code> tag.
     </div>

      <ng-template #orderedList1>
        <ol sui-list>
          <li>Signing Up</li>
          <li>User Benefits</li>
          <li>User Types
            <ol>
              <li>Admin</li>
              <li>Power User</li>
              <li>Regular User</li>
            </ol>
          </li>
          <li>Deleting Your Account</li>
        </ol>
      </ng-template>
    </doc-code-sample>
    
    <doc-code-sample
        [content]="orderedList2"
        [templateCode]="snippetOrdered2">

      <div sui-message
        suiState="info">
        You can also manually specify a value for an ordered list using <code><b>data-value</b></code> on a <code><b>div</b></code>, or <code><b>value</b></code> on a <code><b>li</b></code>
     </div>

      <ng-template #orderedList2>
        <ol sui-list>
          <li value="*">Signing Up</li>
          <li value="*">User Benefits</li>
          <li value="*">User Types
            <ol>
              <li value="-">Admin</li>
              <li value="-">Power User</li>
              <li value="-">Regular User</li>
            </ol>
          </li>
          <li value="*">Deleting Your Account</li>
        </ol>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="linkList"
        [templateCode]="snippetLink">
      <h3 sui-header>Link</h3>
      <p>
        A list can be specially formatted for navigation links
      </p>

      <ng-template #linkList>
        <div sui-list suiLink="true">
          <div suiListItem class="active">Home</div>
          <a suiListItem>About</a>
          <a suiListItem>Jobs</a>
          <a suiListItem>Team</a>
        </div>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header suiDividing>Content</h2>

    <doc-code-sample
        [content]="itemList"
        [templateCode]="snippetItem">
      <h3 sui-header>Item</h3>
      <p>
        A list item can contain a set of items
      </p>

      <ng-template #itemList>
        <div sui-list>
          <div suiListItem>
            1
          </div>
          <div suiListItem>
            2
          </div>
          <div suiListItem>
            3
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="iconList"
        [templateCode]="snippetIcon">
      <h3 sui-header>Icon</h3>
      <p>
        A list item can contain an icon
      </p>

      <ng-template #iconList>
        <div sui-list>
          <a suiListItem>
            <i sui-icon suiIconType="help"></i>
            <div class="content">
              <div sui-header suiSize="small">Floated Icon</div>
              <div>This text will always have a left margin to make sure it sits alongside your icon</div>
            </div>
          </a>
          <a suiListItem>
            <i sui-icon suiIconType="right triangle"></i>
            <div class="content">
              <div sui-header suiSize="small">Icon Alignment</div>
              <div>Floated icons are by default top aligned. To have an icon top aligned try this example.</div>
            </div>
          </a>
          <div suiListItem>
            <i sui-icon suiIconType="help"></i>
            Inline Text
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="imageList"
        [templateCode]="snippetImage">
      <h3 sui-header>Image</h3>
      <p>
        A list item can contain an image
      </p>

      <ng-template #imageList>
        <div sui-list>
          <div suiListItem>
            <img sui-image suiAvatar src="https://semantic-ui.com/images/avatar2/small/rachel.png">
            <div class="content">
              <a sui-header suiSize="small">Rachel</a>
              <div>Last seen watching <a><b>Arrested Development</b></a> just now.</div>
            </div>
          </div>
          <div suiListItem>
            <img sui-image suiAvatar src="https://semantic-ui.com/images/avatar2/small/lindsay.png">
            <div class="content">
              <a sui-header suiSize="small">Lindsay</a>
              <div>Last seen watching <a><b>Bob's Burgers</b></a> 10 hours ago.</div>
            </div>
          </div>
          <div suiListItem>
            <img sui-image suiAvatar src="https://semantic-ui.com/images/avatar2/small/matthew.png">
            <div class="content">
              <a sui-header suiSize="small">Matthew</a>
              <div>Last seen watching <a><b>The Godfather Part 2</b></a> yesterday.</div>
            </div>
          </div>
          <div suiListItem>
            <img sui-image suiAvatar src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
            <div class="content">
              <a sui-header suiSize="small">Jenny Hess</a>
              <div>Last seen watching <a><b>Twin Peaks</b></a> 3 days ago.</div>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="linkList1"
        [templateCode]="snippetLink1">
      <h3 sui-header>Link</h3>
      <p>
        A list can contain links
      </p>

      <ng-template #linkList1>
        <div sui-list>
          <a suiListItem>What is a FAQ?</a>
          <a suiListItem>Who is our user?</a>
          <a suiListItem>Where is our office located?</a>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="linkList2"
        [templateCode]="snippetLink2">
      <ng-template #linkList2>
        <div sui-list>
          <div suiListItem>
            <a sui-header suiSize="small">Header</a>
            <div>
              Click a link in our <a>description</a>.
            </div>
          </div>
          <div suiListItem>
            <a sui-header suiSize="small">Learn More</a>
            <div>
              Learn more about this site on <a>our FAQ page</a>.
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [content]="headerList"
        [templateCode]="snippetHeader">
      <h3 sui-header>Header</h3>
      <p>
        A list item can contain a header
      </p>

      <ng-template #headerList>
        <div sui-list>
          <div suiListItem>
            <div sui-header suiSize="small">New York City</div>
            A lovely city
          </div>
          <div suiListItem>
            <div sui-header suiSize="small">Chicago</div>
            Also quite a lovely city
          </div>
          <div suiListItem>
            <div sui-header suiSize="small">Los Angeles</div>
            Sometimes can be a lovely city
          </div>
          <div suiListItem>
            <div sui-header suiSize="small">San Francisco</div>
            What a lovely city
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
  </div>

</doc-page>
