<doc-page
    header="List"
    subHeader="A list is used to group related content">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [content]="divStandard"
        [templateCode]="snippetList">
      <h3 sui-header>List</h3>
      <p>
        A list groups related content
      </p>

      <ng-template #divStandard>
        <div  sui-list>
          <div class="item">
            <i sui-icon suiIconType="users"></i>
            <div class="content">
              Semantic UI
            </div>
          </div>
          <div class="item">
            <i sui-icon suiIconType="marker"></i>
            <div class="content">
              New York, NY
            </div>
          </div>
          <div class="item">
            <i sui-icon suiIconType="mail"></i>
            <div class="content">
              <a href="mailto:jack@semantic-ui.com">jack@semantic-ui.com</a>
            </div>
          </div>
          <div class="item">
            <i sui-icon suiIconType="linkify"></i>
            <div class="content">
              <a href="http://www.semantic-ui.com">semantic-ui.com</a>
            </div>
          </div>
        </div>
      </ng-template>
    </doc-code-sample>
    </div>

</doc-page>
