<doc-page
    header="List"
    subHeader="A list is used to group related content">
  <div *docPageContent="'definition'">
    <h2 sui-header
        suiDividing>Types</h2>

    <doc-code-sample
        [templateCode]="snippetList">
      <h3 sui-header>List</h3>
      <p>
        A list groups related content
      </p>

      <ng-template docDemo>
        <doc-list-div-standard-example></doc-list-div-standard-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetList1">

      <ng-template docDemo>
        <doc-list-div-standard1-example></doc-list-div-standard1-example>
      </ng-template>
    </doc-code-sample>
    
    <doc-code-sample
        [templateCode]="snippetList2">

      <ng-template docDemo>
        <doc-list-div-standard2-example></doc-list-div-standard2-example>
      </ng-template>
    </doc-code-sample>
    
    <doc-code-sample
        [templateCode]="snippetList3">

      <ng-template docDemo>
        <doc-list-div-standard3-example></doc-list-div-standard3-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBulleted">
      <h3 sui-header>Bulleted</h3>
      <p>
        A list can mark items with a bullet
      </p>

      <ng-template docDemo>
        <doc-list-bulleted-list-example></doc-list-bulleted-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBulleted1">

      <div sui-message
         suiState="info">
        For convenience, a simple bulleted list can also use <code><b>ul</b></code> tag.
      </div>

      <ng-template docDemo>
        <doc-list-bulleted-list1-example></doc-list-bulleted-list1-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetBulleted2">

      <ng-template docDemo>
        <doc-list-bulleted-list2-example></doc-list-bulleted-list2-example>
      </ng-template>
    </doc-code-sample>
    
    <doc-code-sample
        [templateCode]="snippetOrdered">
      <h3 sui-header>Ordered</h3>
      <p>
        A list can be ordered numerically
      </p>

      <ng-template docDemo>
        <doc-list-ordered-list-example></doc-list-ordered-list-example>
      </ng-template>
    </doc-code-sample>
    
    <doc-code-sample
        [templateCode]="snippetOrdered1">

      <div sui-message
        suiState="info">
        An ordered list can also use the <code><b>ol</b></code> tag.
     </div>

      <ng-template docDemo>
        <doc-list-ordered-list1-example></doc-list-ordered-list1-example>
      </ng-template>
    </doc-code-sample>
    
    <doc-code-sample
        [templateCode]="snippetOrdered2">

      <div sui-message
        suiState="info">
        You can also manually specify a value for an ordered list using <code><b>data-value</b></code> on a <code><b>div</b></code>, or <code><b>value</b></code> on a <code><b>li</b></code>
     </div>

      <ng-template docDemo>
        <doc-list-ordered-list2-example></doc-list-ordered-list2-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLink">
      <h3 sui-header>Link</h3>
      <p>
        A list can be specially formatted for navigation links
      </p>

      <ng-template docDemo>
        <doc-list-link-list-example></doc-list-link-list-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header suiDividing>Content</h2>

    <doc-code-sample
        [templateCode]="snippetItem">
      <h3 sui-header>Item</h3>
      <p>
        A list item can contain a set of items
      </p>

      <ng-template docDemo>
        <doc-list-item-list-example></doc-list-item-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetIcon">
      <h3 sui-header>Icon</h3>
      <p>
        A list item can contain an icon
      </p>

      <ng-template docDemo>
        <doc-list-icon-list-example></doc-list-icon-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetImage">
      <h3 sui-header>Image</h3>
      <p>
        A list item can contain an image
      </p>

      <ng-template docDemo>
        <doc-list-image-list-example></doc-list-image-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLink1">
      <h3 sui-header>Link</h3>
      <p>
        A list can contain links
      </p>

      <ng-template docDemo>
        <doc-list-link-list1-example></doc-list-link-list1-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetLink2">
      <ng-template docDemo>
        <doc-list-link-list2-example></doc-list-link-list2-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHeader">
      <h3 sui-header>Header</h3>
      <p>
        A list item can contain a header
      </p>

      <ng-template docDemo>
        <doc-list-header-list-example></doc-list-header-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDescription">
      <h3 sui-header>Description</h3>
      <p>
        A list item can contain a description
      </p>

      <ng-template docDemo>
        <doc-list-description-list-example></doc-list-description-list-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header suiDividing>Variations</h2>

    <doc-code-sample
        [templateCode]="snippetHorizontal">
      <h3 sui-header>Horizontal</h3>
      <p>
        A list can be formatted to have items appear horizontally
      </p>

      <ng-template docDemo>
        <doc-list-horizontal-list-example></doc-list-horizontal-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHorizontal1">

      <ng-template docDemo>
        <doc-list-horizontal-list1-example></doc-list-horizontal-list1-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetHorizontal2">

      <ng-template docDemo>
        <doc-list-horizontal-list2-example></doc-list-horizontal-list2-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetInverted">
      <h3 sui-header>Inverted</h3>
      <p>
        A list can be inverted to appear on a dark background
      </p>

      <ng-template docDemo>
        <doc-list-inverted-list-example></doc-list-inverted-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSelection">
      <h3 sui-header>Selection</h3>
      <p>
        A selection list formats list items as possible choices
      </p>

      <ng-template docDemo>
        <doc-list-selection-list-example></doc-list-selection-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetAnimated">
      <h3 sui-header>Animated</h3>
      <p>
        A list can animate to set the current item apart from the list
      </p>

      <div sui-message
         suiState="info">
         Be sure content can fit on one line when using the animated variation, otherwise text content will reflow when hovered.
      </div>

      <ng-template docDemo>
        <doc-list-animated-list-example></doc-list-animated-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRelaxed">
      <h3 sui-header>Relaxed</h3>
      <p>
        A list can relax its padding to provide more negative space
      </p>

      <ng-template docDemo>
        <doc-list-relaxed-list-example></doc-list-relaxed-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRelaxed1">

      <ng-template docDemo>
        <doc-list-relaxed-list1-example></doc-list-relaxed-list1-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRelaxed2">

      <ng-template docDemo>
        <doc-list-relaxed-list2-example></doc-list-relaxed-list2-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetRelaxed3">

      <ng-template docDemo>
        <doc-list-relaxed-list3-example></doc-list-relaxed-list3-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetDivided">
      <h3 sui-header>Divided</h3>
      <p>
        A list can show divisions between content
      </p>

      <ng-template docDemo>
        <doc-list-divided-list-example></doc-list-divided-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCelled">
      <h3 sui-header>Celled</h3>
      <p>
        A list can divide its items into cells
      </p>

      <ng-template docDemo>
        <doc-list-celled-list-example></doc-list-celled-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCelled1">
      <ng-template docDemo>
        <doc-list-celled-list1-example></doc-list-celled-list1-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetCelled2">
      <ng-template docDemo>
        <doc-list-celled-list2-example></doc-list-celled-list2-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeMini">
      <h3 sui-header>Size</h3>
      <p>
        A list can vary in size
      </p>

      <ng-template docDemo>
        <doc-list-sized-list-example></doc-list-sized-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeTiny">

      <ng-template docDemo>
        <doc-list-sized-list-tiny-example></doc-list-sized-list-tiny-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeSmall">

      <ng-template docDemo>
        <doc-list-sized-list-small-example></doc-list-sized-list-small-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeLarge">

      <ng-template docDemo>
        <doc-list-sized-list-large-example></doc-list-sized-list-large-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeBig">

      <ng-template docDemo>
        <doc-list-sized-list-big-example></doc-list-sized-list-big-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeHuge">

      <ng-template docDemo>
        <doc-list-sized-list-huge-example></doc-list-sized-list-huge-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetSizeMassive">

      <ng-template docDemo>
        <doc-list-sized-list-massive-example></doc-list-sized-list-massive-example>
      </ng-template>
    </doc-code-sample>

    <h2 sui-header suiDividing>Content Variations</h2>

    <doc-code-sample
        [templateCode]="snippetVertical">
      <h3 sui-header>Vertically Aligned</h3>
      <p>
        An element inside a list can be vertically aligned
      </p>

      <ng-template docDemo>
        <doc-list-vertical-list-example></doc-list-vertical-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFloated">
      <h3 sui-header>Floated</h3>
      <p>
        A list, or an element inside a list can be floated left or right
      </p>

      <ng-template docDemo>
        <doc-list-floated-list-example></doc-list-floated-list-example>
      </ng-template>
    </doc-code-sample>

    <doc-code-sample
        [templateCode]="snippetFloated1">

      <ng-template docDemo>
        <doc-list-floated-list1-example></doc-list-floated-list1-example>
      </ng-template>
    </doc-code-sample>
  </div>

  <div *docPageContent="'api'">
    <h2 sui-header
        suiDividing>sui-list</h2>

    <h4 sui-header>Properties</h4>

    <table sui-table
           suiCelled
           suiDefinition>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>suiSize</td>
        <td>Set the list size. Allowed values could be
          <span sui-label>'mini'</span> | <span sui-label>'tiny'</span> | <span sui-label>'small'</span> | <span
              sui-label>'medium'</span> | <span sui-label>'big'</span> | <span sui-label>'huge'</span> | <span
              sui-label>'massive'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiRelaxation</td>
        <td>Relax the list padding. Allowed values could be
          <span sui-label>'relaxed'</span> | <span sui-label>'very relaxed'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiAlignment</td>
        <td>Set the vertical position. Allowed values could be
          <span sui-label>'top aligned'</span> | <span sui-label>'middle aligned'</span> | <span sui-label>'bottom aligned'</span>
          | <span sui-label>null</span>
        </td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiFloated</td>
        <td>Set the button float position. Allowed values could be
          <span sui-label>'right floated'</span> | <span sui-label>'left floated'</span>
          | <span sui-label>null</span></td>
        <td>
          <div sui-label
               suiColour="teal">
            string
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            null
          </div>
        </td>
      </tr>
      <tr>
        <td>suiInverted</td>
        <td>Apply inverted style to button</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiDivided</td>
        <td>Apply divisions between content</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiBulleted</td>
        <td>Mark items with bullet points</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiOrdered</td>
        <td>Order items numerically</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiLink</td>
        <td>Format item as navigation link</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiHorizontal</td>
        <td>Format items to appear horizontally</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiSelection</td>
        <td>Format list items as possible choices</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiAnimated</td>
        <td>Animate the current item to set apart from rest of the list</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>suiCelled</td>
        <td>Divide items into cells</td>
        <td>
          <div sui-label
               suiColour="teal">
            boolean
          </div>
        </td>
        <td>
          <div sui-label
               suiColour="grey">
            false
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</doc-page>
